[2022-01-20 19:10] ipetrovic11 opened #1058 "Events signature issues"
There are 2 signatures for event functions:

- old(payload, sender, event, ctx)
- new(ctx)

This makes things confusing when using moleculer packed with "pkg".

Is there a plan to remove old signature: https://github.com/moleculerjs/moleculer/blob/3d24e11c2dd3633ee530369d9f7effe1ad9ffa98/src/service.js#L463 ?

[2022-01-20 19:45] icebob commented on #1058
I don't know because it will break old modules. But you can force it with `context: true` in event definition.
Maybe I can add a broker option which disables the legacy signature.

[2022-01-20 19:49] ipetrovic11 commented on #1058
Good to know!

We are still on 0.14.0-beta5 because of changes with fastest validator :(

[2022-01-28 15:11] MartinYAC commented on #101
Hi @icebob. We are using Moleculer (also using fastest-validator) from September 2021 for our new business.
Website: [https://yacla.com](https://yacla.com) (not yet i18n)
Logo: ![YACLA Logo](https://yacla.com/wp-content/uploads/2020/04/website-logo-yacla.png)

Thank you so much for your work, the framework is awesome ! We will consider sponsorship in a near future.

[2022-01-29 16:03] icebob commented on #101
Thanks, I've added your logo. Sponsoring would be great.

[2022-02-07 05:29] hotlong commented on #101
Hi @icebob. We are using Moleculer on our low code project [Steedos Platform](https://github.com/steedos/steedos-platform)

Logo: ![image](https://user-images.githubusercontent.com/50353452/152729471-36c75a01-2314-4aee-b6ce-3d523d2483dc.png)

Website: https://www.steedos.com/

Thank you so much for your work

[2022-02-11 19:43] Eliam93 opened #1061 "Authentication error with NATS"
Hi all,
I'm using moleculer v. 0.14.19 with nats-server v. 2.7.0.
I've added authorization field in nats-server config, like this:

`authorization = {
    user: admin
    password: admin
}`

and in ServiceBroker config this object:

`url: "nats://localhost:4222",
user: "admin",
pass: "admin"`.

When I try to start the microservice, on nats-server console I see something like:

`[4028] [ERR] 127.0.

[2022-02-13 13:11] icebob commented on #1061
Use this shorthand:

[code]

or
[code]

[2022-02-16 10:03] h0x91b-wix commented on #809
Any updates?

[2022-02-18 17:13] Eliam93 commented on #1061
Thanks a lot! It works with the shorthand.

[2022-02-18 17:13] #1061 closed

[2022-02-19 19:21] #1014 closed

[2022-02-19 19:59] piranna commented on #1014
Why got this clossed?

[2022-02-19 20:18] icebob commented on #1014
Because PR created

[2022-02-19 20:19] piranna commented on #1014
Ok, didn't see it before, thanks :-D

[2022-02-20 00:51] intech commented on #809
It actually turned out to be not as easy a task as I thought when I created this issue. I will need to discuss this with the team.
The good news is that this only applies to Prometheus at the moment.

[2022-02-24 10:25] Embraser01 opened #1065 "Awaiting ctx.emit behave differently locally and remotely"
## :stop_sign: Do you want to ask a question ?

Please head to the [Discord chat](https://discord.gg/TSEcDRP)

## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the iss

[2022-03-07 13:18] manju4ever opened #1066 "Getting BAD_PAYLOAD when starting broker with Jest"
Hi Team,

So we're trying to test the microservice using jest. We've a transporter & another moleculer service in docker. When we invoke jest, it shows as `BAD_PAYLOAD`. The connection fails for some reason.

But if we put the same code as a separate JS file, it seems to be working fine.

[code]

### Context
* Moleculer version: 0.14.13
* NodeJS version: 16.6.0
* Operating System: MacOS

### Failu

[2022-03-09 11:49] moahammadalt commented on #902
Can you write the example here, codesandbox code is not available anymore

[2022-03-11 19:27] icebob commented on #1066
Check the version of NATS server and nats library. This is not a Moleculer error, it's a NATS error.

[2022-03-12 14:31] AndreMaz commented on #1053
Could you create a PR?

You would have to move the hard-coded error types (in `src/errors.js`) to `src/constants.js` and then export them in `index.js` as being done here
https://github.com/moleculerjs/moleculer/blob/422876c8f0142caa313a792f8069ac7aac12fb47/index.js#L46-L49

[2022-03-14 04:20] manju4ever commented on #1066
I will check this once more. Thanks @icebob.

[2022-03-15 13:28] manju4ever commented on #1066
Hi @icebob , we tried with upgrading nats and also the npm package. It only fails from the context of Jest.

Important thing: We're not loading the service into tests, instead we run the required services and then test it.

Nats Server: 2.7
Nats Client Lib: 2.6.1

Not sure what to do tried all ways. This also happens when testing with the default TCP transporter.

[2022-03-16 18:37] icebob commented on #1066
Try to create a minimal reproducible example code.

[2022-03-24 07:35] lling1105 opened #1070 "subscriber's event function ctx with different structure"
i have 2 clients subscribe the same event, when both receive the notice, one has ctx and can get the params correctlly, but the other one ctx is the params value, no params path, why?

both client service with the same codes,
#1 client event receiver:
     ctx.params  -> {"result":"ok"}

#2 client event receiver:
     ctx  -> {"result":"ok"}  and no ctx.params

[2022-03-24 08:17] AndreMaz commented on #1070
Hi @lling1105 can you create a repro repo please?

[2022-03-24 09:34] DenisFerrero commented on #1053
Hi, I'm in hurry to release a project. When I get some spare time I'll surely do it :ok_hand:

[2022-03-24 10:00] lling1105 commented on #1070
@AndreMaz this issue appeared when use webpack.js to build bundle.js, guess it's about the output setting: libraryTarget: 'commonjs2'. i changed to other kind target, but still the same

[2022-03-25 06:47] lling1105 commented on #1070
solved! set  webpack optimization.minimizer to none

[2022-03-25 15:14] ngraef commented on #1070
This seems like it's related to moleculer's support for two different function signatures for event handlers (see the [0.14 changelog](https://github.com/moleculerjs/moleculer/blob/master/CHANGELOG.md#context-based-events)). The code that determines which signature to use relies on the name of the parameter being `ctx` or `context`:

https://github.com/moleculerjs/moleculer/blob/422876c8f0142caa31

[2022-03-25 18:10] icebob commented on #1070
Exactly.

[2022-03-28 03:09] 0x0a0d opened #1071 "Should we allow custom populate params?"
Hi @icebob,

Currently, how `populate` receive & send params, is predefined on `settings.populates`, I wonder if we can make it more flexible. Instead of `populate: string[]`, we can accept populate as object like
[code]
Example: I only need populate `user.get` with field `name` but sometime need field `username`

[2022-03-28 03:17] 0x0a0d commented on #1071
wrong place, its moleculer-db

[2022-03-28 03:17] #1071 closed

[2022-03-29 00:51] jscottsf opened #1072 "Ctx is undefined when using shard strategy and preferLocal is false, throws error on emit"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Balanced events via broker.emit with two nodes, shard strate

[2022-04-01 00:32] valeeum commented on #973
Pretty sure the following line `this.pino.child({}, { level, ...bindings });` should be `this.pino.child(bindings, { level});`.

The child function signature is as follows: `function child (bindings, options) {...}`.  Reference line 79 in https://github.com/pinojs/pino/blob/master/lib/proto.js

I discovered this problem researching another unrelated issue (i think?) where logging calls are not con

[2022-04-01 16:17] icebob commented on #1072
Yeah, please create a fix PR.

[2022-04-02 19:19] pmamatsis commented on #100
@icebob hi. Since `moleculer-twitter` is not taken yet, may i try to have a go with it? Additionally, i wanted to ask you, about this plugin do you have any kind of thoughts?

[2022-04-03 14:15] pmamatsis commented on #100
@icebob referring to my earlier message, if there is no architectural plan for the plugin i was thinking to implement it vanilla by calling myself all the various Twitter's endpoints. There is a library for it but i was thinking about a clear implementation not just create a wrapper around it. How do you think?

[2022-04-06 07:34] AndreMaz opened #1077 "Dependencies deadlock in mixed architecture"
A deadlock might occur when services are deployed in [mixed mode](https://moleculer.services/docs/0.14/clustering.html#Mixed-architecture) and there's a dependency between services scattered across several nodes.

Here's a simple repro example:
[code]

### Explanation
node-1 has:

- location.service which depends on device.service located at node-2

- tenant.service which has no dependencies

node

[2022-04-06 17:31] icebob commented on #100
Yeah, it would be great. I have no plans, but I think a wrapper that wraps the functions to Moleculer actions can be good. Additional logic can be added by developers.

[2022-04-06 18:24] pmamatsis commented on #100
Hi @icebob, actually i had two options to tackle this. One was to use an existing twitter library and wrap around it (that the easy path i haven't took) and the other was to create a service from scratch (that is the hard path which was taken :) ). The link to my repository is: https://github.com/pmamatsis/moleculer-twitter

   Please have a look at it and give me your opinion about it. Of course

[2022-04-11 14:50] pmamatsis commented on #100
@icebob with regards to your message, you mean not to try and access the Twitter API natively but use another npm module?

Best regards,
Panos.

[2022-04-19 14:15] #1070 closed

[2022-04-19 14:16] #1066 closed

[2022-04-19 14:17] #1058 closed

[2022-04-19 14:17] #1053 closed

[2022-04-20 12:11] AndreMaz commented on #1077
Reopening as 0.14.20 does not fully solve the issue

[2022-04-20 13:55] AndreMaz commented on #1077
Example that doesn't work with 0.14.20

[code]

[2022-04-21 09:24] ibox4real opened #1085 "Set requestID in internal logs"
Currently the requestID is not provided inside some internal logging. For example the `Transit` logs when logLevel is set to `debug`.

[code]

This creates a situation where there is no way to correlate the debug logs between service calls. I believe the requestID should always be provided in the logs when it is available.

[2022-04-22 11:31] rohitpatidar007 opened #1088 "Some deeply nested options fed via docker compose env file are getting ignored"
### Prerequisite :
Code built on latest moleculer version with rabbitmq as transporter . Application is run via docker compose and transporter options are passed via docker-compose.env file.

### **Issue :**
As suggested by @AndreMaz on how to set deeply nested options via https://moleculer.services/docs/0.14/runner.html#Configuration-loading-logic , I tried to add below parameters to docker-compo

[2022-04-23 12:53] icebob commented on #1088
Duplicated with discussion topic

[2022-04-23 12:53] #1088 closed

[2022-04-23 13:30] #1077 closed

[2022-04-25 04:39] rohitpatidar007 commented on #1088
Thanks @icebob , it's working . I will put comments in discussion topic for more information.

[2022-04-26 04:52] nhadiq commented on #101
Hi @icebob we have been using Moleculer on our eCommerce platform (the world's first social eCommerce app)
Logo:
![logo for sticker white](https://user-images.githubusercontent.com/22941094/165224211-2f75fc8a-4060-4dc1-88e7-d83c3658d00a.png)

Website: [nearoo.com](https://nearoo.com/)

[2022-04-26 18:04] icebob commented on #101
@nhadiq awesome, I've added your logo.

[2022-05-07 07:20] intech commented on #1072
@jscottsf, please, check the error in my fork [`intech/moleculer`](https://github.com/intech/moleculer)

[2022-05-07 21:08] jscottsf commented on #1072
Sorry that I didn't get to the PR yet. It's been on my list.

@intech Did a quick code review on the fork and it looks right. Noticed that emit became async and got some refactoring. Will this get pulled into the original repo? :)

[2022-05-07 23:04] intech commented on #1072
@jscottsf It will but not now. The first is to deal with the performance slow due to refactoring.

[2022-05-09 18:11] HazemKhaled commented on #946
this one maybe jelp https://github.com/jiangzhuo/nestjs-moleculer

[2022-05-12 00:19] lowcode-artist commented on #101
Hi @icebob. We are using Moleculer on our Low-code authoring platform (get through the code to the last mile of the application)，Make it easier for more people to use microservices.

Name: Lowcode Artist
Logo:
![la-circle](https://user-images.githubusercontent.com/98684813/167967145-d4e6bb93-ea28-4797-a9b3-e812a3000e87.png)
Website: https://lcp.uuyang.cn

[2022-05-12 07:20] icebob commented on #101
Cool, I've added your logo!

[2022-05-26 14:21] keawade opened #1094 "Internal services pass `fastest-validator` param schemas to custom validator"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Custom validators are passed `fastest-validator` schemas by

[2022-05-29 13:05] intech commented on #1072
@jscottsf сan I close this issue as resolved? I was not able to reproduce the problem during the tests.

[2022-05-29 15:45] intech commented on #1065
@icebob This one affects `emit` and `broadcast` with an enabled balancer, which becomes a problem.

[2022-05-29 17:51] jscottsf commented on #1072
@intech Seems the code was patched in your fork. This will get merged into the main codebase I presume. If so, then yes please close. I can test in a scaled environment as well. Thank you!

[2022-05-29 17:56] intech commented on #1072
@jscottsf Already merged into the master branch. Can you test from master? I want to make sure it doesn't reproduce again.

[2022-05-29 19:26] jscottsf commented on #1072
I set up two runner instances with preferLocal false and NATS running. Posted to an api endpoint on one of the instances. The endpoint does an emit to trigger balanced events.

For the current production release -- round robin worked as expected. When I enabled the shard strategy with a shardKey, the issue persisted. THIS WAS EXPECTED.

Installed the version on master -- round robin worked as expe

[2022-05-29 19:47] intech commented on #1072
@jscottsf Excellent! Thank you too for your help!

[2022-05-29 19:47] #1072 closed

[2022-06-09 23:05] umamku commented on #101
Hi @icebob, We use it for our clients. Amazing. Our company https://mapeline.co.id
![logo mapeline kreasi digital](https://user-images.githubusercontent.com/57895172/172959356-4ca53f7b-5371-4add-9641-be210d279ea5.png)

Thank you.

[2022-06-10 16:37] 0x39 commented on #101
Hi @icebob, We are using Moleculer in production and loving it, Thank You!

Website: [ExchangeGate](https://exchange-gate.io)
Logo:
![EG_modif](https://user-images.githubusercontent.com/15102988/173111711-bddb0713-e028-4b8a-92d4-b43bd39a77a7.png)

[2022-06-10 19:40] andyfischer opened #1097 "moleculer.services web site not working (SSL cert invalid)"
## Current Behavior

Hopefully this is the right place to report this. The documentation site https://moleculer.services/ isn't working any more. Looks like the SSL certificate is invalid.

[2022-06-10 20:29] intech commented on #1097
@andyfischer SSL is ok
![IMG_20220611_002814](https://user-images.githubusercontent.com/451306/173145594-7b73f7a9-9aaa-4f13-89ee-9f45a14d03f0.jpg)

[2022-06-10 20:30] #1097 closed

[2022-06-11 07:58] icebob commented on #1097
I faced a similar issue at my work where the ISP using Cisco Umbrella blocked the whole "moleculer.services" domain. I've no idea how can I request the removing.

You can use the https://moleculer.netlify.app/ or https://moleculerjs.com/

[2022-06-14 17:21] andyfischer commented on #1097
thanks, https://moleculer.netlify.app/  works great :+1:

Yeah this does seem like it's caused by Cisco Umbrella. If I use Firefox and force accept the SSL cert, it just leads to a Cisco Umbrella error page (with message "This site is blocked due to a security threat."). Anyway for what it's worth, I used the "Report an incorrect block" link on that page so they hopefully fix it.

[2022-06-14 17:31] icebob commented on #1097
Thanks, in my hungarian blocked page there is no link :(

[2022-06-14 17:43] intech commented on #1097
This is the DPI for corporate traffic inspection. This solution already has for your browser https://support.umbrella.com/hc/en-us/articles/230903768--Your-connection-is-not-private-or-Cannot-connect-to-the-real-domain-com-HSTS-and-Pinning-Certificate-Errors-

[2022-06-20 14:53] icebob commented on #101
@umamku @0x39 awesome, thank you! I've added both logo to the site

[2022-06-27 07:51] Jank1310 opened #1100 "Streaming does not work with enabled compression"
## Current Behavior

Streaming does not work when compression middleware is enabled

## Expected Behavior

Streaming should work

### Steps to Reproduce

1. Add compression middleware
2. Send stream
3. Receive stream => fails

### Failure Logs
[code]

[2022-06-28 06:34] Jank1310 commented on #1100
@icebob Took some time to find the cause of the problem: sending "large" meta data along with the stream. It works without compression but not with compression enabled. With compression the receiving action handler is called two times. The first time with params = null, the second time with params = stream.

Sample repo: https://github.com/Jank1310/moleculer-compressed-stream-test-js

Steps to rep

[2022-07-07 18:43] Jank1310 commented on #1100
@icebob Did you get a chance to look at the example code?

[2022-07-10 19:20] icebob commented on #1100
Thanks the repro code. It looks like there is an issue in the stream ordering logic. Without compression, every packet is received one by one in the original order, but with compression, every packet compressing takes a different elapsed time, so the packets are received in random order and the last packet is received at first. This is the problem.

[2022-07-10 19:49] #1100 closed

[2022-07-11 17:08] wince87 opened #1102 "Ignore undefined methods when extends from parent class Service<S = ServiceSettingSchema>"
node_modules/moleculer/index.d.ts
class Service<S = ServiceSettingSchema> implements ServiceSchema {
.......................
......................

		**[name: string]: any** Problem in this line!!!

[2022-07-12 14:04] haris-reverie opened #1103 "Disable cached response for an action"
I am stuck on one use case, which comprises of disabling the cached response just for some api's , so that i could get a fresh response from that actions. So far i have got someting that only disables caching but noting which bypasses the cached response .

I was thinking of some option in cache object of action just like "enable" property maybe "enableCached" property which executes the code even

[2022-07-12 14:11] ColinFrick commented on #1103
@haris-reverie Maybe conditionally caching?
https://moleculer.services/docs/0.14/caching.html#Conditional-caching

[2022-07-12 14:23] #1103 closed

[2022-07-16 15:28] AndreMaz commented on #1102
Hi. Can you please provide more info of what exactly is the problem? How solving it will fix the issue and what's the alternative that can improve this situation?

[2022-07-17 10:24] Vslava opened #1105 "Possible error in broker.emit(). I cannot recognize that an event has been sent to the transport successfully."
If I invoke `broker.emit()`, I will never recognize that the event was sent to the transport successfully. The problem is that you return `this.transit.sendEvent(ctx)` or `this.Promise.all(promises)`, where promises are the results of `this.transit.sendEvent(newCtx)`, in `ServiceBroker.emit()`. Inside `Transit.sendEvent(ctx)`, you return
[code]
In such situation, the returned promise will never be

[2022-07-19 10:12] pibi opened #1106 "ESM support breaks custom validator initialization"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

When requiring the base module to setup a custom validator,

[2022-07-19 11:09] pibi commented on #1094
Here at https://github.com/pibi/moleculer-json-schema-validator we are using an explicit `jsonSchema` property to work around that. Regular schema is handled by fastest-validator as a fallback.

Unfortunately, this module does not work with 0.14.21 (see issue #1106).

[2022-07-19 13:00] #1106 closed

[2022-07-23 11:27] AndreMaz commented on #1105
Hi @Vslava can you please take a look at https://github.com/moleculerjs/moleculer/issues/1065 and see if it's somehow related to the issue that you've reported?

[2022-07-25 01:59] Vslava commented on #1105
Hi @AndreMaz It seems no. They tell that the local emit request is waiting when the code is completed. I tell that I don't get any information about the emit has a problem while it is running. For example, if the transport get down and after that I emit an event, I will get that the operation has been resolved successfully, but I see in the log that actually the event hasn't been sent to the trans

[2022-07-26 20:24] AndreMaz commented on #1105
I think that this need further discussion.

The overall idea is that events are fire-and-forget, i.e., you don't get any guarantees about the delivery of the event.

Even if the event is sent again (and it reaches the transporter) there are still no guarantee that it will be delivered to the `consumer`. The `producer` does not know if the `consumer` is connected to the transporter or not. Not full

[2022-07-27 08:16] intech commented on #1105
@AndreMaz, this issue #1065 has a different issue. There, a local call to `emit` and `broadcast` occurs through `await` while waiting for a resolve `Promise`, so it turns to wait of executing all the code in the handler.

[2022-07-27 08:32] intech commented on #1105
@Vslava the fact is that you need to separate two different systems.
Namely, the moleculer transport is a message broker that does not have a guaranteed delivery task, so it only is a publication of messages.
You can process sending messages asynchronously through events, which is the best option in node.js.
If you need message assurance, you must consider streaming systems (Kafka, JetStream, etc.

[2022-07-27 15:09] mituBarua opened #1107 "ctx meta user issues"
How can i access ctx.meta.user ?

[2022-07-27 18:46] AndreMaz commented on #1105
You're right @intech it's a different issue but I think that `emit()` should have a consistent behavior regardless of being processed locally or remotely.

In the case of local `emit()`, that waits unit the handler finishes the processing, it is possible to catch an error. On the other hand, in remote `emit()` this is not possible. Ideally, the devs should expect the same behavior in both cases.

[2022-07-28 15:47] Vslava commented on #1105
@AndreMaz @intech

I agree that there’s no guarantee that an event will be delivered because you don’t know that somebody is listening to the event or not. The event sender cannot know who is subscribed for the event.

However, a moleculer user has to be sure that an event will reach the transporter and be accepted for delivery and the event will be accepted by the consumer successfully but you do

[2022-07-28 18:33] #1102 closed

[2022-07-28 18:36] #1085 closed

[2022-08-03 09:31] icebob commented on #1105
@Vslava as I see, your main problem is that in the `catch` case we didn't throw further the original error. So if we add a `throw err` into the `catch` block, the error goes to the caller and you can catch it on your code as well, right?

[2022-08-03 18:01] disce-omnes opened #1113 "Allow non-async function in service.started() and service.stopped()"
## Is your feature request related to a problem? Please describe.
Type definitions for ServiceSchema.started() and ServiceSchema.stopped() ([link](https://github.com/moleculerjs/moleculer/blob/f04206209b67ad703a675fb82a5770994fcebe11/index.d.ts#L729)) require async functions. However passing non-async functions there also works.

There are use cases when you don't need service lifecycle event hand

[2022-08-03 18:02] AndreMaz commented on #1105
As @icebob suggested throwing an error would propagate the error, allowing you to catch and react to it.

However, introducing this could be a breaking change. I'm saying could because I saw several times situation like

[code]
Throwing an error without the `catch()` would cause an unhandled promise rejection, causing the process to exit. I'm not discussing if this is a good (or bad) code, I'm jus

[2022-08-03 19:34] intech commented on #1113
Maybe the asynchronous method on events will suit you?
[code]

[2022-08-03 22:54] ccampanale commented on #1113
@disce-omnes In my opinion, if the success of the service start-up depends on making a call to an external service, that service should be set as a dependency, a promise should be returned from the `started` life-cycle hook, and the result (whether it was able to do what was required) should be used to determine whether that promise resolves or rejects and in turn if the service started correctly.

[2022-08-04 10:56] disce-omnes commented on #1113
You're right, in this example `$broker.started` works and is a better place for this type of logic.

But I used it just as an example, my main point was that types should define what can be done with a code entity. Here passing non-async function works, but the type system prohibits it. So, to me, either the types should be changed to allow it, or passing non-async function should lead to a runtim

[2022-08-04 12:31] shawnmcknight commented on #1113
This request is very similar to that of the change from #1099 .  If Moleculer is wrapping the handler in a promise returning function, then the type definitions should likely allow consumers to provide a function which is not promise returning.

[2022-08-04 18:44] Vslava commented on #1105
@icebob Yes. You are right.

[2022-08-05 07:01] HaiBien opened #1114 "errorHandler in moleculer.config.js"
#moleculer.config.js

"use strict";
module.exports = {
    errorHandler: null,
}

I want to know how errorHandler is used?
I have seen the document (https://moleculer.services/docs/0.14/broker.html#Global-error-handler) but it doesn't help

[2022-08-05 07:10] lucduong commented on #1114
What exactly do you expect here?

Could you write more detail? Cos that I saw you set `errorHandler` is `null`,

[2022-08-05 07:25] HaiBien commented on #1114
@lucduong  e chào a ạ.
em đang muốn bắt một số lỗi và custom lại nó. Em đọc trên docs thì thấy có errorHandler xử lý lỗi, mà e chưa biết phải sử dụng nó như thế nào ạ.
# ảnh lỗi muốn custom: https://prnt.sc/dZBte7wiuh7a
![image](https://user-images.githubusercontent.com/59249915/183024321-3c1a18e7-1500-44ca-8e59-91d719829872.png)

[2022-08-05 08:31] intech commented on #1114
For 404 handler in `moleculer-web` see [this example](https://github.com/moleculerjs/moleculer-web/blob/master/examples/full/index.js#L164-L169)

[2022-08-05 09:47] HaiBien commented on #1114
This works perfectly. Thanks

[2022-08-09 14:16] disce-omnes opened #1116 "Configurable service dependencyTimeout in broker options"
## Is your feature request related to a problem? Please describe.
Currently it's impossible to set [dependencyTimeout](https://moleculer.services/docs/0.14/services.html#Dependencies) in broker options, it's only possible on a per service level.

However there is already a configurable option for `dependencyInterval` both in [broker options](https://moleculer.services/docs/0.14/configuration.html#

[2022-08-11 07:00] #1116 closed

[2022-08-12 09:22] #1113 closed

[2022-08-12 14:54] Marinell0 opened #1121 "Monolithic dynamic service creation and destruction memory leak"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

We (@rulrok and me) currently create and destroy services on

[2022-08-12 15:02] rulrok commented on #1121
Hi, I was also involved in looking up this issue.

Some points we thought worth looking into:

Maybe it missed removing nodes in this point:
https://github.com/moleculerjs/moleculer/blob/6ea23c6280179cfc8eb7d8f01c09c1d65a4a7a07/src/registry/service-catalog.js#L221-L228

Because there is a deepClone happening here, once the original references are deleted, these ones remaing untouched it seems.
htt

[2022-08-13 14:06] icebob commented on #1121
Thanks for the detailed report, I will check it.

[2022-08-14 12:48] Jank1310 opened #1122 "Meta data is empty for stream with enabled compression"
@icebob The latest release fixed the stream issue but unfortunately meta data sent using `meta` is missing :-/
I've updated the reproduction repository and added a log output for meta which is `{}` is compression is enabled.

https://github.com/Jank1310/moleculer-compressed-stream-test-js

## Steps to Reproduce
Start local nats
npm run dev1
npm run dev2
call: sender.send action
Log on receiver sid

[2022-08-14 17:22] debadree25 commented on #100
Hello,
Is anyone working on implementing any of the key-value store interfaces? I am fairly new to open source but have some development experience and really love this framework and I think it would be a great learning experience for me. I wondering about starting work on moleculer-store-dynamodb as I have some experience with aws services any pointers on what would the requirements be on this? w

[2022-08-14 19:42] intech commented on #100
@debadree25 see [this repo](https://github.com/katsanva/moleculer-db-adapter-dynamodb). It's the store for dynamodb for moleculer-db

[2022-08-14 19:59] debadree25 commented on #100
@intech ayee thanks for pointing it out! looks like we can check dynamodb off the list maybe anyone has worked on the redis one?

[2022-08-14 20:06] intech commented on #100
@debadree25 with Redis works out of the box. If you have experience with AWS, will you help with SQS transport in [this repo](https://github.com/devalexandre/Moleculer-Transport-AmazonSQS) (testing, refactoring and adding tests)?

[2022-08-14 21:46] debadree25 commented on #100
I would love to contribute will check repo asap! Thank you so much @intech !

[2022-08-15 17:16] rochdev opened #1123 "`waitForServices` times out after the first interval is reached since 0.14.22"
## Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

`waitForServices` times out after the first interval is reached.

## Expected Behavior

`waitForServices` should retry indefinitely unless a

[2022-08-15 17:31] icebob commented on #1123
Thanks the report, it was a wrong variable issue, but fixed.

[2022-08-15 17:59] icebob commented on #1122
Thanks, nice catch. But it looks like a more complicated issue. :(

[2022-08-16 06:33] Jank1310 commented on #1122
Let me know if I can help somehow 🙂

[2022-08-16 07:14] icebob commented on #1122
@Jank1310 would be good if you can try it in your environment. You can install with `npm i moleculerjs/moleculer#issue-1122`

[2022-08-16 08:27] Jank1310 commented on #1122
It works, thank you very much 🙏

[2022-08-16 09:18] icebob commented on #1122
Great, then I will fix the E2E issues and I will make a new release.

[2022-08-16 09:21] #1122 closed

[2022-08-16 14:01] icebob commented on #1123
Released as 0.14.23

[2022-08-16 14:01] #1123 closed

[2022-08-16 14:01] icebob commented on #1122
Released as 0.14.23

[2022-08-16 19:06] SnickerChar opened #1124 "0.14.22 Release Broke Service.mergeSchemas() and others"
The 0.14.22 release broke the Service.mergeSchemas() method, likely along with all other static members of the Service class. We just updated to 14.22 from 14.21, and started getting errors at startup like this:

[code]

This PR introduced the change: https://github.com/moleculerjs/moleculer/pull/1098.

The module that is complaining is my own moleculer-ioc (https://github.com/csibbach/moleculer-i

[2022-08-17 18:39] intech commented on #1124
@SnickerChar Sorry for breaking your package. Changes were needed to use the ServiceFactory. Previously, this was impossible due to static methods and the impossibility of overriding them.

You just need to replace from `Service.mergeSchemas` to `this.mergeSchemas` to restore your module.
https://github.com/csibbach/moleculer-ioc/blob/develop/src/index.ts#L32

Thank you for your contribution to th

[2022-08-17 22:41] SnickerChar commented on #1124
Thank you! I understand why the change was needed, and it would be undesirable to mint a new major version just for that. I can't think of a better way to do this. I created the issue mainly to help anybody else that might encounter this.

[2022-08-17 22:41] #1124 closed

[2022-08-19 17:07] serverfire commented on #101
Hi @icebob , we are using Moleculer in our product, thank you for great product

Website: [SmartStopSet.com](https://smartstopset.com)
Logo:
<img width="526" alt="Screen Shot 2022-08-19 at 9 35 35 PM" src="https://user-images.githubusercontent.com/132761/185670997-e51eea7b-62ed-464d-a390-14c31fe0b950.png">

[2022-08-21 11:46] icebob commented on #101
@serverfire great, I've added your logo.

[2022-08-21 14:39] icebob commented on #1124
@SnickerChar thank you for the report and sorry for your inconvenience. You are right, it breaks if somebody uses it in libs or projects.
When I merged the PR, I thought these methods were not used directly because they were not published in documentation.

@intech if it causes more problems later, we should put back the original code and somehow solve that both implementations can work side by si

[2022-08-25 18:10] hienbase opened #1127 "Tracing not working when set internalMiddlewares:false"
When i set param internalMiddlewares: false (moleculer.config.js). Tracing console not working

[2022-08-25 18:27] intech commented on #1127
@hienbase tracing is one of the [built-in middleware](https://moleculer.services/docs/0.14/middlewares.html#Internal-middlewares).

[2022-08-26 22:27] guydeschepper commented on #101
Hey @icebob, we're using Moleculer for some services in our products.
And now we're considering to (re)write more and more of our services with Moleculer.
Thanks for the great work!

Company: 2BuildIT
Url: https://2buildit.be
Logo:
![logo_2BuildIT](https://user-images.githubusercontent.com/76969921/186998445-c0925f75-15a7-4797-807e-653c3b49298e.png)

[2022-08-27 10:25] icebob commented on #101
Great thanks @guydeschepper, I've added your logo.

[2022-08-29 12:27] SockeThe2nd opened #1129 "Moleculer causes typescript errors with typescript version 4.8.2"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

The currents version of moleculer throws a typescript error

[2022-08-29 15:12] rulrok commented on #1121
Just an update that could help:

We are using a forced hack to clean up the resources and so far the memory has been more stable along the week.

![image](https://user-images.githubusercontent.com/3097987/187233822-ebc0cfdf-4eda-4cd8-baca-51c5c40d3558.png)

[code]

[2022-08-29 15:25] shawnmcknight commented on #1129
I agree that having `S extends `ServiceSettingSchema` in all of these locations is a more correct interpretation of what the generic should be since the internal properties are present on the value of `settings` even if the consumer specified an interface that does not include them.

However, this change is likely to introduce a breaking change for anyone that did not previously pass a generic arg

[2022-08-30 13:31] disce-omnes opened #1132 "Slower broker startup times since v0.14.20"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Since version 0.14.20 broker startup time is much slower if there are many services in it.

In an [example project

[2022-08-30 17:08] icebob commented on #1132
Yeah, the dead-lock resolve PR caused the slowdown. I don't think, we can turn on/off these changes because it would make the startup code too complicated in the broker.

The slow code is in line 468 (safety object cloning to avoid circular JSON structures), but the root cause is that we call this method after every service starts (while it is only sent once per second):
https://github.com/molecul

[2022-08-31 08:54] disce-omnes commented on #1132
Stringifying & parsing JSON has a heavy performance penalty. It might be possible to just traverse an object recursively and replace all circular references with something. In fact there is already circularReplacer that does a similar thing. I did that in my project for BaseTraceExporter.flattenTags & got about x3 performance boost.

That & generating info only when sending it should improve start

[2022-08-31 17:13] AndreMaz commented on #720
How this feature would work?
Imagine the following scenario:
![image](https://user-images.githubusercontent.com/9802754/187738222-eb667820-2e1e-464c-9290-f4c5e4450676.png)
and `excludes` field with [`"math.**"`]

In this case the `excludes` means that if we call `math.random` directly there won't by any tracing?
Or `excludes` means that if we call `greeter.hello` everything after `math.random`, in

[2022-08-31 17:37] AndreMaz commented on #1132
As @icebob mentioned this was introduced in a fix to solve a service deps dead-lock in mixed arch (link to the original issue with an example: https://github.com/moleculerjs/moleculer/issues/1077)

The solution to overcome this was to emit INFO packets after each service "wakes" up and become available.

However, to avoid emitting a burst of INFO packets (one for each service) we've added a `debou

[2022-08-31 18:15] intech commented on #720
@AndreMaz I think it should only be for `math.*`
![tracing](https://user-images.githubusercontent.com/451306/187750231-838466a2-28c5-462b-817c-8e3dca97280b.jpg)

[2022-08-31 18:34] AndreMaz commented on #720
So, under the hood, it is still necessary to collect all spans and only when pushing or printing them the `mat.**` is excluded?

[2022-08-31 18:41] intech commented on #720
Yes, we have discussed this before in discord. In the current implementation, it is not possible. Even if tracing is disabled, it will still collect spans and won't send them.
It is now an acceptable solution to get the functionality to look for unnecessary services from the trace.

[2022-08-31 19:34] ostracod opened #1133 "mergeSchemas is no longer available as a static class method of Service"
## :stop_sign: Do you want to ask a question ?

Please head to the [Discord chat](https://discord.gg/TSEcDRP)

## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the iss

[2022-09-01 14:59] gionaico commented on #845
Is there any answer about this problem?

[2022-09-01 15:34] gionaico commented on #845
It works but the correct way to use __"Redis-Sentinel"__ as transporter is this:

[code]

[2022-09-02 08:29] intech commented on #1133
@ostracod Thanks for your feedback!
As I understood from the proposed solution, updating the documentation would be a good compromise.
You can read about [this issue](https://github.com/moleculerjs/moleculer/issues/1124#issuecomment-1218366223).

[2022-09-02 11:48] ostracod commented on #1133
@intech Thanks for updating the docs!

[2022-09-02 11:48] #1133 closed

[2022-09-02 16:49] moonrailgun opened #1134 "Why remove repl in .d.ts file? its not match document in website."
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

![image](https://user-images.githubusercontent.com/6964737/1

[2022-09-02 18:02] shawnmcknight commented on #1134
The types were moved to the repl package itself and augment the base moleculer module. The types don't belong in moleculer itself because the repl is a plugin and without the plugin the types are not relevant.

[2022-09-03 02:42] moonrailgun commented on #1134
Hi, @shawnmcknight. Thanks for your reply, so it looks like i have to import `moleculer-repl` in my source code although i not use it directly.

---------

Another problem is its looks like add 3 field and i have to explicit declare it although i not use it. Why not define as a optional?

![image](https://user-images.githubusercontent.com/6964737/188252829-7df337c6-aade-4321-a621-da0dfc774e5f.png)

[2022-09-03 15:21] shawnmcknight commented on #1134
Not necessarily.  You need to make sure Typescript is aware of the repl's `d.ts` file.  By default, Typescript includes `**` and excludes `node_modules`, so the repl's `d.ts` file won't be visible without importing it.  However, there are a couple of approaches you could take to make it visible without importing.  You could add it to your include paths, or use a technique like indicated [here ](ht

[2022-09-03 15:55] moonrailgun commented on #1134
Thanks for your reply, i will close this issue

[2022-09-03 15:55] #1134 closed

[2022-09-04 09:33] disce-omnes commented on #1132
Unfortunately, that didn't improve performance.

It would seem that the way to optimize broker startup time is to call `regenerateLocalRawInfo` only once a second, before each INFO packet, instead of each time a local service comes online.

Alternatively, circular reference protection on startup could be dropped, if circular references could only be in metadata (that is only in user-supplied data)

[2022-09-06 17:24] intech commented on #101
Tokenplace.com
![Logo-4-4](https://user-images.githubusercontent.com/451306/188697105-3e9781bb-fe43-4ec1-8560-1d77421fb5ed.svg)

After almost a whole year of work on the project as a CTO and architect. :nerd_face:
We have developed a platform with a fault-tolerant architecture with dynamic scaling of services depending on the activity of trading on exchanges.
Processing millions of messages from t

[2022-09-07 06:52] icebob commented on #101
Good job @intech! And thank you for your contribution in the team!

[2022-09-11 08:30] ilshookim opened #1135 "[issue] fixed to tests work correctly with @sinonjs/fake-timers in utils.spec.js"
## First. separate polyfillPromise and Promise test.

This will make it work correctly when partially testing the test item.

[code]

## Next. changed clock.tickAsync() instead of clock.tick() in promise.delay, promise.timeout.

This will make the promise.delay, promise.timeout tests work correctly

[code]

[2022-09-11 17:35] icebob commented on #1135
if you found any issue in test, please open a PR with the fix, instead of copying codes.

[2022-09-12 00:22] ilshookim commented on #1135
Okay.. I'll open a PR later.

[2022-09-12 00:22] #1135 closed

[2022-09-12 08:54] mehmetkir84 commented on #1036
Hi;
I want to assign action custom load balance strategy. Why is it not working?

this.parseServiceSchema({
        name: "Client",
        actions: {
          register: {
            strategy: "RoundRobin",
            preferLocal: true,
            handler: this.register,
          },
        }
      });

[2022-09-15 10:13] HaiBien opened #1136 "I have a problem sending data from frontend (ReactJs) to backend (NodeJs)."
I have a problem sending data from frontend (ReactJs) to backend (NodeJs).

**my data**
[code]
**the data i get at the backend**

![image](https://user-images.githubusercontent.com/59249915/190378410-f4e8a948-815a-4ab0-ab85-d3a57d98ac71.png)

`
data  [
{
fileName: ['a.png','b.png'],
filePath: ['.//file/a.png', './/file/b.png']
}
 ]
`

how do i get the data in its correct format

[2022-09-15 14:34] intech commented on #1136
@HaiBien Make a repro (moleculer) and raw request to API.
What type of data is passed (json/multipart/urlencoded)?

[2022-09-16 00:58] HaiBien commented on #1136
@intech type of data json

[2022-09-18 21:13] juandl opened #1137 "Error: Invalid 'undefined' type in validator schema."
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am running the latest version
- [ x] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository

## Current Behavior

Running moleculer in "development mode" using a custom v

[2022-09-18 21:20] juandl commented on #1137
I believe this happens because on https://github.com/moleculerjs/moleculer/blob/master/src/validators/index.js#L32 this function is trying to look for a match on the object "Validators" but it doesn't exist so it runs a default as "Fastest" and when it reaches "Fastest" compile function, it won't work as Joi schema is an object with functions, (no valid schema for Fastest)

So I'm not sure if the

[2022-09-18 22:00] juandl commented on #1137
I try to create a small solution that is updating this function [resolve](https://github.com/moleculerjs/moleculer/blob/master/src/validators/index.js#L32)

like this
[code]

checking if the custom validator is a "class" looking for a constructor and the name, going this way, there's not an error at all.

[2022-09-21 20:11] SKarajic opened #1138 "Typescript definitions don't match the actual Javascript implementation"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior
The current version of the Typescript definitions don't match

[2022-09-22 09:39] saeedtabrizi commented on #1138
I had same issue , but I fixed this issue  via removing all `mergeSchemas` methods  from service classes .

[2022-09-22 21:30] SKarajic commented on #1138
In case anyone wants to patch their typescript file, I've temporarily made a tag on my fork with the fixes ([link over here](https://github.com/skarajic/moleculer/tree/0.14.23-patched)). To use the patch, replace your dependency version in the package.json with `https://github.com/skarajic/moleculer#0.14.23-patched`. I'll be deleting the tag again once my merge request is merged into the repositor

[2022-10-01 16:35] #1121 closed

[2022-10-01 16:35] icebob commented on #1121
I've fixed. @Marinell0 could you test it plz?

[2022-10-01 16:47] icebob commented on #1136
Please create a repro code.

[2022-10-01 17:46] #1137 closed

[2022-10-01 17:47] icebob commented on #1137
Thanks the report, I've fixed it. Next version will be released.

[2022-10-01 18:53] icebob commented on #1132
@disce-omnes I've fixed the issue. Again it starts in 600ms instead of 4sec:

![image](https://user-images.githubusercontent.com/306521/193424048-537d360f-550f-44ed-9aa0-df300247032e.png)

Could you test it plz in your project? For the test, install master with `npm i moleculerjs/moleculer`

[2022-10-03 12:27] icebob commented on #1121
Awesome, thanks for your feedback.

[2022-10-05 09:01] disce-omnes commented on #1132
Yes, it brought startup times almost to the same level as before the change. I tested on two different machines:

First test case:
- 0.14.19: 645 service(s) started successfully in 23s
- 0.14.23: in 40s
- master (c91fa4b5cc8510c51203eb1986bcacc49333f6ae): in 25s

Second test case:
- 0.14.19: 645 service(s) started successfully in 29s
- 0.14.23: in 49s
- master (c91fa4b5cc8510c51203eb1986bcacc49333

[2022-10-05 09:20] icebob commented on #1132
Cool. I try release it this week.

[2022-10-10 20:48] intech commented on #261
Because NATS and AMQP servers can run a WebSocket server out of the box, implementing a specialized transport will be redundant.
In addition, there are already several modules for WebSocket under Moleculer.
Therefore, I propose to close this issue as obsolete.

[2022-10-10 20:56] intech commented on #273
This issue was resolved by adding the `autoDeleteQueues` and `expires` options for service queues.

[2022-10-10 20:56] #273 closed

[2022-10-10 22:17] intech commented on #608
Released in [v0.14.19](https://github.com/moleculerjs/moleculer/releases/tag/v0.14.19) by PR #1048

[2022-10-10 22:17] #608 closed

[2022-10-10 23:01] intech commented on #781
@icebob can we consider this problem solved in moleculer-channels and coming out of the moleculer scope?

[2022-10-10 23:13] intech commented on #805
In terms of container architecture, this was my wrong suggestion.
It is correct when there is one process per 1 CPU inside the container without a race for resources and control over the container.

[2022-10-10 23:13] #805 closed

[2022-10-10 23:48] intech commented on #857
[code]

[2022-10-10 23:48] #857 closed

[2022-10-11 07:05] icebob commented on #1132
Released.

[2022-10-11 07:05] #1132 closed

[2022-10-11 07:37] jscottsf commented on #1072
I was informed that another beach was going to fix it. It’s actually an issue since the current code does not pass the context.

Did you fire up separate runner instances and use the NATS transporter. Over local transport it won’t happen. The tests likely don’t cover this.

Sent from my iPhone

[2022-10-11 09:09] #1114 closed

[2022-10-12 16:54] #261 closed

[2022-10-12 16:56] icebob commented on #781
Yeah, I think it can work with moleculer-channel but won't work with moleculer events.

[2022-10-12 16:58] icebob commented on #1072
Could you create a repro test?

[2022-10-20 17:26] h3x3d opened #1146 "Moleculer ESM Runner export"
## :stop_sign: Do you want to ask a question ?

Please head to the [Discord chat](https://discord.gg/TSEcDRP)

## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the iss

[2022-10-23 07:22] kostenko commented on #101
Hello, @icebob!

We're using Moleculer in production and love it!

Company: todo.space
URL: [https://todo.space](https://todo.space)
Logo:
![logo](https://user-images.githubusercontent.com/1633968/197379502-f67516f6-1a45-4200-825b-0cec045bfa4c.png)

[2022-10-23 09:09] anildalar commented on #820
I can work on this PR .
This can be done with volume mounting.

[2022-10-23 19:20] icebob commented on #101
@kostenko good job, I've added your logo.

[2022-11-06 23:58] sorattorafa opened #1150 "Fix datetime flaky test on serializers"
## Fix datetime flaky test on serializers

Please head to the [Discord chat](https://discord.gg/TSEcDRP)

## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to

[2022-11-07 00:02] sorattorafa commented on #1150
The solution is on PR https://github.com/moleculerjs/moleculer/pull/1151

[2022-11-07 11:47] mormubis commented on #327
Hey @icebob, I was trying to help with something and realized this feature is already part of `moleculer`.  Should we close this issue?

[2022-11-07 18:06] icebob commented on #327
Yeah, it's covered by hot reload middleware. I'm closing...

[2022-11-07 18:06] #327 closed

[2022-11-15 20:14] #1150 closed

[2022-11-15 20:14] #1138 closed

[2022-11-15 20:14] #1136 closed

[2022-11-15 20:15] #1129 closed

[2022-11-17 05:01] martinjiitak commented on #101
Hello @icebob

Company: 株式会社JIITAK (Jiitak Inc.)
Region: Japan
Url: https://jiitak.jp/

For our latest projects, we use Moleculer, and developers simply love it.
And now now we're considering switching our past to Moleculer.

![Jiitak logo background 320x132@2x](https://user-images.githubusercontent.com/78127224/202360167-fe382444-2b64-452d-93d0-4d9e97481228.png)

[2022-11-17 08:07] icebob commented on #101
Thanks @martinjiitak I've added your logo to the site.

[2022-11-17 09:38] martinjiitak commented on #101
I just wanted to make sure if it was expected to reflect immediately or with a time gap. Just curious!😅

[2022-11-17 10:31] icebob commented on #101
Logo should appear in some minutes, but now there is an issue on Netfily. I'm fixing...

[2022-11-20 20:41] bcavlin commented on #988
Does this have something to do with the fact that Datadog requires key to be sent in header, and not as param?
`return fetch(
			`${this.opts.baseUrl}${this.opts.apiVersion}${this.opts.path}`,
			{
				method: "post",
				body: JSON.stringify({ series }),
				headers: {
					"Content-Type": "application/json",
                                        "DD-API-KEY": this.opts.apiKey
				}
			}
		)`

[2022-11-21 12:35] icebob commented on #988
@bcavlin could you create a PR?

[2022-11-28 09:41] developez opened #1158 ""server instance pool was destroyed" in a persistence service with mongo when mongo db restarts"
I got a persistence service that uses mongo. When mongo restarts, the persistence service returns "server instance pool was destroyed". I think in reset the persistence service when that thing happens. Is there another idea to deal with this???

Moleculer 0.14.12

[2022-11-28 09:51] intech commented on #1158
Are you using [`moleculer-db-adapter-mongo`](https://github.com/moleculerjs/moleculer-db/tree/master/packages/moleculer-db-adapter-mongo)?

[2022-11-28 18:18] SonahtQ opened #1159 "There is no types file for importing as ESM module."
When You importing Moleculer from ESM/Typescript project, it says Moleculer needs types definitions. I've checked in moleculer source, there is no `index.d.mjs` types file.