[2019-05-26 19:22] icebob commented on #542
Yes, all events balanced between service instances. So if you have 3 instances of Service 2 and 2 instances of Service 1, only one Service1 & one Service 2 will receive the event.

[2019-05-27 02:31] LiamShao commented on #541
Thanks a lot, It works for me.

[2019-05-27 02:31] #541 closed

[2019-05-31 09:05] LiamShao opened #543 "Can I create a private or local service only that node could call it?"

[2019-05-31 09:18] icebob commented on #543
Yes: https://moleculer.services/docs/0.13/actions.html#Action-visibility
For questions please use Gitter chat or Stack Overflow with #moleculer tag.

[2019-05-31 09:18] #543 closed

[2019-05-31 09:18] #542 closed

[2019-06-03 05:00] pxuanthu98 opened #545 "Can I connect with remote service written by other framework?"
**Connect with remote service written by other framework**
Hello all,
I have some services written by NestJS, using NATS transporter. Now I want to connect them with my services written by MoleculerJS to using built-in Service Discovery and Serivce Register.
Can I do it?
Thanks!

[2019-06-03 16:22] icebob commented on #545
No. Moleculer is compatible with other [Moleculer libraries](https://github.com/moleculerjs/moleculer/issues/347)

[2019-06-03 21:03] d3d-z7n opened #546 "Fallback middleware not invoked when circuit breaker is open"
## Current Behavior
Fallback middleware is not invoked when circuit breaker is in an open state.

## Expected Behavior
Fallback middleware should be invoked when circuit breaker is in an open state, if a fallback response function is supplied.

## Failure Information

### Steps to Reproduce
1. Enable circuit breaker.
2. Provide fallback response to action.
3. Trip circuit breaker.
4. Observe fallb

[2019-06-04 20:45] sysrun opened #549 "NEXT: Subspan emit to jaeger fails"
Using the current "next" branch:

Create and finish subspan in a service action:
[code]

Result:
```RangeError: Index out of range...```
Span is not emitted to jaeger

Cause: The "service" property is not set in the span (undefined)

Workaround:
[code]

[2019-06-11 04:16] hatung commented on #512
any update?

[2019-06-16 11:36] #545 closed

[2019-06-23 11:48] #549 closed

[2019-06-23 16:43] icebob commented on #489
There are some breaking change in redlock 4. https://github.com/mike-marcacci/node-redlock/blob/master/CHANGELOG.md
Can it cause a problem in Moleculer cacher?

[2019-06-25 14:18] flaviocordova commented on #101
HunterCo, Brazil, www.hunterco.com.br
![HunterCo logo](https://web-static.hunterco.com.br/hunterco/logos/HunterCo+-+Logo+Email.png)

[2019-06-25 14:22] flaviocordova opened #556 "Middleware createService being invoked too early"
I wan't to create a middleware to set defaults to services and actions (things like cache, visibility, etc.).

However, the createService method is called before the mixins are applied to the schema so the middleware has limited access to change the service before it's published.

[2019-06-25 14:22] icebob commented on #101
@flaviocordova Great, I've added.

[2019-06-25 14:31] AndreMaz commented on #556
Hi.

The v0.14 will have a new middleware `serviceCreating` that does what you need. It's called _after_ all mixins are applied. [More info here](https://github.com/moleculerjs/moleculer/blob/next/CHANGELOG.md#servicecreating)

[2019-06-25 14:48] flaviocordova commented on #556
Hi @AndreMaz , thanks...

that's great news but I got a little worried about the new comm protocol, but I'll open a different issue to discuss it.

by the way, any idea when 0.14 it's going to be released? no need for final date but something like "in a week or in two months" would be enough.. :)

[2019-06-25 15:05] vbilici opened #557 "NATS is not working with moleculer-runner"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

I installed moleculer with the default options with `moleculer-cli`

## Current B

[2019-06-25 15:26] fdjean commented on #557
exact conf and version here: all fine.
if you start nats with:
`/usr/local/bin/gnatsd -p 4222 -m 8888`
do you see things here
`http://localhost:8888`

[2019-06-25 15:29] AndreMaz commented on #556
@icebob can provide more precise time window but I think that in a few weeks a beta version will come out

[2019-06-25 15:41] vbilici commented on #557
I don't have `/usr/local/bin/gnatsd` on my computer but if I install nats with brew and run it via `nats-server` then run moleculer, it works
If I run nats through docker via nats image, it works
I also tried renaming `/usr/local/bin/nats-server` to `/usr/local/bin/gnatsd` but it didn't work.

[2019-06-25 15:42] icebob commented on #557
NATS is not part of the Moleculer, it is an external app. You should start individually.

[2019-06-25 15:44] vbilici commented on #557
oh ok, I was suspecting that after doing these trials. Thanks for helping!

[2019-06-25 15:44] #557 closed

[2019-06-25 15:44] lehno commented on #512
For people that want to try now, here is a repo with k8s scripts to run on Google Cloud
https://github.com/lehno/moleculer-k8s-examples

[2019-06-25 16:24] icebob commented on #556
I will release a beta in this or next week. Stable release depends on the results of beta testing but I hope in July or August.

[2019-06-26 10:48] Gadi-Manor opened #558 "What is the appropriate way to delete a key from the cacher?"
I'm working on the PR for #509 and while I was testing it I came across an issue.
I have an action with the following property:
[code]

When it's stored in the cacher (`Redis` in my case) the key is a combination of the action name and the value of `myKey` which is created in `Cacher.getCacheKey`.

So, if I want to delete this key later I should call `Cacher.getCacheKey` as well? In that case shou

[2019-06-26 20:44] icebob commented on #558
Good idea. In my head, the concept was that if you leave caching to Moleculer than you will delete all entries by service with `broker.cacher.clean("users.**")`. Another way if you put cache entries manually with `broker.cacher.set(key, value)` (not used the hashed key) in this case you can delete it with the key with `broker.cacher.del(key)`.

[2019-06-27 11:44] #558 closed

[2019-06-27 12:47] tiaod commented on #489
@icebob I didn't catch the error of `unlock`. What is the expected behavior of unlock error? 🤔

[2019-06-27 16:54] ccampanale opened #560 "Regex Cache in Utils"
I just happened to be reading this code snippet when it occurred to me that this may not be working as expected (assuming it's expected to work as written).

https://github.com/moleculerjs/moleculer/blob/master/src/utils.js#L156-L173

It appears that a `Map` object is created to cache the regex tests when `.match()` is called however, unless I am missing something, the code here will **always** up

[2019-06-27 17:01] icebob commented on #489
I have no idea...

[2019-06-27 17:22] icebob commented on #560
Nice catch. You are right. Thanks! I will fix it.

[2019-06-27 20:30] #560 closed

[2019-06-27 20:30] #509 closed

[2019-06-27 22:35] m1losz commented on #402
@Wallacy any update ?

[2019-06-29 21:13] #410 closed

[2019-06-30 20:09] Wradgio commented on #101
Hi @icebob, StretchShop is being born, proudly based on Moleculer, demo at https://stretchshop.app/
![StretchShop](https://user-images.githubusercontent.com/1776976/60401547-81126c00-9b83-11e9-9d76-826fcf1cdaa0.png)

[2019-06-30 20:59] icebob commented on #101
Great, I've added to the site!

[2019-07-02 10:26] nllahat opened #561 "AMQP 1.0"
Hi guys,

Currently we're using Moleculer.js with ActiveMQ (AWS service) as our MQTT transporter. We cannot use the AMQP transporter because AWS ActiveMQ is using the newer version of AMQP (1.0). We prefer using the AMQP protocol (along with the broker option `disableBalancer: true`) cause we want our messages to be queued to increase persistency.

We can't switch to other MQ servers (like RabbitM

[2019-07-02 17:08] icebob commented on #561
Hi @nllahat,

it would be good. By the way, it means, the AMQP 1.0 is not compatible with previous versions?

[2019-07-02 21:35] Nathan-Schwartz commented on #561
We use [amqp.node](https://www.npmjs.com/package/amqplib) for the AMQP transporter and it unfortunately only supports 0-9-1.

It has been discussed for the project here:
https://github.com/squaremo/amqp.node/issues/63
https://github.com/squaremo/amqp.node/issues/486

[2019-07-03 07:16] nllahat commented on #561
@icebob That's right. Because of that we want to add another transporter and not replace the existing.

[2019-07-03 07:27] nllahat commented on #561
@Nathan-Schwartz Thanks for the references.
I want to add another transporter that uses [rhea](https://github.com/amqp/rhea).

[2019-07-03 08:37] icebob commented on #561
Thanks. In this case, another transporter would be good, @nllahat

[2019-07-04 19:03] #556 closed

[2019-07-05 16:12] ACaller opened #563 "Retry on downstream errors that are currently ignored"
### Issue
When an action calls another action that has an open circuit breaker, the callOptions retry policy is not invoked.

**Is your feature request related to a problem? Please describe.**

Action 'a' on service 'A' does some logic and then does a broker.call to action 'b' on service 'B' but action 'b' has an open circuit breaker.
Neither 'a' or 'b' have a retries enabled but the broker.call h

[2019-07-08 16:48] #337 closed

[2019-07-09 20:00] icebob commented on #540
You can [define](https://github.com/Microsoft/TypeScript/issues/229#issuecomment-257172012) type of this in function.

[2019-07-12 03:35] nvthuong1996 opened #565 "How to Populating one to many in mysql"
Suppose I have a user and post table. The post will contain the user's foreign key
I want to retrieve a user record with all the users' post
-------------------------------------
How can I change properties populate when merging?
I want to populate by author_id. however after merging I want to change author_id to author

{
 "title":"this is title post",
 "author_id":{ ... }
}

[2019-07-12 03:39] lucduong commented on #565
This question should not be here. It depends on how use use [`moleculer-db`](https://github.com/moleculerjs/moleculer-db)

[2019-07-12 03:41] nvthuong1996 commented on #565
oke. thank you

[2019-07-14 06:27] amroessam opened #567 "Issue with services losing references to other dependencies"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
- [ x ] I checked to make sure that this issue has not already been filed
- [ x ] I'm reporting the issue to the correct repository

## Current Behavior

Moleculer works fine locally, but once I start it on

[2019-07-14 11:44] amroessam commented on #567
So I've done some more testing, whenever I try to run moleculer using NATS it fails midway without any error messages. I'm unable to call services from other services.

[2019-07-14 18:29] icebob commented on #567
Could you create a repro repo?

[2019-07-15 07:42] amroessam commented on #567
My colleague has actually figured out the issue. @mohammed-ali-1 please chime in

[2019-07-17 03:52] tinchoz49 commented on #433
https://github.com/vadimdemedes/ink could be a replacement for vorpal

[2019-07-17 17:03] lukeed commented on #433
Ink is good. I forgot to mention before that [`sade`](https://github.com/lukeed/sade) is also an option for your CLI builder. Its only dependency is `mri`, which is already in this list

[2019-07-17 18:20] joshmanders commented on #433
Hello, we use Moleculer at my company and vorpal's vulnerabilities are a concern to us and we'd like to get this resolved. What can I do to help with this? I can fork and start a PR to replace vorpal with something else.

Thanks.

[2019-07-18 07:37] icebob commented on #433
vorpal is more than the ink. It has a REPL mode with command & argument handling and autocomplete feature. Ink (as soon as I can see) is a react based GUI for console apps.
The better option would be to fix vulnerable packages in vorpal. I've created a [fork here](https://github.com/moleculerjs/vorpal)

[2019-07-18 15:39] joshmanders commented on #433
Yeah I was looking over alternatives and none really seem to do what moleculer uses vorpal for.

@icebob do you plan to utilize the fork in moleculer-repl by publishing a package or directly to the github repo in the package.json? I can start working on getting the vulnerabilities patched and submit a PR to the fork.

[2019-07-18 16:52] tinchoz49 commented on #433
This is another one more close to the vorpal concept: https://github.com/drew-y/cliffy

[2019-07-18 19:11] icebob commented on #433
@joshmanders good news. It would be good if you could fix it. I plan to publish the fixed vorpal under the org like: @moleculer/vorpal

[2019-07-18 19:16] icebob commented on #433
@tinchoz49 great, yes, cliffy can be an alternative. _Btw, I've starred it for a while :P_

[2019-07-18 19:21] joshmanders commented on #433
Excellent. I have a PR waiting right now, just have noticed some tests are timing out so I'm trying to figure that out.

[2019-07-21 09:33] amroessam opened #568 "A way to destructure services into individual Docker images"
**Is your feature request related to a problem? Please describe.**
Building Docker images is a problem. As of now, we have github repos for each service. So we can build docker images individually.

**Describe the solution you'd like**
However, we'd like a way for moleculer to be able to destructure the services folder into separate docker builds.

**Describe alternatives you've considered**
We're

[2019-07-21 09:33] amroessam commented on #568
Tagging the team @kamilkamili @mohammed-ali-1

[2019-07-21 10:12] mohammed-ali-1 commented on #567
Hi, sorry for the delay.

So our code was working fine when we would run it locally. Once we moved to Docker, one of our services just silently fails when it tries to run a database query to retrieve a document from MongoDB.

After some trial and error, I discovered that adding the database mixin and the corresponding model seems to have fixed the issue.

This is what the service code looked like

[2019-07-21 12:17] alexeymarunin opened #569 "Flexible logger configuration"
I like Moleculer. Simple, powerful and flexible. And I don't like write much code - I prefer _configure_ app. For example, look at [transporter config](https://moleculer.services/docs/0.13/networking.html#Transporters) - it's a pure delight. Or [caching config](https://moleculer.services/docs/0.13/caching.html). Or [serializer](https://moleculer.services/docs/0.13/networking.html#Serialization). I

[2019-07-21 16:13] icebob commented on #569
Good idea! But backward compatibility should be solved, as well.

[2019-07-22 07:08] amroessam commented on #567
Reopening for investigation

[2019-07-23 13:07] iujlaki commented on #101
Hi @icebob,

Until now, we used Ruby on the server side, but after met with Moleculer we decided to change our stack to NodeJS and microservices architecture, started new projects and plan to rewrite existing ones too.

Keep up the good work!

Imre
[CodeYard Ltd.](http://codeyard.eu/?locale=en)

![CY Logo](http://codeyard.eu/assets/img/logo.svg)

[2019-07-23 13:20] icebob commented on #101
Hi @iujlaki
szuper, végre egy magyar cég is! :) Hozzáadtam a site-hoz. 👍

[2019-07-23 13:45] iujlaki commented on #101
@icebob Nocsak, fel se tünt :D
Köszönjük!

[2019-07-23 18:44] kthompson23 opened #571 "TS - 0.14.0 - New possible contex param type of null is a breaking change"
In the next branch, the TypeScript type for the params member in the Context class was changed from `P` to `P | null`.

`params: P | null;`

In ServiceBroker.call `params` are being defaulted to empty object if passed in as null so this isn't a breaking change code-wise but for TypeScript users, any place where they try to use `params` off of context after a call now have to either perform a null

[2019-07-23 18:59] icebob commented on #571
We should discuss it with other users, because I think a `null` value means other than an `{}` value. E.g.:

[code]

[2019-07-23 21:00] shawnmcknight commented on #571
I think for the initial issue presented here, this can be solved fairly easily.  Since with moleculer the only type-safety you can achieve is through diligent typing of your `Context`, `call`, `emit`, and `broadcast`, I think the `params: P | null;` would be better served as `params: P;`  The programmer has declared a type (or used the default, more on that later) and written their code to work wi

[2019-07-24 03:41] amroessam commented on #568
@icebob @AndreMaz @faeron @Nathan-Schwartz @shawnmcknight, I created a cli tool [moldock](https://github.com/amroessam/moldock) that does that, please take a look and advice the way forward. It's currently not up on npm due to some issues with my account but should be resolved shortly.
You can clone the project and do and `npm i -g .` then use it as the doc sys.

[2019-07-24 08:23] icebob commented on #568
Good job @amroessam! I will check it as soon as I can.

[2019-07-24 09:01] lucduong commented on #568
@amroessam @icebob

That could be great when separating services to many projects. It can be easy and usefull when you're working in remote team and you want to keep other modules secret.

I have completed my project with another approach.

### My Project information:
- More than 1 million USD budget.
- About billion of data using PostgreSQL cluster.
- More than 30 services.
- GraphQL
- Moleculer

[2019-07-24 09:06] lucduong commented on #568
Here is about my `webpack.config.js` for javascript project

[code]

[2019-07-24 09:18] amroessam commented on #568
Thanks for your feedback @lucduong 👍🏽, we're currently using moleculer in my organisation and we love it. We're facing some issues due to how small the moleculer's community is. Might need to pick your brain a little because we have some interesting use cases. Please if you have any suggestions about [moldock](https://github.com/amroessam/moldock) don't hesitate to share them.

[2019-07-24 12:48] intech opened #573 "Metrics error handler for every catch layer"
**Is your feature request related to a problem? Please describe.**
Every middleware create layer catch: hooks error, fallback, retry.
Metrics middleware get error in catch from latest layer.
This leads to loss of information about the error in the previous layers.
Example:
[code]
I want to write to the APM of database error and of error server on the two span.
But the result from the hook layer wi

[2019-07-24 13:18] intech commented on #568
I also have a separate development for cross datacenters, servers and containers of docker services of the molecular services.
This is an open source project and I am updating it with every commercial project.
It is based on a TCP transport based on a gossip protocol. The transport runs on top of tinc vpn based on the SPTPS protocol and full support mesh network.
VPN network is integrated with doc

[2019-07-24 13:40] shawnmcknight commented on #568
We are doing the same with our moleculer project.

This is an area where we have gone a different direction.  While many of our services are running as one service in a group, we find that some services are very trivial and are semantically related to each other.  Since our primary purpose of separating services into "groups" is for scalability, we end up putting more than one service into a group

[2019-07-24 13:54] amroessam commented on #568
@shawnmcknight @intech
Your implementations are very different from what I’m planning to do with moleculer, and I have to say it’s super interesting.

We currently have a poc working on moleculer, but reading what you guys said is making me rethink how I’d want to approach deployment of our system.

@icebob I would like to setup a repo on the different ways we can deploy a moleculer project. What

[2019-07-24 15:49] kthompson23 commented on #571
I really like the changes that @shawnmcknight outlined and also agree that if you pass params as `null` then `ctx.params` should also be `null`. What do you think about removing the code to default params to empty object in `ServiceBroker.call`? Is that too much of a breaking change?

[2019-07-24 16:01] icebob commented on #568
@amroessam could you explain what different way means?

[2019-07-24 16:02] icebob commented on #568
@lucduong Great stuff. Could you share with us the source of `webpack-moleculer-service-plugin`?
In a project I will have to bundle the whole server code (moleculer services) & make an executable with `pkg`.

[2019-07-24 16:31] lucduong commented on #568
@icebob Sure. I'm not finished this module yet, but considering to build this as a package and would like to get more ideas.

https://gist.github.com/lucduong/837a23b6ae6393746f1420111dc013ce

This output will be:
[code]

And the `deploy.sh` will look like:
[code]

This really helpful for my CI/CD and reduce a lot of time for production delivery.

Also, I would like to share my CI/CD workflow.
<im

[2019-07-24 16:37] icebob commented on #571
It was the original idea in 0.14, that I remove the empty object initialization in `call`s, as well, but many services (official services as well, like moleculer-db) relies on `ctx.params` isn't `null`. So I've put it back.

In brief, I can't remove the empty object setting in `broker.call` & `ctx.call`, but I should enable null value in event context. Moreover, `Context` is same for both function

[2019-07-24 16:42] shawnmcknight commented on #571
Is there a difference if `null` is passed as the argument in `call` versus not providing it?  That is, can an explicit `null` be allowed to pass through, but if `ctx.params` was undefined then set it to `{}`?

[2019-07-24 17:03] icebob commented on #571
Interesting idea, I will check it.
 It is the main code:
https://github.com/moleculerjs/moleculer/blob/62acd3441b9dba6b9ecafabaac3c1638d41a18cb/src/service-broker.js#L1021-L1023

If I change it to `if (params === undefined)`, it will do something similar.

[2019-07-25 06:01] amroessam commented on #568
@icebob so from my understanding, we can deploy with docker in multiple [clustering options](https://moleculer.services/docs/0.13/clustering.html) on multiple levels.
I want to be able to document all possible ways we can deploy moleculer. Here are some levels of deployment, you can mix and match the architecture clustering you'd like to deploy them in like docs say [here](https://moleculer.servic

[2019-07-25 06:02] amroessam commented on #568
Also quick note, [moldock](https://npmjs.org/package/moldock) is now on npm and ready to use, please leave feedback. Thanks 😁😁

[2019-07-25 07:40] icebob commented on #568
Yes, you are right. Would be to add these deploying modes to the docs, as well. Somebody can create a PR with this information?

[2019-07-25 08:43] amroessam commented on #568
I don't have enough experience in DevOps, I'm basically a potato. Maybe someone else more experienced can assist: @lucduong @intech @shawnmcknight

[2019-07-25 08:51] intech commented on #568
@amroessam I will not have so much time now. I suggest you transfer your message as a structure in the first commit, and we will supplement it as our knowledge in this PR with our commits.

[2019-07-25 12:50] lehno commented on #568
I built another way of fixing this problem.
Basically all services are in service folder like the starter project, but I have a task that runs before committing code that generates different package.json for each service with only the required modules that service needs.
Then my CI/CD receives the call from git saying that x files were changed and I build the images based on files changed.
Also we

[2019-07-25 13:24] amroessam commented on #568
@lenho can you shed some more light, cause we're trying to implement something similar at my org. Maybe share how your pipeline is set up.

[2019-07-25 13:52] AmazingDesign opened #575 "Is there a way to restart borker or service?"
I need to create services dynamically from data loaded from database when app starts.

I need to restart broker to get access to newly created services.

`this.broker.stop().then(this.broker.start())` not works because in the meantime every call makes error and moleculer-runner exits.

Any ideas? Is that even possible?

[2019-07-25 13:54] shawnmcknight commented on #571
I do think that because `Context` allows the consumer to specify the expected type of `params` through the Generic that its unnecessary to have the union with `null`.  If `null` is an expected possibility then the consumer can specify it.  As it currently stands, even if a consumer specifies a generic, it still gets unioned with `null` so the consumer has to then do a null check every time.

I do

[2019-07-25 14:07] icebob commented on #571
Thanks. The version 0.14 means it contains breaking changes, so this is the perfect time when we can add breaking changes in Typescript definitions, as well.

Would be good to hear other opinions from other Typescript developers.

Ping @rmccallum81 @faeron @fugufish @dani8art @ryanm-pm

[2019-07-26 07:04] AmazingDesign commented on #575
My bad. I don't need to restart broker. I must wait for newly created service before calling it, after `broker.createSrevice`.

Is there a way to  ping service? Other than trying to call its action? @icebob can you help?

[2019-07-26 07:34] icebob commented on #575
You can ping only nodes with `broker.ping` or waiting for a service with `broker.waitForServices`.

[2019-07-26 17:22] robodude666 commented on #568
@lucduong your approach sounds very interesting. Would you be able to share a version of the [blog](https://github.com/moleculerjs/moleculer-examples/tree/master/blog) or [conduit](https://github.com/moleculerjs/moleculer-examples/tree/master/conduit) example using this approach?

[2019-07-27 02:37] lucduong commented on #568
@robodude666 sure. Let me apply on those examples

[2019-07-28 05:01] ZeroHackeR opened #576 "MemoryCacher Logic Errors"
**Issue 1:** A Memory Cache Item should be auto expired after the duration specified (TTL) has passed. However, the current logic kept on extending the expiry date of the item. Therefore, for a busy service, the Memory Cache items never expire and live forever. This logic also is not consistent with other Cachers (like Redis) where a cahce is expired when time's up, no matter it's being used or no

[2019-07-31 14:56] nmarus opened #577 "When using "Latency" strategy console warning "possible EventEmitter memory leak detected""
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

When using the latency strategy, node posts max event listen

[2019-07-31 17:43] ilnuribat opened #578 "custom validator with fastest-validator throws error: TypeError: this.validator.init is not a function"
## Current Behavior

I tried to add  custom validation to fastest-validator schema and set to ServiceBroker.

## Expected Behavior

https://moleculer.services/docs/0.13/validating.html
as seen in this example, I want to use fastest-validator instead of JoiValidator

### Steps to Reproduce

`npm i moleculer fastest-validator`

### Minimal code to reproduce problem

[code]

### Context

* Moleculer

[2019-07-31 22:31] AndreMaz commented on #578
I don't fully understand what do you mean by:

`fastest-validator` is the default validator and it's enabled by default so your code snippet can look like this:
[code]

[2019-07-31 23:01] AndreMaz commented on #577
Could you create a repro repo?

[2019-08-01 05:22] ilnuribat commented on #578
I want to add custom validation, date validation via moment js.
So, the next step was to create instance of fastest validator and do this line
'v.add('momentDate', ...'

[2019-08-01 08:47] ilnuribat commented on #578
the problem is that moleculer uses not fastest-validator, but wrapped one, ParamValidator, that has init method.
https://github.com/moleculerjs/moleculer/blob/master/src/service-broker.js#L21 - require validator,
https://github.com/moleculerjs/moleculer/blob/master/src/validator.js - that is wrapped validator.
So, its impossible just use customized fastest-validator, I must also wrap as `./src/val

[2019-08-01 09:09] AndreMaz commented on #578
[The Joi example](https://moleculer.services/docs/0.13/validating.html#Create-a-Joi-validator) shows that you should extend the BaseValidator class with your custom `constructor`, `compile` and `validate` methods (the `init` method is inherited).  So you should do exactly the same with any custom validation (including custom fastest validator).

But I'll think about how to make things clearer in d

[2019-08-01 09:09] #578 closed

[2019-08-01 13:18] nmarus commented on #577
I can, but this single file example will generate the error on single instance for me. After some testing with this, it seems related to number of services. 3 service with 3 actions each does not generate the error, 10 with 10 each does.

[code]

[2019-08-01 14:02] radical-edo opened #579 "custom error"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ + ] I am running the latest version
- [ + ] I checked the documentation and found no answer
- [ + ] I checked to make sure that this issue has not already been filed
- [ + ] I'm reporting the issue to the correct repository

## Current Behavior

I throw my own custom error that I have implemented

[2019-08-03 09:34] AndreMaz commented on #579
I've tried here got the following result
![image](https://user-images.githubusercontent.com/9802754/62410169-246afc80-b5da-11e9-98c2-89212f094b6e.png)

[2019-08-03 11:48] AndreMaz commented on #577
@zllovesuki I think that this is something related with your code. Could you take a look at this?

[2019-08-06 01:36] flaviocordova opened #580 "Hot-Reload not working without Runner"
Hot Reloading is not working for services loaded with broker.loadService('path')

Take this very example:

**mod.js**
[code]

**loader.js**
[code]

Module won't be reloaded when mod.js is changed.

[2019-08-06 01:52] flaviocordova opened #581 "v0.14 - ctx.meta being lost when calling this.actions"
ctx.meta is not being forwarded when calling and action using this.actions:

[code]

results:
[code]

[2019-08-06 03:31] amroessam commented on #568
@lucduong any updates on the examples?

[2019-08-06 08:27] icebob commented on #581
In case of `this.actions`, you should set the `parentCtx` like:
`this.actions.subHello(ctx.params, { parentCtx: ctx})`

[2019-08-08 11:33] adelarosab opened #583 "Runner closing automatically"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior
Runner closes after load every service.

![Screen Shot 2019-0

[2019-08-08 11:39] adelarosab commented on #583
It exists a workaround using `--hot` flag.

[2019-08-08 11:53] adelarosab commented on #583
I just realized my stupidity.

[2019-08-08 11:53] #583 closed

[2019-08-10 13:45] AndreMaz commented on #580
Ok, I think I found the issue. It's in the [`processModule`](https://github.com/moleculerjs/moleculer/blob/c6cd98dfc374c02c51d840d57bba47a8ac9b9427/src/middlewares/hot-reload.js#L163) method.

Running the code as is will result in 0 files being watched. This is caused by:
https://github.com/moleculerjs/moleculer/blob/c6cd98dfc374c02c51d840d57bba47a8ac9b9427/src/middlewares/hot-reload.js#L49
and th

[2019-08-10 14:37] AndreMaz commented on #581
Closing. I've added a reference about this in docs https://github.com/moleculerjs/site/commit/20c1acbd794693fae4c160f47c52bcad56816327

[2019-08-10 14:37] #581 closed

[2019-08-12 10:05] icebob commented on #580
@AndreMaz and this commit works with moleculer-runner, as well?

[2019-08-12 14:13] AndreMaz commented on #580
Yes, I've tested on [moleculer-demo](https://moleculer.services/docs/0.13/usage.html#Create-a-Moleculer-project) with an additional `require` of `hook.js` an got the following result:
![image](https://user-images.githubusercontent.com/9802754/62858475-56731180-bcf2-11e9-9c27-51c6c0d32622.png)

[2019-08-12 20:53] cloudever opened #584 "[TypeScript] proxy class service methods through broker.createService"
Hi there! I started using **Moleculer** a couple of days ago and I very pleased with the development process.

I've found a solution to create client service for remote existing service and use one as a provider in GraphQL gateway (apollo server) for example:

[code]

And there's a way to use client service as a provider

[code]

It's a working solution but typescript does not know about `getProvi

[2019-08-13 13:20] icebob commented on #580
Thanks @AndreMaz & @flaviocordova the help. It's fixed and will be released in the next version.

[2019-08-13 13:20] #580 closed

[2019-08-14 11:24] hawkins48b opened #585 "db adapter issue - can't perform textual search with "list""
## Prerequisites
- mongo db with index for textual search
- moleculer-db
- moleculer-db-adapter-mongo

Create a collection with basic data
[code]

## Current Behavior
Perform a textual search with method 'list'
[code]
goes
[code]

**Please note that the method 'find' works like a charm.**

## Expected Behavior
Method 'list' should give the same results as 'list' plus the paging data.

As stated by

[2019-08-14 11:43] intech commented on #585
@hawkins48b relate to https://github.com/moleculerjs/moleculer-db/issues

[2019-08-14 12:15] hawkins48b commented on #585
Sorry, I reopened the issue on the right repo https://github.com/moleculerjs/moleculer-db/issues/122

[2019-08-14 12:15] #585 closed

[2019-08-15 09:22] morkeleb opened #586 "Testing moleculer with jest wont allow you to use two awaits in events"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

if I write an event handler using async await where does 2 a

[2019-08-15 09:23] morkeleb commented on #586
I'm not sure if this matter, but we are using AMPQ as the transport layer.

[2019-08-15 18:43] icebob commented on #586
Event sending is running separately, you can't wait for it with await, just for `broker.call`s.

[2019-08-15 19:42] icebob commented on #586
It can work only if you call the handler directly:

[code]

[2019-08-18 19:31] morkeleb commented on #586
That works.
I rewrote our test to call the handler directly.

[2019-08-18 19:31] #586 closed

[2019-08-19 03:19] nicolasxu opened #587 "Node created in expressjs can not see node created by Moleculer Runner"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior
Node created in expressjs can not see node created by Molecul

[2019-08-20 16:27] fugufish commented on #101
@icebob

I started playing around with Moleculer quite a while ago and even contributed a few tidbits here and there. As an architect at Shareworks, I was allowed to implement an integration between our Ruby on Rails application and NodeJS using Moleculer, and now our team is the primary mantainer of the Moleculer ruby implementation.

![Sharewors by Morgan Stanley](http://seekvectorlogo.com/wp-co

[2019-08-21 08:15] icebob commented on #101
Awesome @fugufish!
And good job with Ruby implementation.
I've added the logo to the site ;) Btw do you have a logo without vertical padding? It makes the text too small.

[2019-08-21 10:19] icebob commented on #587
Please show a full reproduction code with expressjs side.

[2019-08-24 04:53] zllovesuki commented on #577
Ouch, that’s some bad stuff. Maybe only listen on actual actions instead of *all*. For now it is harmless, but I will take a look at it.

[2019-08-24 04:54] zllovesuki commented on #577
IIRC action gets its own registry, thus this was the unintended side effect.

[2019-08-25 23:14] dkuida commented on #584
@cloudever

I am not sure I fully understood the question:
if what you mean is that getProviderList is not visible in TS so you need to define it as public + using decorators is quite helpful. I use services defined in the following manner without any trouble

[code]

on the other hand if what you refer to is that you do not have the typesc defined from the call - so simply add method signature fo

[2019-08-25 23:16] dkuida commented on #512
I wrote a post a while ago about that
https://dankuida.com/moleculer-deployment-thoughts-8e0fc8c0fb07

[2019-08-26 00:00] dkuida commented on #579
@AndreMaz  funny enough - the error is because you used a status code 123 which doe not exist.

here is your code that return the expected behavior
[code]
{
  "name": "ValidationError",
  "message": "Payload error",
  "code": 400,
  "type": "PAYLOAD_ERROR",
  "data": {
    "anotherData": "custom error"
  }
}
same when I am passing an array as a parameter.

I think you got 422 from some other param

[2019-08-28 14:07] cs4inctec commented on #328
con confirm that this is still not working.

[2019-08-30 13:36] AndreMaz commented on #579
I still don't fully understand what kind of error we are talking about. The HTTP status code? or the error produced by `class ValidationError extends Errors.MoleculerError {}`?

If we are talking about `ValidationError` then the 123 code is a valid (as any other number). _It wouldn't have any semantic meaning but it is valid_
The resulting HTTP `500 Internal Server Error` is also correct because M

[2019-08-31 16:17] intech commented on #402
add random factor to send change state heartbeat

[2019-09-01 17:36] icebob commented on #569
I'm working on it.As it's a breaking change, it will be released in 0.14.
I'm adding built-in loggers as:
- console
- pino
- bunyan
- winston
- debug
- log4js
- file

And you can define multiple loggers with different levels, as well.

[2019-09-03 07:38] danieledraganti opened #590 "Default actions / sub actions"
Hi everyone,
I am dabbing just now into Moleculer coming from Seneca, and I have to say that it is a much more modern and practical approach to the world of microservices. I have a couple of questions/suggestions though.

1. **Sub-actions**
One of the coolest things about the Seneca framework is that it makes the single services transparent to the clients, and it does so by "hiding" them via patte

[2019-09-03 07:51] icebob commented on #590
Hi Daniele,

Thank you for your idea. I think we should discuss them with other Moleculer users.

By the way, I've made a pattern matching middleware for Moleculer. It's just a PoC but maybe you can try it.: https://github.com/icebob/moleculer-pattern
_I don't know that it works with 0.13 version, as well. But if need, I can update it._

[2019-09-03 08:11] danieledraganti commented on #590
Hi icebob,

Thank you for your prompt reply! I'll test that middleware and let you know.
Waiting to know what the others think, too!

[2019-09-04 03:34] dkuida commented on #579
I think this is exactly what @radical-edo wanted to achieve. but using custom Error, rather than manually writing the statusCode every time. for a homogeneous response.

@radical-edo could you elaborate

[2019-09-04 07:45] icebob commented on #569
Implemented in #591

[2019-09-04 07:45] #569 closed

[2019-09-04 08:04] tavurth commented on #245
Why is this issue closed?

Seems like this is something which should stay open until the issue is resolved.

Currently I have to run something like this in my project to get a hot-restart model:
[code]

[2019-09-04 08:17] danieledraganti commented on #347
Hello,
Is there any public documentation detailing the logic behind the Moleculer broker? I think it would be a big step forward to integrating it in other languages, without needing to read the source code.
Thanks,

Daniele

[2019-09-04 09:54] icebob commented on #245
Because 0.13 doesn't & won't support it. 0.14 will.

[2019-09-04 10:00] icebob commented on #347
Yes, there is: https://github.com/moleculer-framework/protocol

[2019-09-05 02:04] Eve-node opened #592 "Moleculer Runner Daemon problem"
How w can I achieve process daemon using Moleculer Runner? Do I have to use docker? Doesn't seem to work with pm2??

[2019-09-05 03:51] tavurth commented on #245
Oh I see, where can I see a list of issues for 0.14?

[2019-09-05 08:59] GrosSacASac commented on #433
I heard that bluebird is no longer needed

[2019-09-05 20:24] icebob commented on #245
Here: https://github.com/moleculerjs/moleculer/blob/next/CHANGELOG.md

[2019-09-05 20:33] icebob commented on #592
It can also work with pm2. [Use this form](https://moleculer.services/docs/0.13/faq.html#How-can-I-start-services-with-Moleculer-Runner-in-debug-mode)

[2019-09-06 08:30] Eve-node commented on #592
thank you

[2019-09-08 19:17] #592 closed

[2019-09-08 19:21] #587 closed

[2019-09-10 08:27] explosivebit commented on #101
Привет @icebob ,

Мы используем в multiroad.online

www.multiroad.online

![MULTIROAD logo black](https://user-images.githubusercontent.com/11429206/64597174-ec678e00-d3bd-11e9-86a8-08550675836a.png)

[2019-09-10 09:13] AndreMaz commented on #101
Большое спасибо.
Мы рады, что вам нравится Moleculer

Я добавил вашу компанию на наш сайт :+1:

[2019-09-11 10:04] AndreMaz commented on #576
Fixed with https://github.com/moleculerjs/moleculer/commit/98b90f10444f9fb5a98e09612067dfaee6cd0ff3

[2019-09-11 10:04] #576 closed

[2019-09-11 12:30] me23 opened #593 "NEXT: Jaeger don't trace remote actions"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Hi all,

i am evaluation tracing with jaeger using the curre

[2019-09-13 16:26] icebob commented on #593
Thank you for your test repo. I've found the issue and fixed.

[2019-09-13 16:32] icebob commented on #593
Please try it. Install with `npm i moleculerjs/moleculer#next`

[2019-09-13 19:12] me23 commented on #593
Thank you, now it looks much better: each call show service1 and service2 in jaeger.
But i am missing the span for the invoker call...

In my example i would expect a trace with 3 spans:  Invoker -> servcie1 -> service2

[2019-09-13 19:14] icebob commented on #593
Tracing logs the action calls, the invoker just executes a `broker.call`, there is no action invoking locally.

[2019-09-15 07:29] me23 commented on #593
Ok, do you see a way i could start a span (for jaeger) to trace the invoker also?

[2019-09-15 09:55] icebob commented on #593
Yes of course. You can anywhere can create tracing spans.

[code]

![image](https://user-images.githubusercontent.com/306521/64919822-a2ace800-d7af-11e9-8dff-82abfb9db996.png)

[2019-09-17 07:09] AmazingDesign commented on #575
@icebob thanks. I have another question.

I've been continue working on dynamically created services and now I need to restart some of them.

The services are using DB adapter, so they need to have `settings.fields` configured.
In my case `settings.fields` comes form DB when service is dynamically created.
The issue is when data in DB changes (eg one field is added to the service) when the service

[2019-09-17 19:16] alvarocantador opened #595 "Broker does not start created services inside of the started service hook"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

I don't know actually if it is a bug or the desired behavior

[2019-09-17 20:03] icebob commented on #575
You can't restart or destroy services on remote nodes, just locally. I recommend making a middleware, which listens an event, e.g. `"reload.db-services"`. If event is triggered, it find the local DB services and reload them locally. The middleware should loaded on all nodes. And you can broadcast this event when your DB is changed. WDYT?

[2019-09-17 20:05] icebob commented on #575
By the way, in the next 0.14 version, Moleculer Runner will add a restart function to the broker as `broker.runner.restartBroker()`

[2019-09-20 05:16] AmazingDesign commented on #575
Thanks! Seems to be a good idea! I will try.

[2019-09-20 05:16] #575 closed

[2019-09-23 15:56] katsanva commented on #401
Thanks

[2019-09-23 15:56] #401 closed

[2019-09-23 19:23] shlomokraus opened #596 "A way to generate client code"
**Is your feature request related to a problem? Please describe.**
When service calls another service it needs to use broker.call. Instead, I prefer wrapping
those calls inside methods and provide a client to the other services. That way each
service provides a client which is descriptive and (using typescript) also typesafe as well as testable.

**Describe the solution you'd like**
I would like t

[2019-09-26 10:06] imatefx commented on #101
Hi, @icebob, I have been a contributor in old Moleculer repo its been a long time, we use Moleculer at Innovation Incubator [https://innovationincubator.com/](url)
![InnovationIncubator](https://user-images.githubusercontent.com/3025904/65679110-1ed9e200-e072-11e9-9c2b-96abb23526db.png)

[2019-09-26 19:35] icebob commented on #101
Awesome @imatefx, I've added your company to the site!

[2019-09-26 19:45] #593 closed

[2019-09-26 19:46] icebob commented on #596
I don't know that something similar lib exists. I think no, but would be useful.

[2019-09-27 00:19] snowyfox opened #598 "Infinite Retry Loop"
## Current Behavior

When running multiple replicas of a service, using `preferLocal` in the `registry` and `retryPolicy` is enabled, its possible to get stuck in an infinite loop of failed action call retries.

## Expected Behavior

Retry logic should function correctly regardless of the setting for `preferLocal`

[code]

### Steps to Reproduce
I recreated this bug using the [Conduit Sample Proje

[2019-09-27 12:21] DavidGamote commented on #101
Hi @icebob , we here at Wiredelta love using Moleculer. So much so that we even wrote an article about it! https://wiredelta.com/moleculerjs-framework-for-nodejs/

**Website:** https://wiredelta.com
**Logo:**
![logo_color](https://user-images.githubusercontent.com/38785171/65768709-ff09f300-e131-11e9-8536-8fa1c17be427.png)

[2019-09-27 12:32] icebob commented on #101
@DavidGamote cool! I've just added your company to the site.
By the way, we've already found your article and we've added it to the [Awesome repo](https://github.com/moleculerjs/awesome-moleculer#articles-and-blog-posts) 👍

[2019-09-27 12:33] DavidGamote commented on #101
@icebob That's so nice of you! I hope that soon I will start contributing to this awesome project!

[2019-09-27 19:52] icebob commented on #598
Thanks, I will check it.

[2019-09-30 19:56] icebob commented on #598
Fixed. Will be released in the next 0.14 beta

[2019-09-30 19:57] #598 closed

[2019-09-30 19:58] snowyfox commented on #598
Thanks! Will this be back ported to 0.13 by chance? Due to the breaking changes in 0.14, upgrading to it is going to be rather involved, and it would be nice to be able to get this fix before needing to migrate to 0.14

[2019-09-30 19:58] icebob commented on #598
Ok, I will backport it.

[2019-09-30 20:21] icebob commented on #598
Released in 0.13.11. Please test it.

[2019-09-30 20:32] icebob commented on #595
It seems this issue does not appear in version 0.14.

![image](https://user-images.githubusercontent.com/306521/65914725-3696ca80-e3d2-11e9-85e8-64b8d75f2762.png)

[2019-09-30 20:37] #579 closed

[2019-09-30 20:37] #565 closed

[2019-09-30 20:37] icebob commented on #561
Any updated about it?

[2019-09-30 20:37] #540 closed

[2019-09-30 20:38] #512 closed

[2019-09-30 20:38] #518 closed

[2019-09-30 21:14] snowyfox commented on #598
0.13.11 is working now for my test project. In my actual app, 0.13.11 does fix the infinite retries, but I'm still seeing some strangeness. I think it might be an issue with Moleculer-Web though at this point.

When I make a request that would trigger the bug, I see all of the retry attempts, then after the last allowed retry attempt, things for that request seem to just stop. The browser is still

[2019-10-01 12:23] icebob commented on #598
Ok, please try to create a reproduce example and I will investigate it.

[2019-10-01 14:05] nllahat commented on #561
No.. We postpone this task for now..

On Mon, Sep 30, 2019 at 11:37 PM Icebob <notifications@github.com> wrote:

[2019-10-01 19:18] alvarocantador commented on #595
@icebob Thank you!

[2019-10-10 17:42] ryam4u commented on #101
Hi @icebob , we are using it in all our cloud services,

Website: https://vitekey.com
Logo:
![download](https://user-images.githubusercontent.com/5092839/66592766-4d1fed00-eb5b-11e9-876a-e941cc4f1eb7.png)

[2019-10-10 18:37] ejbogantes commented on #101
Hi @icebob, we are using it at Hangar for internal tools.
Website: https://www.thehangar.cr/
Logo:
![Hangar_Logo_Web_Black](https://user-images.githubusercontent.com/4172977/66596753-a9ced800-eb5a-11e9-9488-6245d499a85d.png)

[2019-10-10 19:56] icebob commented on #101
@ryam4u @ejbogantes awesome. Thanks, I've added them to the site.

[2019-10-11 16:43] #595 closed

[2019-10-11 16:44] #571 closed

[2019-10-11 16:46] #567 closed

[2019-10-11 16:58] #568 closed

[2019-10-11 16:58] icebob commented on #417
Implemented in 0.14

[2019-10-11 16:58] #417 closed

[2019-10-11 17:18] #451 closed

[2019-10-15 11:43] sizovilya opened #601 "Breaking changes in version 0.14.0 and roadmap."
Hello guys.
We are (me and my team) going to move our architecture to moleculer. We have checked documentation and found the phraze:

After reading this phraze we began to doubt use moleculer now or wait for 0.14.0.
Is it possible to answer for a couple simple questions for us ?

Questions:
1) What breaking changes will be in 0.14.0 ?
2) Where we can find moleculer roadmap ?

[2019-10-15 12:11] vardanator commented on #601
I second that!

[2019-10-15 13:53] intech commented on #601
@sizovilya https://github.com/moleculerjs/moleculer/releases/tag/v0.14.0-beta1

[2019-10-15 13:53] intech commented on #601
Simple roadmap: https://github.com/moleculerjs/moleculer/projects/5

[2019-10-15 14:15] sizovilya commented on #601
@intech thx!

[2019-10-15 17:29] icebob commented on #601
@sizovilya 0.14 beta is available. Stable 0.14 will be released at the end of October.

[2019-10-15 20:15] arthurgermano opened #602 "Documentation - v0.14"
## Prerequisites
Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version - **0.14.0-beta5**
- [x] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository

Hi.. sorry post it here.. I know it is not the channel, but it

[2019-10-16 07:10] sizovilya commented on #601
@icebob thx!

[2019-10-16 09:34] MR-omid commented on #601
@icebob can i start project with this beta version?
project template is compatible with 0.14?

[2019-10-16 09:52] icebob commented on #601
Yes, the template is made for 0.13 but compatible with 0.14 as well. After init, you should update the packages with `npm i moleculer@next moleculer-web@next --save`

[2019-10-16 16:13] icebob commented on #602
Thanks, you are right. The docs example is not correct. We will fix it.

[2019-10-16 17:42] AndreMaz commented on #602
Closing. Fixed in https://github.com/moleculerjs/site/commit/c5bac11e21c1ebc1aa0cb8ec306051a9d33bf825
Thanks 👍

[2019-10-16 17:42] #602 closed

[2019-10-16 18:16] #247 closed

[2019-10-17 15:47] arthurgermano opened #603 "Documentation - v0.14"
Hi.. last time and expressed here a minor problem in the documentation.

I found another one.

Here it goes
Access the link [tracing without context](https://moleculer.services/docs/0.14/tracing.html#Create-span-without-context)

Where it says
`
const span = this.broker.startSpan("initializing db", {
    tags: {
        dbHost: this.settings.dbHost
    }
});
`

Should be:
`
const span = this.broke

[2019-10-18 01:44] adam-mccormick opened #605 "Don't swallow event exceptions"
**Is your feature request related to a problem? Please describe.**
I am trying to implement a transporter that can ensure durable events using queues. When an event handler throws an exception it is swallowed and logged in the event catalog. This prevents the transporter from knowing if an event has actually been handled.

**Describe the solution you'd like**
If exceptions were propagated down to

[2019-10-18 03:29] thailan opened #606 "How to use multiple database (multitenancy)"
Hello ,  how can I use multiple databases for my project? For my current  php application , I created a middleware where it gets subdomain and connects users to its database , so its subdomain based multitenant application. How can I achieve similar approach?  Moleculerjs is is awesome , so I want to remake my application with moleculerjs. I use mysql, I believe I should use sequelize for my appli

[2019-10-18 06:54] HazemKhaled commented on #512
I created a pull request to add those links in the documentation
https://github.com/moleculerjs/site/pull/86

[2019-10-18 07:39] icebob commented on #605
And what you will do, when there are 3 event listeners on the same event name on the same node and only one throw error in the handler, other two processed the event. In this case, you will retry or drop? It is a more complicated issue. This is why action calling has a timeout & retry features, and the event is a fire & forget solution.
When you call service action, it will be called only one hand

[2019-10-18 15:57] lehno commented on #561
If you decide to move on with this, let me know as it would be good for us as well

[2019-10-22 01:15] adam-mccormick commented on #605
I agree but I think handling duplicate messages is a much simpler problem to solve in the application than guaranteed delivery would be (hence why I am using SQS).

To be clear I'm not suggesting changes to the event API or that Moleculer should inherently do anything differently, only that transporters can be aware that an exception was thrown and _potentially_  take action.

[2019-10-27 07:59] mmiscool commented on #101
Just want to say thanks. Moleculer has been invaluable to us in rapidly building our web application. As a small startup frameworks like this really empower folks to build applications quickly.

![autodrop-strip (1)](https://user-images.githubusercontent.com/6439772/67631508-c57df200-f86d-11e9-976f-5c8858d8c0ac.png)

[2019-10-27 09:12] icebob commented on #101
Hi @mmiscool!
Great, I've added your company to the site.

[2019-10-31 15:25] derekbar90 opened #607 "[Tracing] Default API service with jaeger tracing causes mem buff overflow"
## Current Behavior

Memory allocation error when adding jaeger tracing to API Gateway from base project.

## Expected Behavior

Public folder contents are displays and memory allocation does not cause node crash.

## Failure Information

[code]

### Steps to Reproduce

1. Load the below code sandbox or add Jaeger tracing config to broker config
2. Add moleculer-web mixin with a public facing dire

[2019-10-31 22:48] derekbar90 commented on #607
@icebob saw the tag, I've got a repro link to codesandbox in the ticket. Is there anything else you'd like me to provide?

I believe a trace should be allowed from the ApiGateway. It's helpful to get a full trace from the say GraphQL resolver to the db and back. Hopefully I can find some time to dig into why it's happening in the source but figured I'd file a bug to track it.

[2019-10-31 22:53] intech commented on #100
Remote encryption connection for repl:
```moleculer-cli connect repl://ip:port secretkey```

[2019-11-01 07:56] icebob commented on #607
@derekbar90 no, it's good but i'm on holiday and i can't check it right now. So the tag is for me :)

[2019-11-01 15:40] derekbar90 commented on #607
Enjoy the holiday and thanks for all the hard work and dedication.

[2019-11-03 11:16] AndreMaz commented on #607
I've tested here and I was able to repro the error. It seems that it's caused by the `params {}` in trace. It tries to serialize the `req`

![image](https://user-images.githubusercontent.com/9802754/68084252-305d9900-fe2b-11e9-8f62-180d5f54aed2.png)

I'm going to dig further and try to fix it.

[2019-11-03 22:56] stanislav-web opened #608 "How to intercept transporter errors ?"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am running the latest version (0.14-beta)
- [ ] I checked the documentation and found no answer

## Current Behavior
Anybody know how to intercept Transporter error inside source ? I am using Molecular Web [API] and no one onError interceptor doesn't catch transporter logs.  I need to report t

[2019-11-04 09:11] AndreMaz commented on #607
After further inspection I believe that this happens only with `v0.8.5`
@derekbar90 can you try to install v0.9  `npm i --save moleculer-web@next` and test it.

[2019-11-04 13:40] icebob commented on #608
Currently it is not available to catch transporter errors.

[2019-11-04 16:14] jjgumucio commented on #101
Excelent project! We love it!
Using Moleculer in several projects.

Our site: https://smart.rancagua.cl

Logo:
![logo-cdi](https://user-images.githubusercontent.com/4744227/68136996-f3fe6b80-ff04-11e9-9107-b0f25da9e4a8.png)

[2019-11-04 16:22] AndreMaz commented on #101
Awesome :smile:
I've added your company to the site

[2019-11-06 02:02] cloudever commented on #584
The `broker.createService` typing definition returns `Service` interface, but it would better return original service with own methods

[2019-11-06 05:12] kthompson23 opened #609 "0.14.0 beta - servicebroker instances not being reclaimed by GC due to tracing and metrics"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

After upgrading to the latest beta, 0.14.0-beta5 our CI pipe

[2019-11-06 05:18] kthompson23 commented on #609
I'm not sure if this a problem in production where one service broker is created. It is a problem in a test suite though where many service brokers may be created.

I think the fixes are reasonably simple so if you agree I can make a PR.
1. Only invoke the `gc` function if the require succeeds and metrics are turned on.
2. Only create an instance of `Tracer` if tracing is enabled. Or call `tracer.

[2019-11-06 05:20] kthompson23 commented on #609
We also had questions about the `store` map in `AsyncStorage`. Is there a concern that this will fill up indefinitely? Does it somehow get purged?

[2019-11-06 09:52] icebob commented on #609
Thanks!

1. It should work as you wrote.
https://github.com/moleculerjs/moleculer/blob/de6c167a62ec019506dfbb383742e292dc457806/src/metrics/commons.js#L143
2. It is not available because core modules should able to create spans when the user disable tracing as well. It will cause big overhead if everywhere need check that tracing is enabled. The spans will be dropped so I don't think it cause memo

[2019-11-06 10:20] RAMPKORV commented on #101
Hello again!

We started using Moleculer at Reguity while building our new API. We provide a service for private companies to for managing their share ledgers.

![reguity-logo](https://user-images.githubusercontent.com/862631/68289513-8a0dcf80-0086-11ea-8fdf-ed1280c6bc3a.png)

[2019-11-06 10:26] icebob commented on #101
Awesome! I've added your company to the site. Thanks.

[2019-11-06 19:19] jodaks opened #611 "moleculer-runner support for loading config file asynchronously"
**Is your feature request related to a problem? Please describe.**

We have a policy to not write any passwords/tokens on any config files or environment variables. So we store any security related config values in a vault and some on AWS Parameter Store (encrypted). This is to avoid checking in any passwords/tokens to the repository (since we actually checkin our .env file too)

One of those secu

[2019-11-06 19:50] kthompson23 commented on #609
@icebob I updated the title of the issue since I don't think ServiceBroker has a memory leak. More accurately, our test suite has a memory leak due to ServiceBroker instances being held.

1. The problem is where gc-stats is imported.
https://github.com/moleculerjs/moleculer/blob/de6c167a62ec019506dfbb383742e292dc457806/src/metrics/commons.js#L25

It's getting invoked immediately. Maybe something l

[2019-11-06 23:30] derekbar90 commented on #607
My current dep config is at:

    "moleculer-web": "^0.9.0-beta6",

[2019-11-07 11:48] AndreMaz commented on #607
That's strange :confused:  I can only reproduce the issue with `v0.8.5`
Can you please create a repro repo with `v0.9`? The one that you've provided (https://codesandbox.io/s/moleculer-sample-4ir3h) uses `v0.8.5`

[2019-11-07 18:12] icebob commented on #611
I can make changes that after the runner required the config file it checks it is a function. If yes, then call it and add the result to the Promise chain, so it can be async. If it's an object it does the same as before. What do you think?
By the way, I can only add it into the next 0.14 version.

[2019-11-07 18:19] icebob commented on #609
1. We can move this require into the `startGCWatcher` function inside. The gc-stats is an optional dependency. So if node-gyp can't build id, the built-in metrics won't use it.
On the other hand I consider to remove it and event-loop-stats from the optionalDependency because it can cause other problems as well. And if someone need, it should be installed manually.

2. The problem is that, ServiceB

[2019-11-07 18:41] jodaks commented on #611
Sounds good, I think that would work as long as if it is a function it will still await if the return is a promise/async. And if it is not a promise, it would be loaded same way as if it got a static config object (as per current behavior).

And yes, adding it on 0.14 works for us, because we are still in active development and will probably not be production ready anytime soon , so we should be a

[2019-11-07 18:49] icebob commented on #611
Ok, then I'll change it accordingly

[2019-11-07 19:39] icebob commented on #611
It's done. You could try it with `npm i moleculerjs/moleculer#next`

[2019-11-07 19:39] #611 closed

[2019-11-07 20:44] jodaks commented on #611
works great, thanks @icebob!

[2019-11-08 09:40] BatuhanW commented on #101
We are using moleculerjs for our micro apps running on the biggest signage network of the world.
[We also have moleculerjs boilerplate.](https://github.com/pankod/moleculerjs-boilerplate)

http://pankod.com/

![Dark](https://user-images.githubusercontent.com/16444991/68466159-e6a6f100-0224-11ea-874e-916d7e55eb0a.png)

@icebob

[2019-11-08 09:48] AndreMaz commented on #101
Awesome. I've added your company :wink:

[2019-11-08 16:08] jjgumucio opened #612 "Query object on list action"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [YES] I am running the latest version
- [YES] I checked the documentation and found no answer
- [YES] I checked to make sure that this issue has not already been filed
- [YES] I'm reporting the issue to the correct repository

## Current Behavior

When the default _list_ endpoint is called with a _q

[2019-11-08 22:26] epicbytes commented on #606
I had such experience recently, the whole point is to make a custom adapter and process the variables, at some point I collect the variables, middleware forwards them further and replaces the adapter, or rather creates more connections and adds an adapter with an identifier that the before hook accesses it and already works with another database through the adapter, maybe this is not the most beau

[2019-11-09 07:43] jeremyjs opened #613 "Add a benchmark to compare performance with `micro`"
micro is the most popular microservice option and while it is bare in features and plugins, I would like to see a benchmark to compare it to Moleculer in particular.

https://github.com/zeit/micro

Popularity: https://www.npmtrends.com/cote-vs-seneca-vs-micro-vs-nanoservices-vs-moleculer

[2019-11-09 08:15] pibi commented on #613
I've used micro for a large microservie based product recently and I would say that this would not be a fair comparison. Micro should be compared to express/hapijs/koa as it is basically more an http framework than a full featured microservice platform like moleculer. Moleculer is way more "fast" if you look at the development speed, it has all the batteries you would have to code in micro (e.g. t

[2019-11-09 08:25] meatbot opened #614 "Tests of service is failed in case of service have dependencies."
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Tests of service is failed in case of service have dependenc

[2019-11-09 08:41] pibi commented on #614
If a service has a dependency you really should register it on the broker before starting it. Try to add
`broker.createService(HelloService);` in your test.
I would say that in this case you are not doing a unit test anymore but an integration test (because your service is depending and hopefully calling some actions or receiving some events from the other service), so alternatively you could stub

[2019-11-09 08:46] icebob commented on #613
I totally agree with @pibi. `micro` is not a microservice framework, it's just a small HTTP engine without service discovery, service registry and fault-tolerance features. Adding to the compare is not relevant.

Thanks @pibi, yes we could beat the seneca on the NPM what is awesome. It is a very positive feedback from the community.

[2019-11-09 18:23] davidnussio commented on #613
Fastify has a tool to benchmark http frameworks and it has published a large comparation list on github README pahe https://github.com/fastify/benchmarks/blob/master/README.md

[2019-11-10 03:50] iwanjunaid commented on #101
Please remove helpster (https://www.helpster.asia/id/business-en/) since this company is not using moleculer anymore. Thanks!

[2019-11-10 08:46] icebob commented on #101
Hi @iwanjunaid,
I've removed it from the site. Did you have any problem with the framework?

[2019-11-11 01:17] kthompson23 commented on #609
I've been working on a PR but your last statement about 'side-effects' left me confused about the purpose of the broker. If broker.stop is called then all services are stopped, cacher cleared, incoming requests blocked, etc. With the broker stopped it doesn't seem like anything that could be captured in a span could occur including a service's created hook and middleware. So wouldn't it be safe to

[2019-11-11 08:43] icebob commented on #609
Good idea!

[2019-11-11 09:08] #614 closed

[2019-11-12 22:11] icebob commented on #609
Are you working on it? Or do you need help?

[2019-11-13 08:52] dragan-lalos commented on #606
Hello,

I do not want to open a new issue, and I hope my problem is similar to this one. If not, I will open a new issue.

The rule said:

Then you have the rule:

The first rule makes sense because it follows the Database per service pattern; the second I can also understand.

The problem is that the first rule is not working. I tried to have DB per service, and in MongooseAdapter, I pass differe

[2019-11-13 12:23] ArStah opened #616 "0.14.0 beta - HotReload is not working since ServiceBroker doesn't destroy services properly."
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Services HotReload is not working since ServiceBroker doesn'

[2019-11-13 18:49] linhcao1611 commented on #101
We are using Moleculer for our microservices and we love it.
Our company webiste: https://eplansoft.com
![eplan Logo - transparent   Black](https://user-images.githubusercontent.com/10753175/68794093-2c87fe80-0603-11ea-82db-3f201f8553a2.png)

[2019-11-13 19:06] icebob commented on #101
@linhcao1611 great, I've added your logo to the site.

[2019-11-13 19:29] kthompson23 commented on #609
@icebob Sorry for the delay in getting a PR to you.

The new builtin tracing and metrics are awesome. I hooked up Prometheus a few days ago and we're excited to start adding our own custom metrics and to connect everything to Grafana. I also turned on tracing to test my changes and even though it was just emitting to the console it was really cool to see the flow of our services. We have a todo to

[2019-11-13 19:43] icebob commented on #609
@kthompson23 no problem. Thank you for your contribution.

I'm glad that you like the new features. Yeah, the console tracer is a good tool during development to check the performance & calling chains.
Next weeks I will add the new metrics with Prometheus to my projects, so I want to create a common Moleculer Grafana dashboard which shows the most common Moleculer metric values.

[2019-11-13 20:16] kthompson23 commented on #609
That would be great. Grafana is tricky to get setup initially.

[2019-11-14 08:12] AndreMaz commented on #616
Hey @ArStah
Tested here with ` v0.14.0-beta5` and it seems to be working fine
![FNLckZtJ6h](https://user-images.githubusercontent.com/9802754/68838323-3c144f80-06b6-11ea-9b88-01d1f8b995b9.gif)

[2019-11-14 10:34] MaciekLeks opened #618 "Share $secureSettings with mixins"
There is no pattern to share $secureSettings with mixins. I'd like to share e.g auth info with my mixin and not to worry about how to secure these data

I've tried expose $secureSettings with private method from the service to my mixin, but it thows an error as if it was exposed directly via `this.settings.<my_secure_data>`.

If there is a way to bypass the issue, please share it with me.

[2019-11-14 19:12] icebob commented on #616
Good catch @ArStah

[2019-11-14 19:18] icebob commented on #616
@AndreMaz fixed it.

[2019-11-14 19:18] #616 closed

[2019-11-14 20:08] AndreMaz commented on #618
Hey @MaciekLeks  Sorry but I don't fully understand what is the desired behavior

Can you elaborate a little bit more?

[2019-11-14 20:49] MaciekLeks commented on #618
Sure. Imagine a mixin which helps you with connecting, logining-in in remote server. Having look at db mixins all connection data (including username, password) are given in plain text in adapter constructor. I do not like this approach. I'd like to hide username, password, token in $secureSettings in my service giving the access to that data only to mixins assign to the schema. Is that still unle

[2019-11-15 14:30] AndreMaz commented on #618
Ok I think I understand what you want.
Have you considered something like this?
[code]

[code]

[2019-11-15 15:39] MaciekLeks commented on #618
I've considered the idea. It does the job. Thank you.

[2019-11-15 15:39] #618 closed

[2019-11-15 18:59] darky commented on #101
We are using moleculer and it awesome production ready solution for our microservices!

![image](https://user-images.githubusercontent.com/1832800/68968183-07f27900-07f3-11ea-9380-dbd756be5ac9.png)

[2019-11-15 20:24] AndreMaz commented on #101
Awesome @darky 😄  Can you provide the link to the website?

[2019-11-15 20:40] darky commented on #101
https://delimobil.ru

[2019-11-15 20:47] AndreMaz commented on #101
Added 👍

[2019-11-15 21:05] icebob commented on #101
@darky great news! Thanks!

[2019-11-16 03:54] intech commented on #101
This is a very famous service in Russia :)

[2019-11-16 06:55] pavankumarkatakam opened #620 "NATS server disconnecting randomly"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the 0.13.11 version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (May be it belongs to NATS repository I don't know)

## Current Behavior

Im usin

[2019-11-16 11:08] icebob commented on #620
Are you using NATS client with `pedantic` option?

[2019-11-16 12:00] pavankumarkatakam commented on #620
No, im not giving any external options for NATS server
I installed the nats server from this page https://github.com/nats-io/nats-server/releases/tag/v2.1.0 and in Assets using amd64.deb file and every time i just issue `nats-server` command. the out put will be like

[code]

And in docker-compose.yml i use the nats docker image as below
[code]

[2019-11-16 12:24] pavankumarkatakam commented on #620
For more info:
I  just kept log level to debug in moleculerjs config then i got this out put

[code]

[2019-11-16 12:34] icebob commented on #620
It's weird. I've checked the source code of NATS and it seems it throws this error if `pedantic` is enabled and some client publish a topic which has no subscriber.

[2019-11-16 12:49] pavankumarkatakam commented on #620
May be pendantic is enabled by default, can you tell me how to disable that.

[2019-11-16 13:02] icebob commented on #620
try it in moleculer.config.js
[code]

[2019-11-16 16:38] AndreMaz commented on #101
The last time that I was in Russia was like 20 years ago... So I'm a little outdated :sweat_smile:

[2019-11-17 03:59] pavankumarkatakam commented on #620
@icebob , I checked with that configuration, but still error is coming.

[code]

[2019-11-17 04:01] pavankumarkatakam commented on #620
These are the logs from NATS server side
[code]

[2019-11-17 08:04] icebob commented on #620
Thanks, please try it with the latest NATS server 2.1.0, as well.

[2019-11-18 04:25] pavankumarkatakam commented on #620
Same error with NATS 2.1.0 also

[code]

[2019-11-19 17:52] icebob commented on #620
But it happens when you hotreload a service, right?

[2019-11-20 04:55] pavankumarkatakam commented on #620
I will tell you clearly

When ever i start the project using `npm run dev`, after all services loaded these errors are coming, then i will go to one of the service file `any_one_of.service.ts` file click save, then it will hot reload and reconnect.... Also randomly it disconnects again then again i need to click save for any one of the service file so it reconnects

[2019-11-20 16:01] icebob commented on #620
very very strange. Could you make a video about it? :)

[2019-11-22 07:03] cloudever commented on #596
I also use the technique that described @shlomokraus

As an option, I propose to act by analogy with the graphql-code-generator: each service informs another service about which methods it has and the calling service generates code (typescript based on validation schema, javascript).

[2019-11-25 08:50] erfanium opened #621 "Parameter validation for events (like actions)"
Event parameters may be unexpected and It creates problems for me.
I manually validate the parameters but it can get better if Moleculer has built-in validator (like actions)

something like this (pseudo-code):
[code]

Then If parameters were not valid, ignore calling handler function

[2019-11-26 08:41] icebob commented on #621
Good idea.

[2019-11-26 13:48] ccampanale commented on #621
Interesting this should come up because this is partially in line with something I'm working on for my team called "Published Events".

In this case, I would argue what the OP is suggesting is essentially an "Anticorruption Layer" (as discussed by Evans in Domain Driven Design) which is certainly not a bad idea. Of course, as @icebob stated, events should **never** go back to the caller but rather

[2019-11-26 14:59] intech commented on #621
In addition to outputting errors to the console, it would be nice to have a handler that can be declared and caught in each service at the hook or middleware level.

[2019-11-26 15:21] NickClark opened #622 "Typescript type check error break hot reload"
## Current Behavior

If a typescript file is saved with any syntax or type error, the dev runner will throw an error (as expected), but after the error is resolved, the reload fails to pick it up again. Compare this to a runtime error, which correctly restarts when a file is saved.

## Expected Behavior

It should reload the service even after type errors.

### Steps to Reproduce

1. Create a new

[2019-11-26 15:38] oliversalzburg opened #623 "Declare plugins as peerDependencies"
**Is your feature request related to a problem? Please describe.**
We use a package manager that utilizes symlinks to build the dependency tree from a flat storage area of all installed packages. Because of that, packages can not `require()` other packages that live closer to the root of the dependency tree, because their on-disk location doesn't have the required dependency as a parent.

**Descri

[2019-11-26 20:16] erfanium commented on #621
@ccampanale
Good idea, but i think this implementation is inconsistent with the usual Moleculer service structure
I think it's better to save events model in a separate file (like mongoose models), and when we want to use it, simply import it and use it with `this.emit` or `this.broadcast` methods like this:

**MyService/EventsModel.js**
[code]

**MyService/myService.js**
[code]
Also we can use it

[2019-11-26 21:12] icebob commented on #621
Nice suggestions, but at first, I will add params validation to the events on the listener side. It can be done with a few code lines. After that, we can discuss event models which one fits best Moleculer concepts.

@intech In 0.14 the event handlers errors are passed to the `errorHandler()` broker options, so you can catch them. On the other hand, I'm planning to implement hooks in events like ac

[2019-11-26 21:14] icebob commented on #623
Could you explain it with an example?

[2019-11-26 22:20] ccampanale commented on #621
@erfanium
Thanks! I do agree regarding the inconsistency with the rest of the framework and absolutely think that more thought needs to go into this. That said, the examples you provided would be breaking changes to the broker `.emit()` and `.broadcast()` interfaces (unless I'm missing something) which would be nice to avoid. Additionally, I would argue that the broker is not emitting/broadcasting

[2019-11-27 09:49] oliversalzburg commented on #623
In the AMQP transporter, you [require `amqplib`](https://github.com/moleculerjs/moleculer/blob/master/src/transporters/amqp.js#L120). moleculer does not declare a dependency on `amqplib`, so this `require()` will fail, unless a dependent of `moleculer` installed a version of `amqplib` into the dependency tree structure into a place where it can be loaded by NodeJS from within the moleculer source

[2019-11-27 10:19] erfanium commented on #621
@ccampanale thanks for your opinion.
I may not understand what you mean. However...
in the current Moleculer service structure, All services are free to listen/emit any events (of curse in listener side you can see event service source). so if you have suggestions for this structure, it should be discussed in another issue.

of course, in EventModel we can select that which services can emit that

[2019-11-27 13:11] ccampanale commented on #621
No, I think we're on the same page. Also, I'm not aiming for creating limits exactly. When I stated that "the event can be associated to only the service(s) which may emit/broadcast the event" I only mean that the ability to associate the event to a service should be prescriptive. Furthermore, the reason for the association is not about limiting which service can use the event model to create or f

[2019-11-27 13:19] icebob commented on #623
But if I add all available pluggable lib dependencies as peerDependency, but you don't use them, NPM will warn you that these many peer dependency is not installed.

[2019-11-27 13:37] oliversalzburg commented on #623
That is true and it should be seen a benefit IMHO.

It makes it clear that certain features won't be available until the peer dependency is installed or that it will not work at all because of a version conflict.

[2019-11-27 14:46] erfanium commented on #621
@ccampanale
I think I understood what you mean
You want to know which services can emit or broadcast particular events. it's ok? We can define them in service schema, like this:
const { myEvent } = require("./EventsModel");

[code]
so you can see which events are listened or published by service and only services can emit a particular event that they have added that eventModel to own `publishedEve

[2019-11-27 23:58] orbelink opened #625 "Kafka Transporter Stable release"
Hey Guys, hope you are doing well,

Question, when do you think the Kafka transporter is going to be stable?

I love the project and I follow all your work, I did some cool stuff with moleculerjs but I really want to use Kafka in production.

Kind Regards,
Leonardo Monge García.

[2019-11-28 05:00] intech commented on #625
@orbelink for the transport of kafka, not all the possibilities of kafka are realized. I think that this is the only reason.
It would not be bad to use kafka stream and everything related to queues, balancing and sharding, but this will require significant changes of the transport system in moleculer

[2019-11-29 16:18] ccampanale commented on #621
@erfanium
Precisely! This is essentially what I'm building locally but the published events data ends up in the service metadata. Being built into the Moleculer Core would be much cleaner IMO.

Additionally, as you've pointed out, using these same event models for event payload validation (an anti-corruption layer) would be a win-win.

Also, while I don't personally need to restrict the event by s

[2019-11-30 12:05] icebob commented on #625
Kafka transporter will be stable status in the Moleculer 0.14.
However, as @intech said, it doesn't use all Kafka features, just using it as a pub-sub message broker to transfer Moleculer packets.

[2019-11-30 12:06] #625 closed

[2019-12-02 07:57] nllahat commented on #561
Hi @lehno  we are considering it again. Will update here when we start writing the transporter

[2019-12-03 02:32] ujwal-setlur commented on #214
@icebob i have been evaluating moleculer for about a month now. Have not taken into production yet. It matches my initial architectural design almost to a tee. Excellent excellent work. Happy to support it in any way I can. I will look into becoming a sponsor.

[2019-12-03 08:02] icebob commented on #214
@ujwal-setlur It would be awesome! Thank you in advance.

[2019-12-04 21:01] erfanium opened #627 ""onError" hook in action schema"
As far as I know, the only way to catch action errors is by defining an after-hook in service schema, I think at times it can be problematic, for example, I define service actions, events, methods ... in separate files as modules, but I can't define action hooks in the actions module.

My solution is like this:

[code]
I think this solution is much cleaner and rational than current action hooks

[2019-12-04 21:13] icebob commented on #627
In the next 0.14 version, you can define actions hooks inside action definition.
https://moleculer.services/docs/0.14/actions.html#Action-level-declaration

[2019-12-04 22:03] erfanium commented on #627
@icebob Very good, I didn't know that, but I think in this usage (catching error), using "onError" method is much easier and fluent instead of defining after hook and checking is there any error ...

[2019-12-06 20:08] alexeymarunin commented on #101
We are using Moleculer in [Cryptonoid](https://cryptonoid.io/)

![Cryptonoid Logo](https://cryptonoid.io/static/media/logo.82a5e145.svg)

[2019-12-06 20:12] icebob commented on #101
Great, thank you!
I've added it to the site.

[2019-12-07 22:01] ujwal-setlur opened #629 "NodeID conflict on restart when nodeID is set and using Kafka transporter"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ X] I am running the latest version
0.14-beta6
- [ X] I checked the documentation and found no answer
- [X ] I checked to make sure that this issue has not already been filed
- [ X] I'm reporting the issue to the correct repository

## Current Behavior

I have set the NodeID in the configuration fi

[2019-12-07 22:14] ujwal-setlur commented on #629
It doesn't seem to depend on whether i set ```this.hasBuiltInBalancer = true;``` or not. This is what I see from kafka:

[code]

the AMQP transporter for RabbitMQ seems to be most stable of them all! Looks like I will use RabbitMQ, but will need to use a separate eventstore then. Oh well, moleculer is still awesome!

[2019-12-09 10:14] iujlaki commented on #101
Hi,

We switched to moleculer (from Ruby on Rails) successfully this year.

In this time, we started our own product and choosed moleculer to our API framework:

https://motivac.io

With this system You'll build better synergies between your employees to make their work easier, faster and even more enjoyable by inspiring them to help each other and give each other feedback.

![motivac.io](https://

[2019-12-09 10:24] AndreMaz commented on #101
Awesome news :smile: I've added your company to the site

[2019-12-09 12:22] icebob commented on #101
@iujlaki Nagyszerű, szép munka! :) Discord chat-en tudnánk beszélni, érdekelne a tapasztalatotok a Moleculer-ről.

[2019-12-09 16:43] AndreMaz commented on #629
So this is happening with other transporters also? Not only with Kafka?
Can you create a repro repo?

[2019-12-09 16:45] ujwal-setlur commented on #629
This is happening with Kafka alone. I have other issues with the Stan transporter (my initial choice), but amqp transporter worked straight out of the box for me. I will try to create a repro repo either today or tomorrow

[2019-12-09 18:45] eduardoparolin commented on #101
Hi !

We've switched almost all our projects to moleculer in 2019. We are loving it !

This is our website: [TuntsCorp](http://www.tuntscorp.com/site/)

Our logo:
![Tuntscorp](http://www.tuntscorp.com/site/assets/img/tunts3.png)

[2019-12-09 19:41] #613 closed

[2019-12-09 19:42] #609 closed

[2019-12-09 19:42] #601 closed

[2019-12-09 19:43] #607 closed

[2019-12-09 20:01] icebob commented on #101
@eduardoparolin awesome! I've added your company to the site.

[2019-12-10 20:51] ujwal-setlur commented on #580
Has this been released on npm yet? Is this included in 0.14-beta6? Would love to have this bug fix released.

[2019-12-10 21:07] icebob commented on #580
Yes, it's been released.

[2019-12-10 21:19] ujwal-setlur commented on #580
Hmm, it's still not working for me...works with moleculer-runner, but now when I manually create a service broker and create a service. I will test with the example code above. Also, I don't see all of @AndreMaz's fixes in the beta-6 release

[2019-12-10 21:29] ujwal-setlur commented on #580
Hmm, example code works. Need to dig more. I am using Typescript by the way, if it makes a difference...

[2019-12-10 21:33] ujwal-setlur commented on #580
when I run in debug mode, I see:

[code]

[2019-12-10 23:39] ujwal-setlur commented on #580
Turns out the following does NOT work:

[code]

But if create an ```api.module.ts```:

[code]

and then do
[code]
then it works. So the service has to be defined as a ```module.export``` and loaded for hot-reload to work? What about files outside of the service definition file? Will those files not be watched?

[2019-12-12 13:20] pavankumarkatakam commented on #620
Hi @icebob , I have sent you mail with screen recording video please check once.

[2019-12-12 15:08] azatTemirbek opened #630 "Action TTL is overrided on second request by this.broker.cacher.get function."
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [1] I am running the latest version
- [ ] I checked the documentation and found no answer
- [1] I checked to make sure that this issue has not already been filed
- [ ] I'm reporting the issue to the correct repository

## Current Behavior

As mentioned in docs ttl can be overridden by defining the a

[2019-12-12 20:50] icebob commented on #630
Nice catch! @AndreMaz could you help to fix it?

[2019-12-13 08:33] azatTemirbek commented on #630
I have an issue with git in this pc. I have forked and tested all test passed so could you please merge it
[code]

[2019-12-13 10:29] AndreMaz commented on #630
This is related to https://github.com/moleculerjs/moleculer/issues/576

From the issue:

So should we update the expire time?
[code]

[2019-12-13 10:52] alexeymarunin opened #631 "Methods in mixins aren't used"
Simple service with mixin

[code]

[code]

Seems mixin's hooks (`method1` and `method2`) were not called

[2019-12-13 11:09] alexeymarunin commented on #631
But works

[code]

[2019-12-14 07:22] pavankumarkatakam commented on #620
Hi @icebob , Debugging in depth i found the actual line of code which is causing this problem i think it will help to find out actual error.

We are actually using the your kantab project config mixin along with config service, in that config mixin if we comment the [events line](https://github.com/icebob/kantab/blob/6ec7fdab837598f36dc5302bd4f202a07baf3a43/backend/mixins/config.mixin.js#L33) then

[2019-12-15 10:15] icebob commented on #620
Hmm, it means, the event name contains some prohibited character. Could you print out the `events` object to the console. to see the event names?

[2019-12-15 12:17] icebob commented on #631
Nice catch, fixed.

[2019-12-15 12:17] #631 closed

[2019-12-16 05:05] pavankumarkatakam commented on #620
These are the possible event names form different services

From accounts service:
[code]

From mail service:

[code]

These accounts and mails service is from your repository only.

[2019-12-16 17:32] icebob commented on #620
I have no idea. Could you create a small reproduce repo?

[2019-12-16 17:39] icebob commented on #620
Not need it. I can reproduce.

[2019-12-16 20:51] icebob commented on #630
We should not update the item.expire because we can't if the `cacher.set` has been called with a different TTL. However, as described in #576, if we don't reset the `item.expire` the logic will be same as Redis transporter.

@AndreMaz so, please remove this `item.expire` updating part from the `get` method.

[2019-12-17 11:27] #620 closed

[2019-12-17 11:27] #630 closed

[2019-12-17 20:08] icebob commented on #630
Released in [0.13.12](https://github.com/moleculerjs/moleculer/releases/tag/v0.13.12)

[2019-12-17 20:08] icebob commented on #620
Released in [0.13.12](https://github.com/moleculerjs/moleculer/releases/tag/v0.13.12)

[2019-12-18 15:42] pibi opened #634 "requestID is null on first call, but has a value next"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behaviour

The requestID of a call is null on the first call to a serv

[2019-12-18 15:46] oliversalzburg opened #635 "Dead AMQP queues left behind"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

After some time of operation, there are AMQP queues in the s

[2019-12-18 19:21] AndreMaz commented on #635
@Nathan-Schwartz can you take a look at this?

[2019-12-18 19:57] AndreMaz commented on #634
Something weird is happening over here :confused:
Tried to debug to see what's happening and just hovering twice over `ctx` sets the `requestID`.
Hover the first time and it's `null`, hover the second time and it's set...

![Y9jiglViZy](https://user-images.githubusercontent.com/9802754/71118136-61bdd880-21cf-11ea-867b-8fd21a0f68f5.gif)

[2019-12-18 20:32] AndreMaz commented on #634
Same thing on `next` branch
![bPpp0S8Pmd](https://user-images.githubusercontent.com/9802754/71120985-65545e00-21d5-11ea-8a7c-54d142c926b9.gif)

[2019-12-18 21:16] icebob commented on #634
`ctx.id` is a getter, so it's value will be generated only if need. Generating UUID is an expensive operation, so it will generate only if it's read.

https://github.com/moleculerjs/moleculer/blob/a0b5d9989cd0e4553cc160635f0895c86d1d2ddb/src/context.js#L139-L146

[2019-12-18 21:33] AndreMaz commented on #634
Thanks @icebob that clears things

[2019-12-18 21:35] icebob commented on #634
I think the only solution if we convert `requestID` to getter/setter (like `id`) and if not set manually, we should set from `ctx.id`

[2019-12-18 23:10] pibi commented on #634
@icebob  I think the issue is here: https://github.com/moleculerjs/moleculer/blob/a0b5d9989cd0e4553cc160635f0895c86d1d2ddb/src/context.js#L122

On the first call the getter is triggered by the called service after the `requestID` computation. So probably it could be fixed by moving the `parentID` setup before the `requestID`.
By the way, this code wuld work only when the parent and the child node

[2019-12-19 11:53] oliversalzburg commented on #635
I initially observed this in our test environment and today looked into it locally. When I start up the current state of the application on a fresh install of RabbitMQ and then shut everything down moments later, I am left with several queues:

![image](https://user-images.githubusercontent.com/1658949/71171584-71383280-225e-11ea-99d7-a7fe95ce4499.png)

It is my understanding that some of these qu

[2019-12-19 12:03] oliversalzburg commented on #635
This seems to have been a configuration error on my part. Instead of providing the transporter `options`, I provided `option` 😒

After _properly_ setting `autoDeleteQueues`, the queues in question are now also clearly marked as expiring.

![image](https://user-images.githubusercontent.com/1658949/71172113-b4df6c00-225f-11ea-9a5e-b34e41900005.png)

[2019-12-19 12:03] #635 closed

[2019-12-19 12:06] oliversalzburg commented on #635
I find it somewhat confusing that this feature isn't enabled by default. Is there any benefit to keeping these queues around? It seems to me like they are very hard to salvage and ultimately produce more clutter and load than what they're worth.

[2019-12-20 14:23] davidfrtala commented on #596
Hello @shlomokraus, @icebob

We at Jarvify were working on a library, that does exactly what you've requested.

![Moleculer TypeScript](https://raw.githubusercontent.com/jarvify/moleculer-ts/master/examples/moleculer-ts.gif)

Please, take a look on our [moleculer-ts](https://github.com/jarvify/moleculer-ts) library.

With this library, you simply define a types for your services

[code]

then, let

[2019-12-20 19:39] Nathan-Schwartz commented on #635
Ahh, sorry you had to deal with that.

It defaults to being disable for backwards compatibility reasons, but it could be changed. For more context you can check out the discussion on this topic midway through this [thread](https://github.com/moleculerjs/moleculer/pull/341).

[2019-12-20 21:56] ujwal-setlur commented on #596
@davidfrtala awesome! We were about to embark on our generator. Will your library work with moleculer 0.14?

[2019-12-21 17:50] oliversalzburg commented on #635
@Nathan-Schwartz Yeah, I read that. But, given the note about breaking changes possibly happening all the time in the 0.x versions, I'd like to suggest maybe making that change. It can be frustrating when you're onboarding and then you have to clean up a lot of dead queues.

Works great now though. Cheers :)

[2019-12-22 20:27] veeramarni opened #637 "suggestion on how to move from hemera-plugins"
**Is your feature request related to a problem? Please describe.**

We use `hemera`(https://github.com/hemerajs/hemera) for microservices and now we looking to migrate to `moleculer`. Any suggestion on an easy way to convert to `moleculer` without a lot of refactoring?

Below is the sample code developed with `hemera`.

1. Write reusable code and package them by publishing to `npm` repository as `

[2019-12-23 08:33] ujwal-setlur opened #638 "CheckRetryable type definition incorrect"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X ] I am running the latest version
- [ X] I checked the documentation and found no answer
- [ X] I checked to make sure that this issue has not already been filed
- [ X] I'm reporting the issue to the correct repository

## Current Behavior

When I turn on strict mode in tsconfig.json, with
[code]

[2019-12-23 10:57] SushKenyNeosoft opened #639 "Can we add a middleware for particular alias?"
**Is your feature request related to a problem? Please describe.**
I have the number of APIs

"POST /users": "v1.users.register",
"POST /users/authenticate": "v1.users.authenticate",
"POST /users/activate": "v1.users.activate"

These aliases are listed in API Gateway service

My project is a multitenant microservice which has different types for user creation, authentication and activation.

And I

[2019-12-23 11:45] azatTemirbek commented on #576
What you think about this one
[code]

LOG:
[code]

molecular Config (ttl to 10 sec)
[code]

[2019-12-23 12:43] molobala commented on #639
hello,
You can use an array to use a middleware like this:
`"POST /users": [myMiddleware1, myMiddleware2,"v1.users.register"]`

[2019-12-24 01:04] ujwal-setlur commented on #629
@AndreMaz sorry for the delay, but here is a reproduction repo:

https://github.com/ujwal-setlur/moleculer-629-reproduction

[2019-12-27 00:11] roonie007 commented on #620
@icebob  is this fix available in 0.14.0 ?

[2019-12-27 00:55] roonie007 opened #640 "[bug] Override Request Timeout"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ X ] I am running the latest version
- [ X ] I checked the documentation and found no answer
- [ X ] I checked to make sure that this issue has not already been filed
- [ X ] I'm reporting the issue to the correct repository

## Current Behavior

I can't override the request timeout.

It does not w

[2019-12-27 09:52] SushKenyNeosoft commented on #639
Thanks @molobala , I'll try this :)

[2019-12-27 10:09] #639 closed

[2019-12-27 10:23] SushKenyNeosoft opened #641 "HTTP responses enhancements."
As we have `Errors` class from `moleculer-web` like NotFoundError, BadRequestError?

Do we have all the HTTP errors?

For example, I needed 409 conflict error, 403 forbidden, 413 Entity too large, etc.

Is there any way to extend HTTP Error and create our own errors?

I also wanted to send response status 201 after creating a new entity is it possible to do so? If yes then how can we do it?

[2019-12-27 12:38] pavankumarkatakam commented on #620
Hi @icebob , i installed 0.13.12 and it working fine now.

[2019-12-27 12:53] molobala commented on #641
Hello,

Check this section in the [documentation](https://moleculer.services/docs/0.13/moleculer-web.html#Response-type-amp-status-code) to change status code and status message.

You can also use MoleculerClientError for different error message and code from you service actions

[code]

[2019-12-27 13:55] AndreMaz commented on #640
What do you have in your `files` action?
I've tried here and things are working.
Timeout in broker's options:
![image](https://user-images.githubusercontent.com/9802754/71519676-70cc1700-28b0-11ea-95e9-92494b14de01.png)

Timeout defined in `broker.call`

[2019-12-27 14:07] AndreMaz commented on #641
What @molobala said is correct.
Status code with Moleculer Error
![image](https://user-images.githubusercontent.com/9802754/64023858-0f2db300-cb31-11e9-8769-e51fefc9036b.png)

Status code with `ctx.meta.$statusCode`
![image](https://user-images.githubusercontent.com/9802754/64024616-b5c68380-cb32-11e9-80cc-a5cf197b832d.png)

[2019-12-27 14:07] #641 closed

[2019-12-27 16:38] AndreMaz commented on #620
@roonie007 it's not available it latest beta `0.14.0-beta6`. But you can use it by installing directly from github (next branch)

[2019-12-27 16:51] AndreMaz commented on #639
@SushKenyNeosoft you can read more about middleware here https://moleculer.services/docs/0.13/moleculer-web.html#Middlewares

[2019-12-28 00:45] roonie007 commented on #640
Sorry my mistake, the timeout was related to another used module, it get's me crazy.

[2019-12-28 00:45] #640 closed

[2019-12-29 13:43] nnqq opened #642 "[TypeScript] Generic Context error"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

[code]

## Expected Behavior

No TS errors

## Failure Infor

[2019-12-29 15:38] shawnmcknight commented on #642
This issue was resolved in the beta release via #626 via [this edit](https://github.com/moleculerjs/moleculer/pull/626/files#diff-b52768974e6bc0faccb7d4b75b162c99R35).

This occurs only with TS option for `strictFunctionTypes` enabled which I have personally disabled in my projects as it seems to be a hyper-aggressive option that I don't believe provides a ton of utility.

So potential solves here

[2019-12-29 15:48] AndreMaz commented on #642
Thanks @shawnmcknight

[2019-12-29 16:11] nnqq commented on #642
@shawnmcknight Thank you. I made small fix and open PR https://github.com/moleculerjs/moleculer/pull/643

[2019-12-29 18:01] shawnmcknight commented on #623
This seems to me it would be a better use case for [optionalDependencies](http://npm.github.io/using-pkgs-docs/package-json/types/optionaldependencies.html) more than peerDependencies.  The expectation of a peerDependency is that both the library's consumer and the library need the dependency (e.g. a library consuming react would also use react-dom, thus react-dom is a peerDependency of react). [c

[2019-12-30 02:34] JoshGlazebrook opened #644 "Typescript typings missing 'hooks' in ServiceSchema"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior
It appears the typescript typings in master do not ever ment

[2019-12-31 11:21] icebob commented on #596
Good job @davidfrtala!

[2019-12-31 11:23] icebob commented on #635
If you @oliversalzburg & @Nathan-Schwartz confirm that we change it, we could do that before stable 0.14, So open a PR with the changes in the `next` branch, if you think.

[2019-12-31 11:33] icebob commented on #637
Hemera & Moleculer have a different coding style & code structure so you can't easily migrate your services.

[2019-12-31 11:47] icebob commented on #629
I think the problem is that Kafka stores the internal protocol messages (like INFO packet) as well, and the new client receives the old packets from Kafka. We should check the topic settings in Kafka transporter and set that doesn't store these packets.

[2019-12-31 12:00] icebob commented on #623
@shawnmcknight the problem with optional dependencies is that the simple `npm install` will try installing all of them. So if you make a simple service without transporters, the NPM will install all transporters dependencies as well (nats, ioredis, kafka-node, amqplib...etc) and the `node_modules` will be too heavy.

[2019-12-31 12:03] icebob commented on #644
Could you create a fix PR?

[2019-12-31 14:01] srosset81 opened #645 "Allow broker to watch for events"
**Is your feature request related to a problem? Please describe.**
I'm doing integration tests over multiple Moleculer services, some of them being called through the events system. The problem is that I need to wait for some of these events to have been sent before checking for the result.

Currently only services can watch for events. In order to allow the `broker` to wait for events, I've creat

[2019-12-31 19:38] ujwal-setlur commented on #629
@icebob I agree with your theory. Essentially, when the node comes back up, it is getting its own messages.

[2019-12-31 22:39] ngraef opened #646 "Dynamic event subscriptions"
**Is your feature request related to a problem? Please describe.**

It is currently not possible (as far as I can tell) to modify a service's events after the service has started. Imagine a service where event subscriptions are created and updated by an action call (or other event trigger). For example, there could be a function-as-a-service platform that allows users to define functions and have

[2020-01-01 00:36] roonie007 commented on #528
@icebob any news about this issue ?

[2020-01-01 12:09] icebob commented on #528
No any news.

[2020-01-02 02:18] ujwal-setlur commented on #621
@ccampanale any plans on open-sourcing your code into a library?

[2020-01-02 20:54] #642 closed

[2020-01-03 03:55] robodude666 opened #647 "Allow customization of tracing span names"
**Is your feature request related to a problem? Please describe.**
The tracing functionality added in v0.14.0 has fixed names for actions: `action '${ctx.action.name}'` and events: `event '${ctx.eventName}' in '${service.fullName}'`.

When pairing the tracing feature with `moleculer-web`, you get a giant list of `api: action 'api.rest'` which isn't very descriptive.

Yes, you can usually filter do

[2020-01-03 10:14] gperreymond commented on #101
Hello,

Here at https://www.lalalab.com I used moleculer for our new microservices architecture.
I made a complete architecture based on this amazing project.

My team deploy all the stack with our gitlab CI into kubernetes on AWS EKS.
And for the charge, we have around 2M calls a day, over nats and rabbitmq, depends on what we want to use.

All the monitoring is on ELK, and grafana, thanks to the

[2020-01-03 16:12] AndreMaz commented on #101
@gperreymond we are glad that you like it 😃

Wow! that's some impressive numbers

Nice 👍 When you are done please create a PR to [`awesome`](https://github.com/moleculerjs/awesome-moleculer) repo

Also, can I use this logo in Moleculer's site?
![download](https://user-images.githubusercontent.com/9802754/71734328-9a061d80-2e43-11ea-96ce-7737ee8b6c3e.png)

[2020-01-03 16:28] gperreymond commented on #101
Thanks a lot, yes I forgot the logo, you can use this one.

[2020-01-04 08:37] icebob commented on #101
@gperreymond good job! Can you join to Discord chat, I may ask some questions about your experiences & project.

[2020-01-04 08:47] icebob commented on #647
Good idea, thanks!

[2020-01-04 09:17] ujwal-setlur commented on #596
We also did something similar: [moleculer-service-ts](https://github.com/bytetechnology/moleculer-service-ts). There is no generator, but defining types for service actions and events is very simple.

[2020-01-04 12:15] gperreymond commented on #101
@icebob ofc I will be glad to answer your questions, where I can find the discord chat ?
And when ?

[2020-01-04 12:16] AndreMaz commented on #101
@gperreymond link to Discord: https://discord.gg/TSEcDRP

[2020-01-04 16:16] icebob commented on #629
Fixed. Could you test it with `npm i moleculerjs/moleculer#next`?

[2020-01-05 01:25] robodude666 opened #648 "Detecting Events since last time service ran?"
Is it possible to process/receive events that were published since the last time a service ran?

For example, say you have a `order` service and `fulfillment` service. For whatever reason, your `fulfillment` service crashes and doesn't automatically restart. The `order` service sends out a `order.created` event. At 2 AM you figure out the problem and get the `fulfillment` service back online.

Wil

[2020-01-05 09:32] #637 closed

[2020-01-05 09:34] #627 closed

[2020-01-05 09:35] icebob commented on #622
Fixed in https://github.com/moleculerjs/moleculer/commit/d075f072a8f12101e4ba596bf8e1225dbf8c2617

[2020-01-05 09:35] #622 closed

[2020-01-05 09:41] icebob commented on #605
I think [event acknowledgement](https://github.com/moleculerjs/rfcs/issues/2) can solve this problem and not if we place business logic into the transporter logic to decide what it does with the failed events.

[2020-01-05 09:41] #605 closed

[2020-01-05 12:23] icebob commented on #648
No, the events are fire & forget. For these cases, use some [tasks queues].(https://github.com/moleculerjs/awesome-moleculer#tasks-queues-and-jobs)

[2020-01-05 14:18] icebob commented on #647
Implemented in https://github.com/moleculerjs/moleculer/commit/1a2af85ec468d43c3e3e07097dd6069fc251fc20
Will be released in the next beta.
It can be a `String` or a `Function`.
[code]
[code]

[2020-01-05 14:18] #647 closed

[2020-01-05 15:45] intech commented on #647
@icebob perfect, thanks!

[2020-01-05 18:10] robodude666 commented on #648
Would it be possible to have the events be pluggable like the transports are? For example, I could elect to use NATS transport for actions and ampq for events? This would allow your services to continue using the broker.emit/broadcast APIs but back it up with the functionality described above.

[2020-01-05 21:26] icebob commented on #648
No, tt's not available. Multiple transporter using is not supported.

[2020-01-05 21:27] robodude666 commented on #648
Yeah, but wouldn't that be a cool feature? The ability to specify different transports for actions vs events? Could potentially address #83.

[2020-01-06 12:18] SushKenyNeosoft opened #649 "Service not found error"
I'm currently using moleculer microservices with the unit testing. I've a problem with starting the services.

I have a service named user service with version 1. There is one more service named Notification Service.

User service is tightly coupled with Notification Service.

For e.g.

I have a action named register in User Service and it calls sendEmail method using `ctx.call('notification.sendE

[2020-01-06 14:05] AndreMaz commented on #649
@SushKenyNeosoft you are creating 2 `ServiceBroker`s and not setting the transporter so the services can't communicate.

You also might consider using single ServiceBroker during unit testing. This way you can abstract yourself from the transporter module and focus only on the application logic.

Also, for questions consider using [Discord chat](https://discordapp.com/invite/TSEcDRP) instead of Gi

[2020-01-06 14:05] #649 closed

[2020-01-06 17:07] SushKenyNeosoft commented on #649
Sure sir, really appreciate this

[2020-01-07 09:35] oliversalzburg commented on #623
I don't necessarily agree with the reasoning, but either way would achieve boths goals I proposed so I don't want to argue over the specifics :D

[2020-01-07 09:52] icebob commented on #629
@ujwal-setlur could you join our [Discord chat](https://discord.gg/TSEcDRP)? I would like to ask you about your project & experiences. Thanks in advance!

[2020-01-08 07:31] ujwal-setlur commented on #629
Sure, I think I joined a week or so ago

[2020-01-08 07:35] ujwal-setlur commented on #629
Joined

[2020-01-08 07:36] ujwal-setlur commented on #629
BTW, I will test the big fix this week

[2020-01-09 13:48] HighSoftWare96 opened #652 "Unable to call broker on the same service in started lifecycle event"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior
I've created a service `user` that on the `started` lifecycle

[2020-01-09 19:48] icebob commented on #528
**Node 10**
[code]

**Node 12**
[code]

I think it's very straightforward. We should drop Bluebird because it's 2.5x slower than the native built-in `Promise`

[2020-01-09 20:04] icebob commented on #620
Released in 0.14.0-beta7

[2020-01-10 15:15] icebob commented on #652
It's not available because while the service is not started properly, it doesn't appear in the Service Registry, so you can't call. You can't call a not started service. If you want to call an own service from started, use the `this.actions.myAction()` form.

[2020-01-10 16:07] HighSoftWare96 commented on #652
Ok that's fine... Actually I had too much dependencies for the action I wanted to call so I made a bootstrap script inside the `started` of the broker. In that case I should be sure that all services are correcly initialized and register, shouldn't I?

I'll close this, but first I was wondering there is no lifecycle method in a service that achives my purpose?

[2020-01-12 11:20] icebob commented on #652
You can subscribe to the `$broker.started` event:

[code]

[2020-01-12 17:31] HighSoftWare96 commented on #652
That's great, thank you!

[2020-01-12 17:31] #652 closed

[2020-01-14 11:15] #528 closed

[2020-01-15 19:37] icebob commented on #646
Could you show a pesudo code how do you think?

[2020-01-15 20:09] ccampanale commented on #646
@ngraef Another alternative is a `**` event listener that dynamically filters incoming events and deals with them as needed. I've implemented a couple services this way personally. One service listens to all events and filters them through several notification definition objects which determine whether notification messages need to be created for users/teams associated to the event. The other serv

[2020-01-17 17:57] lamanabie commented on #648
I am actually working on implementation of events since last service run - using bull ( distributed jobs and messages ), I want moleculer with event-driven architecture, that can use persistent retryable events. I will share my implementation, maybe even create module for this :)

This is big topic and really depends what you expect from your event driven architecture.

[2020-01-21 03:38] roberto-paes opened #655 "Redis client errors with batch commands (multi)"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

Hi.

I don't know if it's really a bug, as i'm using the emb

[2020-01-26 16:44] #644 closed

[2020-01-26 19:14] icebob commented on #634
Released: https://github.com/moleculerjs/moleculer/releases/tag/v0.14.0-rc1

[2020-01-26 19:14] #634 closed

[2020-01-26 19:14] icebob commented on #629
Released: https://github.com/moleculerjs/moleculer/releases/tag/v0.14.0-rc1

[2020-01-26 19:14] #629 closed

[2020-01-26 19:15] icebob commented on #621
Released: https://github.com/moleculerjs/moleculer/releases/tag/v0.14.0-rc1

[2020-01-27 15:14] ccampanale commented on #621
@ujwal-setlur The code I was working on was very alpha and I have decided to take things in a different direction. Reason one is that there will be core support for this idea in Moleculer (this issue) which, given the small size of my team, would be best to adopt rather than to reinvent. Additionally - reason two - since the platform my team supports is primarily in AWS I've written a package with

[2020-01-28 08:01] ngraef commented on #646
@ccampanale That is an alternative, though it's essentially reimplementing the responsibilities of the event subsystem (NATS in our case).

@icebob Here's an idea using the example of a function-as-a-service platform.

[code]

[code]

[code]

---

### Service Instance Methods
#### `subscribe(eventName, subscriptionId, handler): subscriptionId`

- where `subscriptionId` is unique per `eventName`. I

[2020-01-28 22:41] deman4ik opened #658 "v0.14.0-rc1 TypeError: Cannot read property 'hooks' of undefined"
## Failure Logs

Failed to load service '...' TypeError: Cannot read property 'hooks' of undefined
    at /node_modules/moleculer/src/service.js:647:40

### Steps to Reproduce
Version: v0.14.0-rc1
Service with mixin and action before hook

### Reproduce code snippet
[https://codesandbox.io/s/moleculer-sample-r4o32](https://codesandbox.io/s/moleculer-sample-r4o32)

[2020-01-29 10:09] icebob commented on #658
Thanks, fixed. Please upgrade to rc2

[2020-01-29 10:09] #658 closed

[2020-01-29 12:32] #621 closed

[2020-01-30 16:13] veeramarni opened #659 "start the services with nodejs"
## Prerequisites

We are working on migrating our services to moleculer and to follow certain structure we compile the code and start with `node`.

What is the right way to start the compiled file.

compiled file has code like
---
[code]

If we start with

[code]

It fails before starting without any errors

[code]

If we start with `monculer-runner` it fails with this error

[code]

Source code
-

[2020-01-30 17:09] icebob commented on #659
Check this, why the process exited without errors: https://moleculer.services/docs/0.13/faq.html#Why-the-broker-exits-without-any-error-when-I-start-my-service

[2020-01-30 21:56] veeramarni commented on #659
Thanks, after googling, found out I'm missing `start`. Now it works fine.

`broker.start()`

[2020-01-30 21:56] #659 closed

[2020-01-31 12:36] reklatsmasters opened #660 "Nats trying to reconnect when a i call broker.stop"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [+] I am running the latest version
- [+] I checked the documentation and found no answer
- [+] I checked to make sure that this issue has not already been filed
- [+] I'm reporting the issue to the correct repository

## Current Behavior

I'm trying to implement greaceful shutdown in my app. When i

[2020-01-31 19:10] icebob commented on #660
Try to disable process event handlers in ServiceBroker:

[code]

[2020-02-01 08:51] icebob commented on #648
It will solve it: https://github.com/moleculerjs/rfcs/issues/3

[2020-02-01 08:51] #648 closed

[2020-02-01 08:51] icebob commented on #645
It will solve: https://github.com/moleculerjs/rfcs/issues/3

[2020-02-01 08:51] #645 closed

[2020-02-03 08:41] reklatsmasters commented on #660
Unfortunately, it doesn't help.

[2020-02-03 18:47] icebob commented on #660
The reproduce code snippet works for me.

[2020-02-04 13:37] JordanPawlett opened #662 "Console and Event metric reporters are handling snapshot interval incorrectly."
## Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

The documentation states that the interval for the Event reporter and Console reporter is given in milliseconds. However the `init` function

[2020-02-04 15:03] icebob commented on #662
Thanks! The documentation is outdated, we will update it.

[2020-02-04 19:27] #662 closed

[2020-02-06 12:42] intech opened #667 "ENV deep configuration not working"
From documentation https://moleculer.services/docs/0.14/runner.html#Configuration-loading-logic example
![Снимок экрана от 2020-02-06 14-51-07](https://user-images.githubusercontent.com/451306/73937827-f9e65d00-48f6-11ea-97e4-2ab3d557ed72.png)
[code]
not working, error:
![Снимок экрана от 2020-02-06 15-35-11](https://user-images.githubusercontent.com/451306/73937885-14b8d180-48f7-11ea-9948-4b07e2b

[2020-02-07 11:03] AAfraitane opened #669 "Redis cluster as transporter"
On a swarm cluster I would like to have a redis cluster (master, replicates and sentinels) as transporter

It would be nice to have the possibility of giving an array as transporter config option.
With ioredis [Pub/Sub in cluster mode works exactly as the same as in standalone mode](https://www.npmjs.com/package/ioredis#pubsub-1)

So we will have in RedisTransporter class something like :

[code]

[2020-02-07 11:07] icebob commented on #669
Good idea. Could you create a PR with it?

[2020-02-07 18:06] intech opened #670 "Configuration registry"
Now brokers configuration should be specified in moleculer.config.js or env.
How do you look at integration with vault, etcd and other centralized configuration and secret key management systems?
Can we implement a registry with providers support as it is implemented with logger, tracing, metrics?
Thus, in env, you will need to specify only the connection to this configuration registry by a unique

[2020-02-07 18:22] icebob commented on #670
Yes, it can be a new feature in the future.
By the way, since #611 the moleculer.config.js export can be an async `Function`. So you can make any connection to a remote registry, get the config and return it.

Pseudo example:
[code]

[2020-02-08 11:42] intech commented on #101
Hi!

https://github.com/moleculerjs/moleculer/issues/101#issuecomment-384276344 - This project was closed and transferred to the internal project of the mobile operator Tele2. Now we are writing a technical task to solve a new problem, to be continued. :)

We have at least 3 more projects, the most complete:
![1](https://user-images.githubusercontent.com/451306/74084474-853f2a00-4a80-11ea-822c-b24

[2020-02-09 11:52] reklatsmasters commented on #660
I found the problem! This bug happened when moleculer service stopped before nats server. The solution is just add `nats` to `depends_on`:

[code]

[2020-02-09 14:23] #660 closed

[2020-02-11 17:51] #667 closed

[2020-02-12 19:27] bensooraj opened #674 "Error: Cannot find module 'bluebird' | v0.14.0"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Running the following example code:
[code]

Throws an error:

[2020-02-12 19:46] intech commented on #674
I confirm the problem.
@bensooraj temp fix in package.json
[code]

[2020-02-12 19:48] icebob commented on #674
Thanks @bensooraj
Interesting because Travis was green.

[2020-02-12 19:54] #674 closed

[2020-02-12 20:07] icebob commented on #674
Fixed in 0.14.1

[2020-02-13 02:53] bensooraj commented on #674
Thanks!

[2020-02-13 12:54] kesslerdev opened #676 "Service.currentContext is undefined"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior
Service.currentContext is undefined, no [documentation update

[2020-02-13 14:51] AndreMaz commented on #676
Hi @kesslerdev thanks for reporting. Unfortunately we had to remove the `currentContext` due to [huge performance impact caused by `async_hooks`](https://dzone.com/articles/beware-the-performance-cost-of-async-hooks-node-8). I've removed the reference about `currentContext` from the docs to avoid confusing the users and will do the same about the changelog.

[2020-02-14 10:25] abdavid opened #677 "[Typescript] ActionCacheOptions incorrect interface declaration"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior
Using the supplied config from the documentation (https://mol

[2020-02-14 11:33] iatsi commented on #101
Hi Icebob, we @ AdmitKard use Moleculer JS, and it performs brilliantly.

Name - AdmitKard
url - www.admitkard.com
Logo - https://d3toi7c4ip49i3.cloudfront.net/img/img-2/logo.png

[2020-02-14 11:46] icebob commented on #101
Hi @iatsi,
Awesome, great project!
I've added your logo to the site, thanks!

[2020-02-14 11:47] icebob commented on #101
@intech it means, I can add the integrity logo to the site?

[2020-02-14 12:05] intech commented on #101
@icebob yes.

[2020-02-14 12:15] icebob commented on #101
Cool, I've added

[2020-02-14 15:01] shawnmcknight commented on #677
It doesn't appear that the `enabled` flag was ever properly typed (0.13 or 0.14).  Can you submit a PR?

I'm not sure what you're referring to with a `keygen` regression between 0.13 and 0.14.  I don't see `keygen` referenced in the 0.13 types at all.  Can you clarify or submit a PR for your issue?

[2020-02-14 15:50] abdavid commented on #677
Sure, I will have a look during the weekend. From the looks of it since `ActionCacheOptions` had the generic `[name: string]: any` it allowed adding a `keygen` property, which I now realise after looking into the cacher is actually not a thing, so that part of the discussion is void.

[2020-02-15 08:39] #561 closed

[2020-02-15 08:39] #669 closed

[2020-02-22 18:10] Jank1310 commented on #676
This also breaks the `EventLegacyTraceExporter` because getCurrentContext() has been removed.
[code]

[2020-02-23 08:31] icebob commented on #676
Ohh, nice catch!

[2020-02-25 10:14] SumeetR commented on #101
Hi @icebob,

We at TinkerLink are writing our new microservices in moleculer, migrating our older ones to moleculer and really enjoying the process!

web: https://tinkerlink.com/
logo:
![TL_Logo](https://user-images.githubusercontent.com/6136978/75237627-f80a0e00-57bf-11ea-92ce-682a37f7fbc7.png)

We'd love to be on the moleculer 'wall' :)

[2020-02-25 11:28] icebob commented on #101
@SumeetR Awesome! I've added it to the 'wall' ;)

[2020-02-25 13:05] SumeetR commented on #101
@icebob cheers! :)

[2020-02-25 13:33] veeramarni opened #682 "type based revive option to convert json data"
**Is your feature request related to a problem? Please describe.**

We want to know if there is away we can provide `revive` option to `JSON.parse` so some objects or string can be converted into right way during deserialization of the json data, whether for `parameters response` or `data response`

**Describe the solution you'd like**

For example, we want to convert a string format of date to `D

[2020-02-25 18:15] icebob commented on #682
You can cover it with a custom serializer.

[code]

[2020-02-25 20:17] veeramarni commented on #682
@icebob, does not work for `params`, is it something additional to be done `params`? I do need parameter to be revived before calling the handler.

[2020-02-25 20:25] veeramarni commented on #682
It works, thanks

[2020-02-25 20:25] #682 closed

[2020-02-27 10:00] nvthuong1996 opened #685 "How to use minxin with IntelliSense in vscode - typescript"
i want vscode suggest method in mixin when i apply it in any service

[2020-02-27 10:21] lucduong commented on #685
@nvthuong1996  Depend on how you structure your code, not an issue here.

[2020-02-27 20:08] icebob commented on #685
For questions, use Stack Overflow or Discord chat.

[2020-02-27 20:08] #685 closed

[2020-02-28 04:10] nvthuong1996 commented on #685
Em sử dụng teamplate typescript mạc định của moleculerjs. Em đang nghĩ là moleculerjs không phải là thuần typescript nên không thể tận dụng tối để linter của editer được trừ khi phải có extension hỗ trợ. Ví dụ như với vuejs trên vscode có vetur

[2020-02-28 04:13] lucduong commented on #685
@nvthuong1996 nếu chỉ dùng mặc định thì không đủ, em cần phải define lại type mới có thể dùng VSCode intelligent. Không cần thêm extension gì cả.

[2020-03-02 10:25] taina0407 commented on #101
We've using Moleculer for several months and happy with it.

Site: https://edoctor.io
Logo: https://edoctor.io/logo/horizontal.svg

Thanks @icebob and all contributors. Great job <3 !

[2020-03-02 10:42] icebob commented on #101
Great @taina0407, I've added your logo to the site!

[2020-03-03 01:15] ngraef opened #686 "Memory issue using service class as mixin"
## Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Given a mixin defined as a class that extends `Service`, using the mixin in too many services on the same broker causes the node runtime to

[2020-03-03 08:25] icebob commented on #686
Currently, Moleculer doesn't support to use `Service` instances as mixins, just service schema object.

[2020-03-03 09:32] lucduong commented on #686
You can define the `mixin` by this way.

[code]

[2020-03-03 16:34] ngraef commented on #686
@icebob I assumed that would be the answer. In that case, I think the docs should include a note/warning about this for a couple reasons:

1. Using a mixin class _does_ work, it just has impacts that aren't obvious (even after it blows up).
2. This issue didn't exist in v0.13. Anyone who may have done this in the past without issue will now have a problem.

[2020-03-03 17:41] icebob commented on #686
2. Hmm, it's interesting if it affects only 0.14. I will check it.

[2020-03-04 01:36] zllovesuki commented on #577
I wonder if the broker has a "master" bus?

[2020-03-04 11:58] rafaell-lycan commented on #101
Hi, we've switched from pure Redis pub/sub implementation to Moleculer last year, and no issues whatsoever.

Site: https://www.smartfocus.com
Logo:
![image](https://user-images.githubusercontent.com/1516450/75877341-c58f8f00-5e17-11ea-96f8-e94828df981e.png)

[2020-03-04 12:27] icebob commented on #101
@rafaell-lycan awesome. I've added your logo to the site.
_By the way, if you have a logo without vertical padding, it will appear larger._

[2020-03-04 13:47] rafaell-lycan commented on #101
@icebob, you can use this one as well:
![image](https://user-images.githubusercontent.com/1516450/75885550-00e58a00-5e27-11ea-967d-439510faf82b.png)

[2020-03-04 13:52] icebob commented on #101
Much better. I've updated.

[2020-03-04 17:38] icebob commented on #577
There is a local bus for the core components via `broker.localBus`

[2020-03-05 00:58] zllovesuki commented on #577
right, my code was listening on `broker.localBus`. However, I think my code added a listener for each action/service. Is there a way to share states internally? As I was noted in the code:
[code]

[2020-03-05 10:31] reklatsmasters opened #687 "Balanced events arrived twice."
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ ] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

I have 2 services - `users` and `clans`. When i send event `

[2020-03-05 19:57] nnqq opened #688 "Moleculerjs and moleculer-go compatibility issue"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version _(latest but on v3 protocol - 0.13.13)_
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository _(moleculerjs throws error, but call molec

[2020-03-05 20:00] nnqq commented on #688
@pentateu Hi. Could it bug on **moleculer-go** side?

[2020-03-06 13:34] michael-raulf opened #689 "Process not shutting down if jaeger tracing is enabled"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

If jaeger tracing is active, the service process will run fo

[2020-03-06 18:19] icebob commented on #689
Thanks. I will fix it. In the meantime, here is a workaround:
[code]

[2020-03-06 18:28] icebob commented on #687
Please create a repro repo.

[2020-03-06 19:51] nnqq commented on #688
I close issue, bug on `moleculer-go` side https://github.com/moleculer-go/moleculer/pull/80

[2020-03-06 19:51] #688 closed

[2020-03-06 21:44] #689 closed

[2020-03-06 21:44] icebob commented on #689
I fixed. It will be released in the next version.

[2020-03-08 14:08] icebob commented on #686
If I remove the cloneDeep, there is a same issue because there are other cloning calls in mixin handling. but you can solve it if you use only ˙schema` of the Service instance:

[code]

[2020-03-08 14:08] #686 closed

[2020-03-08 14:54] icebob commented on #676
Fixed in 09cf905bd75eaa67995026ad886002b4e5863197

[2020-03-08 14:54] #676 closed

[2020-03-10 05:37] ngraef opened #690 "Active span not correctly set in dd-trace"
## Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Using the approach [documented in Datadog's docs](https://docs.datadoghq.com/tracing/connect_logs_and_traces/nodejs/#manual-trace-id-injecti

[2020-03-10 17:44] ngraef commented on #623
As mentioned, npm v6 currently prints a warning if a peer dependency is unmet, which is more of an annoyance than a real problem in this case. That can be solved by marking the peer dependencies as optional in `peerDependenciesMeta` (supported by npm@6.11, yarn@1.13, pnpm@3.2). However, [npm v7 is planning to install peer dependencies by default](https://github.com/npm/rfcs/pull/43), so adding all

[2020-03-10 18:30] isaacs commented on #623
Yeahhh... don't add a zillion things as peer deps, that's going to be a nightmare.

A peer dep is not a thing you _might_ use, but don't load.  A peer dep is a thing you _do_ rely on, and need the caller to rely on as well.

So, if I'm understanding the situation properly (which I very well may not be!), the plugins should be declaring moleculer as a peerDependency, not the other way around.

Yes,

[2020-03-10 19:43] ngraef commented on #623
@isaacs Thanks for the input. It's very much appreciated.

To clarify, the "plugins" we're talking about are simply third-party modules that don't know or care about moleculer. Moleculer has built-in adapters for different categories of modules (logger, transporter, serializer, tracer, etc.) and uses a configuration to load the desired pieces at runtime — essentially a factory pattern. It seems li

[2020-03-11 09:12] oliversalzburg commented on #623
Given that the handling of peer dependencies in package managers seems to have varied in the past and seems to still be unclear, I definitely retrackt the idea of adding peerDeps to moleculer.

Having the ability to pass in the requried code module yourself is always a great option to have. I see no downsides to it, that you don't already have by relying on a package manager.

The worst possible s

[2020-03-13 11:51] Somebi opened #692 "Channel reconnect feature?"
https://github.com/moleculerjs/moleculer/blob/cb4ceafaf8ad30bf6d5962999bc3d2cdb73a478f/src/transporters/amqp.js#L179

I'm missing something or you are not re-connecting channel on close and on error you do nothing.
Even if it's not graceful case...

Please explain. Thank you.

[2020-03-14 19:03] icebob commented on #692
ping @Nathan-Schwartz

[2020-03-16 06:21] abhisheksinha1601 opened #696 "Isolation of bad requests"
**Is your feature request related to a problem? Please describe.**
I cannot find a way to efficiently debug a service which fails under certain input parameters. Currently the only way is to analyze logs.

**Describe the solution you'd like**
Re-driving of failed requests to certain transports (e.g. Dead Letter Queues) so that bad requests can be easily isolated and fixed. This is possible in case

[2020-03-16 09:25] icebob commented on #696
It can be easy cover with a custom middleware:
[code]

[2020-03-17 14:05] icebob opened #698 "Hot reloading issue to detect new service files"
Hot reload doesn't detect new service files if the Runner argument contains glob instead of a folder.

**Works**
[code]

**Doesn't work**
[code]

[2020-03-17 16:27] reklatsmasters commented on #687
Update: I found out using wireshark that it's not a problem of moleculer. This problem related to nats or tcp stack.

[2020-03-18 08:13] Vrq commented on #101
@icebob we also started using it this year :)
Site: https://swissdevjobs.ch/
Logo:
![SwissDev Jobs logo](https://static.swissdevjobs.ch/pictures/swissdevjobs-2-1.png)

[2020-03-18 09:39] #687 closed

[2020-03-18 15:58] icebob commented on #101
Great @Vrq, I've added your company to the site, thanks!

[2020-03-19 11:38] elixiao opened #701 "Request is timed out when sending large files"
I create a file service which save stream into local file.

[code]

when using `call "file.save" --stream  file` to send file, small files are ok to save but large files are not:

[code]

and the file service shows:

[code]

[2020-03-19 12:36] artur-krueger commented on #701
Hi, I've encountered the same issue.
The problem is caused by the message size limit of NATS, which is 1M default.
I've already provided a pull request to fix it (https://github.com/moleculerjs/moleculer/pull/683) and it was already merge to master. So it will be available in the next release.
Best, Artur

[2020-03-19 14:08] elixiao commented on #701
OK, thank you @artur-krueger . Looking forward to the next release.

[2020-03-20 05:39] hientek opened #702 "how to handle multi schema per service, multi db per service"

[2020-03-21 12:38] icebob commented on #701
It will release at this week.

[2020-03-21 12:38] #701 closed

[2020-03-25 05:24] iredjee opened #704 "Global error handler called multiple times"
**Steps to reproduce**

1. Create new project with API Gateway `moleculer init project demo`
2. Add new action in "greeter" service, e.g. smth like
[code]
3. Add global error handler in "moleculer.config.js"
[code]
4. Run project yarn start
5. Open endpoint `api/greeter/boom` in browser
6. in console "Error handled" message is logged twice.

Tried to debug a bit, found that every action is wrapped

[2020-03-26 02:53] giang12 opened #705 "Heartbeats pollution problem"
**Is your feature request related to a problem? Please describe.**

Too many heartbeats from large number of services / instances of services..creating a pollution problem..N*N-1 scaling
So rn as I understand it, theres 1 heartbeats Q (I'm using NAT but assume other transporters behave same) for all services/instances to use. This simply works fine up to ~thousands of instances..but when scaling u

[2020-03-26 14:00] support-fdx commented on #701
Still the problem is here on v0.14.5. For Small file [less than 10KB], it is successfully uploaded.

But when i take big size file like [greater than 800KB],

NATS client is disconnected.

[2020-03-26 17:07] Nathan-Schwartz commented on #692
@Somebi Good question! That's correct.

The re-connection logic happens at the connection level and not the channel level. This is because both the channel's and connection's close handlers will fire if a connection is lost. In this case everything recovers as expected.

Your questions raises a potential issue where the channel closes without the connection going down, and you are correct that the

[2020-03-26 20:07] icebob commented on #704
I don't think it's wrong because if you run the greeter service on node1, and api gateway service on node2, in this case, the `errorHandler` will be called on both nodes because the error is thrown further and not handled, so the error goes back to the caller. In your case, both services are running locally, but the logic is the same.

[2020-03-26 20:42] ujwal-setlur opened #706 "caller not set when calling and action"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am running the latest version
0.14.5
- [x ] I checked the documentation and found no answer
yes
- [x ] I checked to make sure that this issue has not already been filed
yes
- [x ] I'm reporting the issue to the correct repository
yes

## Current Behavior

I do a
[code]

In the action handler

[2020-03-27 08:05] icebob commented on #706
It works, please check your code.

https://repl.it/@icebob/moleculer-dev-caller

[2020-03-27 19:38] iredjee commented on #704
Makes sense! Thanks @icebob , closing the issue

[2020-03-27 19:38] #704 closed

[2020-03-29 03:32] ujwal-setlur commented on #706
It's working now. Not sure what changed. Did a bunch of code-reorg, so maybe I had an error before. Sorry about the noise.

Never knew about [repli.it](https://repl.it)!

[2020-03-29 03:32] #706 closed

[2020-03-29 03:47] ujwal-setlur commented on #706
BTW, the one change I did was **not** to pass validation parameters to the ```@Action()``` decorators (from moleculer-decorators). Instead, I do my own validation using joi. Not sure if this would have resolved anything:

[code]

in my ```welcome.ts``` action handler:

[code]

[2020-03-29 11:08] me23 opened #707 "amqp disableBalancer = true => Reconnect not working"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [ x] I am running the latest version
- [ x] I checked the documentation and found no answer
- [ x] I checked to make sure that this issue has not already been filed
- [x ] I'm reporting the issue to the correct repository

## Current Behavior
I use disableBalancer = true on service and client and ra

[2020-03-31 19:17] Karnith opened #708 "Need better understanding of the framework"
Hi, after reviewing the documentation, searching through issues and examining https://moleculer.services/docs/0.14/clustering.html, I have several questions. First I'd like to say that I really like this project and see a bright future for it.

Monolithic vs micro service architecture
I understand how the micro services architecture works, at a high level, though I don't understand some key points

[2020-03-31 20:33] AndreMaz commented on #708
Hi @Karnith

The template project looks like this in docker deployment:

![1_rwvPhQ8liPWIsgZ6y5eFpg](https://user-images.githubusercontent.com/9802754/78069721-7abf5380-7392-11ea-8f22-fd11eeb10c01.jpeg)

Nodes communicate with each other via broker (see picture above). So the only thing that need to know is the address and the port of the broker. This is done either in `moleculer.config.js` transp

[2020-04-01 19:59] Nathan-Schwartz commented on #707
Thanks for the writeup @me23, I'll look into it.

[2020-04-01 22:00] dylanwulf opened #709 "'Orphan response is received' when using NATS balancer and stream params"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

Assuming the following conditions are true:
- I am using NAT

[2020-04-02 00:27] shawnmcknight commented on #709
I've been working with @dylanwulf to figure out what is happening here.  I believe its an issue with using a transporter (due to `disableBalancer` being true) but having the same node sending both the request and the response.

In digging through the two different ways that his examples process the stream, I think different timings cause the two different improper behaviors.

In the `readStreamWit

[2020-04-02 04:42] elixiao opened #710 "moleculer config with sealed objects"
I use moleculer with node-config. App crashes immediately after running without any message. After hours of research, I found maybe the reason is config object is sealed and immutable but moleculer wants to modify it. If moleculer failed to start, why not print some error messages?

[code]

[2020-04-02 05:18] AndreMaz commented on #710
From [FAQ](https://moleculer.services/docs/0.14/faq.html#Why-the-broker-exits-without-any-error-when-I-start-my-service): _If there is no continuously running process (e.g., transporter connection, API gateway, DB connection) that keeps event loop running then the process will exit. It’s normal behavior and not a bug. If you want to keep your service broker running then you should keep the event l

[2020-04-02 07:25] elixiao commented on #710
@AndreMaz There is  transporter connection in `moleculer.config.js`. The problem is if transporter.options is sealed, Moleculer exits without error message. You can try the following BrokerOptions:

[code]

[2020-04-02 10:21] AndreMaz commented on #710
Hey @elixiao

Tested over here with your snipped and I got a `Unable to create ServiceBroker` error that is present in ServiceBroker constructor.

![image](https://user-images.githubusercontent.com/9802754/78237694-92522580-74d3-11ea-99e0-6a8fc672dd60.png)

[2020-04-02 10:37] AndreMaz commented on #710
As a workaround you can use lodash `cloneDeep` function to "unseal" the config. object right before passing it to the constructor. This way the ServiceBroker can modify it as needed.

[2020-04-03 08:26] elixiao commented on #710
@AndreMaz Thanks. Add `logger:true` to BrokerOptions could show error messages now. Because `config.get('xxx')` results a deep sealed object. If I don't add `logger: true`, the app just exits without any output.

[code]

[2020-04-03 16:41] Nathan-Schwartz commented on #707
After some investigation I think I've figured it out.

For AMQP 0-9-1, `transit.afterConnect` will always fire when a connection is established and "wasReconnect" will always be false. This means that makeSubscriptions will be called every time. This part is all working well 👍

The issue is that `transit.makeSubscriptions` calls `tx.makeSubscriptions`, but not `tx.makeBalancedSubscriptions`. The r

[2020-04-04 07:40] faller opened #711 "Stream error when using 0.14.5"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

It works fine when I'm using 0.14.4 before this pull request

[2020-04-04 07:55] icebob commented on #711
@artur-krueger could you help with it? It seems some other thing has been changed after your streaming PR. Thanks in advance!

[2020-04-04 07:59] artur-krueger commented on #711
Sure, I will take a look at it.

[2020-04-04 08:04] icebob commented on #707
@Nathan-Schwartz it's a good question. I don't know. The point is, that we should call the `makeBalancedSubscriptions` when all services available (started) and not when the transporter connected.

If you read [this about broker lifecycle](https://moleculer.services/docs/0.14/lifecycle.html#Starting-logic) you will see, that the Transit send INFO packet two times. First send it without the local s

[2020-04-04 08:14] icebob commented on #710
@elixiao what is your use-case why you are using sealed objects?

[2020-04-04 16:08] shawnmcknight commented on #709
I think the solve here would be to be more precise with which of the request and response maps are cleared under various scenarios.  Currently, they are all cleared at the same time.  But since the sending and receiving nodes have different points in time when the maps are necessary, clearing all simultaneously causes an issue when the sender and receiver are on the same node but transport is bein

[2020-04-05 05:07] elixiao commented on #710
@icebob Actually I don't want to use sealed objects. However, [node-config](https://github.com/lorenwest/node-config) returns me a sealed object. I put moleculer BrokerOptions into default.json/production.json in order to connect to different transporter. node-config loads different json file according to different NODE_ENV.

![image](https://user-images.githubusercontent.com/2291033/78467330-26bf

[2020-04-05 08:29] icebob commented on #710
Please create a repro repo and I will check what we can do to solve it.

[2020-04-05 13:05] elixiao commented on #710
@icebob https://github.com/elixiao/moleculer-demo
use `node src/` or `npm run dev` to run demo.

[2020-04-05 13:16] artur-krueger commented on #711
I could reproduce the described issue and found a solution.
As a workaround you could set maxChunkSize to 0 in the meanwhile.

[2020-04-06 17:06] Nathan-Schwartz commented on #707
Thanks @icebob, that's helpful!

It sound like we want to call `makeSubscriptions` but not `makeBalancedSubscriptions` after the transporter connects. Is this because a balanced transporter might already have messages in a queue, so we can't prevent incoming requests by sending the empty info packet?

I confirmed that `sendNodeInfo` is called on reconnect, but `makeBalancedSubscriptions` is not ca

[2020-04-06 17:08] Nathan-Schwartz commented on #707
@icebob Btw I noticed that for AMQP there are extra HEARTBEAT packets each time  the transporter reconnects. I suspect we'd need to move reconnection logic from transit -> transporter to fix it. I might try it later

[2020-04-08 14:34] Nathan-Schwartz commented on #707
Update:

I found a different solution that implements amqp-connection-manager and doesn't require any changes to transit.  I'm working on a PR

I was able to repro the heartbeat issue for MQTT too, so I don't think it is an AMQP issue. To see the issue, I logged sent packet types and started one broker. At first it is 1 HEARTBEAT packet per 5 seconds, but every broker restart adds one extra.

[2020-04-08 17:41] icebob commented on #707
Ohh, this heartbeat issue is very interesting. How I didn't find it, yet. Did you find any reason why?

[2020-04-08 17:44] icebob commented on #707
Regarding reconnection issue, I think Transit will send broadcast INFO after reconnecting because it does same things like at first connection.

[2020-04-08 18:45] icebob commented on #707
Heartbeat issue: The problem is here.
https://github.com/moleculerjs/moleculer/blob/aacf6ab70c8755249d05de9ee41b5415481ce595/src/registry/node-catalog.js#L45
After reconnecting this event is fired, so it creates timer again after reconnecting.
We should call the `stopHeartbeatTimers` at first.

[2020-04-09 19:50] #711 closed

[2020-04-09 22:35] edurdias commented on #711
I would suggest this ticket to stay open until the solution is implemented.
That allows other developers to track the changes as well.

On Thu, Apr 9, 2020 at 2:50 PM Icebob <notifications@github.com> wrote:

[2020-04-10 12:59] icebob commented on #711
The error is fixed & merged and will be released in the next days.

[2020-04-11 11:43] elvendor commented on #101
Hey @icebob ! I've got real pleasure to work with Moleculer.js! I have developed travel ERP system on a Laravel about 3 years ago for one of the oldest Turkish travel agencies. And starting 2019 I've been working on some integrations like SMS, currency exchange, integration with government tax service and vehicle tracking system. I decided to use Moleculer.js and never regret about that! Of course

[2020-04-11 16:08] icebob commented on #101
@elvendor Awesome! I've added your logo to the site.

[2020-04-11 16:36] icebob commented on #709
Yeah, the problem is that @shawnmcknight described, Transit uses the same Maps to store streams for both of send & receive sides. As disableBalancer is enabled, moreover the consumer & producer nodes are same, thus Transit overwrites the sent stream with the received stream.
Thanks @dylanwulf the reproduction code, It's very useful to reproduce it.
I'm starting to write the "failed" unit tests for

[2020-04-11 19:08] icebob commented on #709
Hm, I was wrong. The request store Maps are good, just there was a wrong cleanup code in the request stream handling method.

[2020-04-11 19:09] #709 closed

[2020-04-11 22:51] Nathan-Schwartz commented on #707
@me23 recent commits should have fixed the issue. Would you mind testing out v0.14.6 to confirm that this issue is resolved and can be closed?

[2020-04-12 10:00] #708 closed

[2020-04-12 10:02] #707 closed

[2020-04-12 10:03] #696 closed

[2020-04-12 10:03] #692 closed

[2020-04-12 14:58] icebob commented on #402
We found a problem with the heartbeat logic of Moleculer which has been fixed in v0.14.6 version. In brief, when the transporter client disconnected (unexpectedly), it doesn't trigger the `$transporter.disconnected` event, so the heartbeat timers weren't destroyed but when the connection was established again, the `$transporter.connected` event was triggered & timers were created again.
In additio

[2020-04-12 15:04] icebob commented on #705
I've started to work on a solution which enables us to use an external service for service discovery. This service can be a Redis, Consul, etcd....etc.
In this case, the Moleculer nodes don't send DISCOVER, INFO and HEARTBEAT packets via transporter.

[2020-04-14 04:50] zerocool-kor opened #716 "Cannot use custom logger config in typescript environment"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [* ] I am running the latest version (0.14.6)
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior
I'm trying to upgrade my application moleculer fram

[2020-04-14 10:44] elixiao commented on #701
@icebob @artur-krueger It seems the problem still exists after upgrade to version v0.14.6

file service output:

[code]

repl output:

[code]

[2020-04-14 10:53] artur-krueger commented on #701
@elixiao Could you please give me some more details, so that I can take a closer look:
- byte size of the data
- configured maxChunkSize (if not default = 256K)
- configuration of max_payload of NATS

[2020-04-14 14:22] elixiao commented on #701
@artur-krueger I didn't set NATS max_payload. Maybe that's the reason. I will try it. Thanks!

[2020-04-14 14:29] elixiao commented on #701
If the file's max byte size is 5M. Should I set the limit in config file like this?

- moleculer.config.js

[code]

- nats-server.conf

[code]

[2020-04-14 14:46] artur-krueger commented on #701
There is some protocol overhead, so maxChunkSize should be a at least bit less than max_payload.

[2020-04-14 15:47] artur-krueger commented on #701
@elixiao You don't have to adjust max_payload. It is by default 1M. The chunking feature should ensure that each NATS message will not exceed the max_payload. It does this by splitting too large payloads to several chunks. The default size of maxChunkSize is 256K, so it will not reach max_payload even with the additional protocol overhead.
I'd suggest to keep the default settings on moleculer and

[2020-04-15 09:33] HighSoftWare96 opened #717 "Is there a way to access logger outside service?"
**Is your feature request related to a problem? Please describe.**

I have some support classes that has not direct access to the context or to a service scope so if I want to log some message inside this classes I must pass the scope reference of a service inside the class in order to use the logger instance. Is there a way to do this differently without recurring to the `console.log`?

**Describ

[2020-04-16 06:20] Jank1310 opened #719 "[TypeScript] mcall type definition missing for Context"
## Current Behavior

`mcall` missing from Context type definition

## Expected Behavior

`mcall` typed for Context:

`mcall<T>(def: Array<CallDefinition> | { [name: string]: CallDefinition }): Promise<Array<T> | T>;`

[2020-04-16 07:56] ErmakovSergey opened #720 "List of actions to be excluded from tracing"
Can you add exclude feature for **tracing** similar to **metrics**?

[2020-04-16 08:05] ErmakovSergey commented on #101
We switched to moleculer from the zoo of various services. Moleculer is the best!
Site: https://sonatazvit.com.ua/
![logo-big](https://user-images.githubusercontent.com/38657428/79430464-a1f06480-7fd1-11ea-82e1-7939f1c5ffe1.png)

[2020-04-16 09:39] intech commented on #720
+1

[2020-04-16 16:06] andylim0221 opened #721 "Hexadecimal is converted into number in action parameter"
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

We have an action with the following parameter setup:

[code]

We pass a hexadecimal string, eg. '0xab706...' into the params, the hexadecimal string is being

[2020-04-16 18:43] icebob commented on #101
@ErmakovSergey Awesome, thanks. I added your logo

[2020-04-16 18:45] icebob commented on #719
Could you create a fix PR?

[2020-04-16 19:00] icebob commented on #717
You can create a custom logger instance, so if you pass the ServiceBroker instance to your service, you can create it with `broker.getLogger("MyClass")`

[2020-04-16 19:03] icebob commented on #721
I don't think so.
https://repl.it/@icebob/moleculer-dev-hexdec

[2020-04-16 19:27] AndreMaz commented on #721
I cloud reproduce with REPL. So it's not a validation issue

![image](https://user-images.githubusercontent.com/9802754/79497833-48635680-8020-11ea-9239-81c9bcbdf484.png)

[2020-04-16 19:33] icebob commented on #721
In this case, the problem is in vorpal?

[2020-04-16 19:38] AndreMaz commented on #721
Yes, I think it is. @andylim0221 can you provide more info?  Did you use REPL?

[2020-04-16 20:52] Jank1310 commented on #719
Sure 👍Am 16.04.2020 8:45 nachm. schrieb Icebob <notifications@github.com>:
Could you create a fix PR?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-17 01:07] andylim0221 commented on #721
@AndreMaz I was using moleculer-repl.

[2020-04-17 01:08] andylim0221 commented on #721
however, when i query it through the url, it works out as what I expected. Perhaps there must be something wrong with the moleculer-repl.

[2020-04-17 01:40] hehejiuhuizhe opened #722 "Question about shard strategy"
Hello, I'm learning moleculer these days. I find it useful for building a distributed system.
  Here is my question.
  I find this in the doc: Shard invocation strategy is based on consistent-hashing algorithm.
  But when I look into the code, I find that when a node add or remove, the hash value in the ring of all the nodes will change. Because the hash value depends on the total num of nodes. Is

[2020-04-17 07:04] Jank1310 commented on #719
#723

[2020-04-18 12:26] #719 closed

[2020-04-20 14:00] HighSoftWare96 commented on #717
Ok, so I guess there is no way to access a logger without a reference to the broker or a service?

[2020-04-22 09:23] icebob commented on #717
Yes

[2020-04-22 10:31] HighSoftWare96 commented on #717
Ok, so then there is no way. Thank you.

[2020-04-22 10:31] #717 closed

[2020-04-27 16:32] NickClark opened #724 "Event Durability"
**Is your feature request related to a problem? Please describe:**

We want to be able to have durable events. Guarantees that no matter what, a given event will be held till someone handles it. I've been working on moving a codebase (that was using custom events in RabbitMQ) to Moleculer, and while many events and actions are ok if there's a critical failure, some are not.

**Describe the solutio

[2020-04-28 01:20] sambaran69 opened #725 "Moleculer Datadog integration is not working"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

I should be able to get traces from my moleculer services on

[2020-05-01 14:00] lucduong commented on #725
Here is my configuration for `Datadog` tracing. But couldn't send tracing to Datadog APM

[code]

I installed Datadog by using `helm` chart with bellow values
[code]

[2020-05-05 23:20] Wallacy commented on #724
I have this 'kind' of events on my system, but is very, very particular for our use. Basiscally we broadcast a lock to everyone, then we put a this info on our database, and all services need to handle and remove the lock individually.

It's more complex than that, but that's the idea.

[2020-05-08 11:27] erfanium opened #728 "Separate Moleculer components from each other."
I used Moleculer for several months, But I had problems with its structure, that I decided not to use Moleculer at the moment. and I couldn't fix them alone

The biggest problem is, Moleculer components are completely interdependent, This makes it very difficult to test/extend/DependencyInjection the components.

We have 4 major components, ServiceBroker, Services, Actions, Events. They must compl

[2020-05-08 11:38] icebob commented on #728
I don't think so, because it completely changes the current service schema & structure.
Maybe you can do it yourself if you create an own `Service` class which does the service registration based on your structure.
You should create the same service spec structure what `parseServiceSchema` does and call the `this.broker.registerLocalService(serviceSpecification);` when the service started.

[2020-05-11 12:33] meghnamishraa opened #729 "how to integrate Http client and server program in Moleculer?"
I don't understand how to integrate molecular framework for communication between  Http client and server program in node js . I want to send msg from client to server and in response from the server to client in node js by using two brokers for HTTP server and client .can anybody has any idea?

[2020-05-11 13:44] AndreMaz commented on #729
If you want to integrate an HTTP server with a moleculer services you can use [`moleculer-web`](https://moleculer.services/docs/0.14/moleculer-web.html). This will create an HTTP server that will be responsible for parsing the incoming HTTP requests and map them into [action](https://moleculer.services/docs/0.14/actions.html) calls. Regarding the HTTP client, you can use [`moleculer-http-client`](

[2020-05-11 16:58] meghnamishraa commented on #729
Thank you @AndreMaz . But How to simple send a message to server and response back from server?
Sample code-
const { ServiceBroker } = require("moleculer");
const HTTPServer = require("moleculer-web");
const http=require("http");
// Create the broker for node-1
// Define nodeID and set the communication bus
const brokerNode1 = new ServiceBroker({
  nodeID: "nodenum-1",
  transporter: "TCP"
});

//

[2020-05-11 17:35] AndreMaz commented on #729
[code]

[2020-05-11 20:27] meghnamishraa commented on #729
Yes, I had already checked with this but instead of this website I want my own customize http client to be implemented .In previous code the function start_http_client I want to include. That req_data should be sent to server and some "bye" msg should come back.

[2020-05-12 08:32] meghnamishraa commented on #729
hii,
Yes, @AndreMaz <https://github.com/AndreMaz> I had already checked with
this but instead of this website I want my own customize http client to be
implemented .In previous code the function start_http_client I want to
include. That req_data should be sent to server and some "bye" msg should
come back.

On Mon, May 11, 2020 at 11:05 PM André Mazayev <notifications@github.com>
wrote:

[2020-05-12 09:33] AndreMaz commented on #729
If you want to create your own client then use [`created()` and `start()`](https://moleculer.services/docs/0.14/lifecycle.html#Service-lifecycle) to create and configure it. After that just use it (e.g. `this.client.get(url, opts)`) within your actions.

[2020-05-12 09:52] meghnamishraa commented on #729
how to implement this client?

const req = http.request(
  {
    host: 'localhost',
    port: '5000',
    path: '/posts',
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    }
  },
  response => {
    console.log(response.statusCode); // 200
  }
);

req.write(JSON.stringify({
  author: 'Marcin',
  title: 'Lorem ipsum',
  content: 'Dolor sit amet'
}));

req.end();

On Tu

[2020-05-12 10:23] parveshh commented on #729
@meghnamishraa have a look at moleculer-web as @AndreMaz mentioned : https://moleculer.services/docs/0.13/moleculer-web.html
this lets you expose api endpoints.

[2020-05-12 10:55] AndreMaz commented on #729
You need to promisify the `http.request`, i.e., wrap your call with a promise.  Quick search gives me the following links: https://stackoverflow.com/questions/38533580/nodejs-how-to-promisify-http-request-reject-got-called-two-times/38543075 and https://medium.com/@gevorggalstyan/how-to-promisify-node-js-http-https-requests-76a5a58ed90c

Once you do it just place your promisified HTTP call inside

[2020-05-13 01:59] guo-q opened #730 "QueueIsFullError when the project started"
the error info:
`{ QueueIsFullError: Queue is full. Request 'undefined' action on 'teaming-monolithic-192.168.001.187-95a17059345dbbfdad1312bb-1' node is rejected.
    at ServiceBroker.bulkheadMiddleware (/Users/apple/work/jxb/marszs-api/node_modules/moleculer/src/middlewares/bulkhead.js:157:35)
    at ServiceBroker.errorHandlerMiddleware (/Users/apple/work/jxb/marszs-api/node_modules/moleculer/sr

[2020-05-13 03:38] #730 closed

[2020-05-18 22:23] Wallacy opened #732 "Cant discovery local services without external network Interfaces;"
That was trick. I have several micro-services running on the same machine, and i use the local TCP/udpBroadcast to interconnect then; Works fine, except if i have problems on our local network or install the software on a machine without network; (our services control attached hardwares on the machine, and doesn't need any network)

The problem is here:

[code]

The code does not connect to a loop

[2020-05-19 13:04] meghnamishraa commented on #729
start_http_client(){

        try{

            var keepAliveAgent1 = new http.Agent({ keepAlive: false
, maxSockets: 2});

            var http_options = {

             host : "127.0.0.1",

                port : 9001,

                json : true,

                method : 'POST',

                agent : keepAliveAgent1,

                headers: {

                    'Content-Type': 'applica

[2020-05-19 14:29] icebob commented on #732
Please change & test it that it works with local addresses as well (127.0.0.255) IF yes, please create a fix PR.

[2020-05-19 14:32] icebob opened #733 "AMQP 1.0 transporter issue on CI server"
Hi @vladir95,

I've made some integration tests with Docker & Kubernetes and it generates & starts a simple Moleculer project with all transporters. All are good, except the AMQP1.0 transporter. And I don't understand what is the problem. Could you help me to check, what is the problem with it?

Here is the log of ActiveMQ container:
https://github.com/moleculerjs/moleculer-template-project/runs/6

[2020-05-19 14:35] Wallacy commented on #732
Did you prefer a configurable behavior or just disable the check? On my environment is working fine with 127.0.0.255;

[2020-05-19 14:45] icebob commented on #732
Ok, if it works, just disable the check.

[2020-05-19 18:23] #732 closed

[2020-05-19 20:09] DarkBlaez opened #736 "[Question] Not An Issue - Just A Question"
Just a question, I have reviewed most of the documentation and like what I see. My question is, why develop the API Gateway portion of this. Even at the time of development and refinement there are many solid API Gateway open source products out there . I will refrain from commentary but I would like to understand the rationale and how this fits. Here's my caveat so that this does not spin in a di

[2020-05-20 17:26] abdavid commented on #433
@icebob Could we add `lodash` to the list of libraries that Moleculer _could_ live without? I dissected the framework a while back while playing around with making it a first-class typescript citizen and noticed a lot of lodash usage that could be replaced by simple native js. The reason I particularly am mentioning this lib is because of the bad pratices like prototype pollution it often entails.

[2020-05-20 18:18] abdavid commented on #433
Latest tree btw

[code]

[2020-05-21 10:08] vladir95 commented on #733
Hey @icebob,
https://github.com/moleculerjs/moleculer-template-project/pull/20 fixes that.
Basically the issue was that amqp container didnt finish loading in time for the brokers to connect, but it did connect them after it finished loading. The brokers already received the 'Failed to connect' status from the first connection request, and tried to reconnect, even though the amqp server already co

[2020-05-21 10:44] meghnamishraa commented on #729
can we call 2nd node action from 1st node internally without any route?

On Tue, May 12, 2020 at 4:25 PM André Mazayev <notifications@github.com>
wrote:

[2020-05-21 11:43] icebob commented on #733
Thanks @vladir95 I will check the PR!

[2020-05-21 11:43] #733 closed

[2020-05-21 12:26] icebob commented on #736
The moleculer doesn't underlie on HTTP protocol. So you can't use an external API gateway directly to communicate with Moleculer services. It has its own [protocol](https://github.com/moleculer-framework/protocol/blob/master/4.0/PROTOCOL.md) and API gateway exposes the moleculer services to an HTTP endpoint.

[2020-05-21 12:33] icebob commented on #433
Yes, it would be good to drop lodash lib from the core repo. The most important method is the `_.defaultsDeep`. It is used in many places, so it's the most important to find an exact same implementation _or copy out from the lodash_.

[2020-05-21 13:43] ccampanale commented on #736
@DarkBlaez I'd like to provide my perspective here as well:

As you pointed out, there are several well positioned and seasoned offerings for polyglot microservice distributed systems when it comes to container orchestration, networking, observability, service discovery, etc. I think of Moleculer as a sort of "easy mode" NodeJS based, microservice framework for "two pizza teams". Your team doesn't

[2020-05-21 16:31] joshmanders commented on #433
Could just depend on `lodash.defaultsDeep` which is just the dependencies needed for that function.

[2020-05-21 18:10] icebob commented on #433
Hmm, good idea!

[2020-05-21 18:11] icebob commented on #433
By the way, I've just found [`cac`](https://github.com/cacjs/cac) which is same as `args` but no dependencies.

Only need to change the `glob` to avoid another [big branch](https://npm.anvaka.com/#/view/2d/moleculer)

[2020-05-21 18:13] abdavid commented on #433
_.get used in the cacher implementation is pretty important aslo I believe. It would be great to firstly get an overview of all lodash deps to determine which could easily be switched out with vanilla js and which we need to consider keeping or replace. I’d be happy to contribute on some concrete issues like «replace usage of isObject» etc to we can gradually migrate lodash out.

- David

[2020-05-21 18:23] lukeed commented on #433
`cac` has dependencies (including `mri`) – it's just all inlined into one big pre-built file, which prevents any cross-dep code reuse

[2020-05-21 18:27] icebob commented on #433
Ohh, thanks @lukeed, I didn't see it.

[2020-05-21 18:38] lukeed commented on #433
It's actually _only_ `mri` - I thought there were more. This means `cac` basically the same as `sade`...good upgrade either way

[2020-05-22 16:36] icebob commented on #433
@abdavid Here is a list about the used Lodash methods:
![image](https://user-images.githubusercontent.com/306521/82689665-25e5de00-9c5b-11ea-8c08-2f66e1028d70.png)

[2020-05-22 17:52] abdavid commented on #433
Nice! I see a couple of low hanging ones. I think we can break them down pr function.

@icebob should we maybe create an epic and materialize tasks for each function? That way we will have the oppertunity to discuss replacements contextually. Like Josh commented we could just import the complex ones.

- David

[2020-05-22 18:01] icebob commented on #433
Ok, go ahead :)

[2020-05-22 18:23] abdavid commented on #433
I do not have the necessary access to create anything like that. For github an epic equivalent would maybe be a project with multiple subtasks? #jiranerd

[2020-05-22 18:29] abdavid opened #737 "[lodash] Remove usage of _.isFunction"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.isFunction` throughout Moleculer.

**Describe alternatives you've considered**
thesis so far is that we can come along way with testing agains the object Object type.
e.g. `Object.prototype.toString.call(x) ===` or a mere `typeof x === 'function'`

**Additional context**
https://github.com/moleculerjs/moleculer/search?q

[2020-05-22 18:33] abdavid opened #738 "[lodash] Remove usage of _.defaultsDeep"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.defaultsDeep` throughout Moleculer, or import the dependency directly without bundling the whole lodash lib.

**Describe alternatives you've considered**
None so far. I have tested using `Object.assign` a couple of places where configurations get merged with tests still passing, so that could be feasible.

**Additional

[2020-05-22 18:37] abdavid opened #739 "[lodash] Remove usage of _.isObject"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.isObject` throughout Moleculer.

**Describe alternatives you've considered**
Replacing with `Object.prototype.toString.call(x) === "[object Object]"` but that would be a more equivalent of `_.isPlainObject`, but not sure if `_.isObject` is used intentionally over `_.isPlainObject`

**Additional context**
https://github.

[2020-05-22 18:38] abdavid opened #740 "[lodash] Remove usage of _.isString"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.isString` throughout Moleculer.

**Describe alternatives you've considered**
Should be replaceable with a `Object.prototype.toString.call(str) === "[object String]"`

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.isString&unscoped_q=_.isString

[2020-05-22 18:39] abdavid opened #741 "[lodash] Remove usage of _.isPlainObject"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.isPlainObject` throughout Moleculer.

**Describe alternatives you've considered**
Should be replaceable by `Object.prototype.toString.call(o) ==="[object Object]"`

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.isPlainObject&unscoped_q=_.isPlainObject

[2020-05-22 18:40] abdavid opened #742 "[lodash] Remove usage of _.isArray"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.isArray` throughout Moleculer.

**Describe alternatives you've considered**
Should be replaceable by `Array.isArray(a)`

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.isArray&unscoped_q=_.isArray

[2020-05-22 18:45] abdavid opened #743 "[lodash] Remove usage of _.isNaN"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.isNaN` throughout Moleculer.

**Describe alternatives you've considered**
So the difference between native and lodash isNaN is that lodash only returns true if the type is actually the `NaN` type. Not certain if this is necessary? Native `isNaN` returns true for `undefined` and other non-number values.

**Additional con

[2020-05-22 18:49] abdavid opened #744 "[lodash] Remove usage of _.assign"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.assign` throughout Moleculer.

**Describe alternatives you've considered**
Not sure if a regular `Object.assign` is sufficient here. Clarification/Testing needed.

**Additional context**
https://github.com/moleculerjs/moleculer/blob/46b06d72771e9c14136bfcde2e0a4ece0af839f7/src/transit.js#L585

[2020-05-22 18:51] abdavid opened #745 "[lodash] Remove usage of _.isNumber"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.isNumber` throughout Moleculer.

**Describe alternatives you've considered**
Should be sufficient with `Object.prototype.toString.call(n) === "[object Number]" && !isNaN(n)`

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.isNumber&unscoped_q=_.isNumber

[2020-05-22 19:00] abdavid opened #746 "[lodash] Remove usage of _.forIn"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.forIn` throughout Moleculer.

**Describe alternatives you've considered**
Alternatives:
[code]

... and a myriad of other natively supported patterns which could be used depending on the context.

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.forIn&unscoped_q=_.forIn

[2020-05-22 19:02] abdavid opened #747 "[lodash] Remove usage of _.compact"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.compact` throughout Moleculer.

**Describe alternatives you've considered**
Thesis is that it would be sufficient to use `filter(Boolean)`
E.g.

[code]

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.compact&unscoped_q=_.compact

[2020-05-22 19:05] icebob commented on #433
Here there are some native implementation: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#quick-links

[2020-05-22 19:10] abdavid opened #748 "[lodash] Remove usage of _.pick"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.pick` throughout Moleculer.

**Describe alternatives you've considered**
Vanilla suggestion would be something like
[code]

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.pick&unscoped_q=_.pick

[2020-05-22 19:12] abdavid commented on #433
Sweet! Nice find

[2020-05-22 19:14] abdavid commented on #744
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_assign

[2020-05-22 19:14] abdavid commented on #747
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_compact

[2020-05-22 19:14] abdavid commented on #742
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_isarray

[2020-05-22 19:20] abdavid opened #749 "[lodash] Remove usage of _.random"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.random` throughout Moleculer.

**Describe alternatives you've considered**
Vanilla suggestion would be something like
Source: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_random
[code]

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.random&unscoped_q=_.random

[2020-05-22 19:21] abdavid opened #750 "[lodash] Remove usage of _.uniq"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.uniq` throughout Moleculer.

**Describe alternatives you've considered**
Source: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_uniq
[code]

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.uniq&unscoped_q=_.uniq

[2020-05-22 19:23] abdavid opened #751 "[lodash] Remove usage of _.flatten"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.flatten` throughout Moleculer.

**Describe alternatives you've considered**
Source: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_flatten
[code]

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.flatten&unscoped_q=_.flatten

[2020-05-22 19:24] abdavid opened #752 "[lodash] Remove usage of _.omit"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.omit` throughout Moleculer.

**Describe alternatives you've considered**
Source: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_omit
[code]

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.omit&unscoped_q=_.omit

[2020-05-22 19:26] icebob commented on #752
For `omit` need a function because the name of properties comes from users.

[2020-05-22 19:26] abdavid opened #753 "[lodash] Remove usage of _.get"
See #433 for context.

**Describe the solution you'd like**
Remove usage of `_.get` throughout Moleculer.

**Describe alternatives you've considered**
Source: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_get
[code]

**Additional context**
https://github.com/moleculerjs/moleculer/search?q=_.get&unscoped_q=_.get

[2020-05-22 19:29] icebob commented on #738
The problem with `Object.assign` is that it doesn't copy the object deeply, only the first level. And there are other differences in the logic how they handle arrays, `null`, `undefined`.

[2020-05-22 19:33] icebob commented on #739
The `_.isObject` looks same as your suggestion:

[code]

`_.isPlainObject` different it returns false for Array & Function

[2020-05-22 19:33] abdavid commented on #752
So we are actually talking about https://lodash.com/docs/4.17.15#omitBy ?

[2020-05-22 19:34] icebob commented on #739
Need to check every place because it might be enough your alternative.

[2020-05-22 19:35] icebob commented on #743
Native is enough.

[2020-05-22 19:37] abdavid commented on #739
I think we can come along way with checking on the `[object x]` type.

[code]

but `Object.prototype.toString.call(async ()=>{}) === "[object AsyncFunction]"` so we might need to think about that also

[2020-05-22 19:38] Wallacy commented on #739
FWIW:

On my cods i usualy use:

[code]

[2020-05-22 19:40] icebob commented on #746
What is the difference between the first two alternatives?

_By the way, we can't use the third because we don't use async/await in the core modules because await is slower then Promise, and performance is important in Moleculer :)_

[2020-05-22 19:41] icebob commented on #750
Need to test that it works correctly with objects as well.

[2020-05-22 19:41] abdavid commented on #738
I would imagine that would cause some issues. We might need to find a standalon solution to this if we do not conclude with that it is sufficient to include the dependency directly from lodash.

[2020-05-22 19:49] icebob commented on #752
No, it's the `_.omit` but the list or properties comes from another variable, so not static.

[2020-05-22 19:50] abdavid commented on #746
**Alternative 1 is for objects that implement the iterable interface. Arrays, strings etc**

[code]

[code]

[code]

**Alternative two is for "POJOs"**

[code]

[code]

[2020-05-22 19:51] icebob commented on #739
Thanks @Wallacy, good idea. Btw I never use the _.isObject to accept Function in Moleculer codes, so no need to check to function :)

[2020-05-22 19:52] abdavid commented on #752
This one here you are thinking about?
https://github.com/moleculerjs/moleculer/blob/07dbf1c0ead1038d157ec6616ac76509b6974549/src/service.js#L197

[2020-05-22 19:53] icebob commented on #738
I will write a unit test with _.defaultsDeep with moleculer use-cases, and after that, we will able to create a custom implementation.

[2020-05-22 19:54] icebob commented on #752
Yeah, e.g.

[2020-05-22 19:59] abdavid commented on #752
We could do an inverse of suggestion from #748 then maybe?

[code]

[2020-05-22 20:03] icebob commented on #752
By the way, `omit` & `pick` should work with nested paths as well :) `_.pick(obj, ["a.b", "a.c"]);`

[2020-05-22 20:07] abdavid commented on #752
Noted :) I belive we then might be able to reuse #753 implementation there

[2020-05-22 20:09] abdavid commented on #433
@icebob Do we have any docs / guides on performance testing? Would be nessesary to have a before and after measurements to ensure we keep things speedy

[2020-05-22 21:11] icebob commented on #433
Yes, you can with `npm run bench`. It executes common performance benchmark tests, so you can measure before & after with it.

[2020-05-23 06:38] abdavid commented on #746
Some considerations aswell:

https://jsperf.com/for-of-vs-for-loop
https://jsperf.com/for-vs-for-in

[2020-05-23 06:53] icebob commented on #746
Yeah, the native `for(;;)` is the quickest, but we need to use better performance solution in the critical parts (action calling, event sending, transfer packets....etc).

So if there is a loop which processes something from the broker options only once at the startup, we can use any solution because it is not cut down the runtime performance.

[2020-05-23 10:20] #739 closed

[2020-05-23 12:26] #742 closed

[2020-05-23 12:29] #737 closed

[2020-05-23 17:01] #745 closed

[2020-05-23 17:02] #743 closed

[2020-05-23 17:12] #744 closed

[2020-05-23 17:12] icebob commented on #744
I've fixed it, be worth to mention that it works `_.assign(null,null) and returns `{}` but `Object.assign(null, null)` throws error.

[2020-05-23 17:25] #751 closed

[2020-05-23 17:36] icebob commented on #705
It's released.

[2020-05-23 17:36] #705 closed

[2020-05-23 17:58] #402 closed

[2020-05-23 20:43] Wallacy commented on #746
BTW: https://v8.dev/blog/fast-async

[2020-05-23 20:53] Wallacy commented on #740
Why not a simple `typeof a_string === 'string'` ?

[2020-05-23 20:58] abdavid commented on #740
That will suffice also, I was merely contemplating a reusable objectType detetion pattern for all the other `isX` utilities, but since we didnt go that way a regular `typeof x === "string"` will certainly do the trick.

[2020-05-23 21:27] Wallacy commented on #741
[code]

If the ideia is match _.isPlainObject

[code]
[code]

[2020-05-23 21:36] Wallacy commented on #738
If want to look this is what i use on my code:

https://gist.github.com/Wallacy/adf546f4de34848e8355d6a511d89647

Should be more simple on pure js;

[2020-05-24 08:16] abdavid commented on #741
Nice! Maybe you would want to create a PR for that? 👍

[2020-05-25 07:21] artem-khromov opened #759 "ActionParams type doesn't allow $$strict: 'remove' option"
ActionParams object values are restricted to string constants, boolean or ActionParamTypes.
Adding string type should fix this issue (or at least adding "remove" string constant).

https://github.com/moleculerjs/moleculer/blob/47722072f2f39bbbca9b91654073f39b886df33c/index.d.ts#L49-L66

[2020-05-25 11:55] AndreMaz commented on #759
I think that this issue is caused by `fastest-validator` v1. It introduced some changes but we didn't update the `ActionParamTypes`. Adding `string` type would solve the issue but if we do this then `string` constants would become meaningless.

There is also an issue with the [shorthand notation](https://github.com/icebob/fastest-validator#shorthand-definitions):

[code]
TS complains about it:
![i

[2020-05-25 12:04] Akhila-C-R commented on #47
Hi, I too get this issue, and I have not linked favicon anywhere on the project. How do I get rid of it? It's very annoying X(

[2020-05-25 12:34] icebob commented on #47
Put a favicon.ico beside index.html

[2020-05-25 12:46] Akhila-C-R commented on #47
But I don't need a favicon. And hence I have not linked it anywhere.

[2020-05-25 13:44] Wallacy commented on #741
Okay, i can do that.

[2020-05-25 14:43] sudeeep885 commented on #47
You can remove the favicon request by adding the following line in your `<head>` section of your HTML page -

`<link rel="icon" href="data:,">`

[2020-05-26 14:16] munjalpatel commented on #736
I have similar question. However, in our case, we **do** have a fairly decent K8S + Istio (Service Mesh) setup and was wondering if Molecular would be able to play nicely in such environment or if its even meant to.

[2020-05-26 15:07] Wallacy commented on #433
@icebob Another option to replace Vorpal: https://github.com/f/omelette

Has zero dependencies;

[2020-05-27 07:11] jellydn opened #762 "Detected a potential I/O issue on moleculer"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

## Current Behavior

- Try to use https://clinicjs.org/ to inspect the `moleculer

[2020-05-27 12:09] icebob commented on #433
Thanks @Wallacy but I think it's not a replacement of vorpal. It's just a part of it.

[2020-05-27 14:51] shawnmcknight commented on #759
@AndreMaz Unfortunately there is no way to have any sort of pattern matching or regex on strings (see [issue](https://github.com/microsoft/TypeScript/issues/6579)).  It makes the shorthand definitions somewhat impossible to type cleanly.

The other issue here is that, because validators are extensible, the types as defined here are not necessarily ever going to be correct, and type aliases cannot

[2020-05-27 18:43] #740 closed

[2020-05-27 18:43] #741 closed

[2020-05-27 23:17] ccampanale commented on #736
@munjalpatel It sounds like your organization/team falls into my thoughts above in the fourth paragraph. I don't think there is anything about Moleculer that would intrinsically prevent you from implementing the framework to build a microservice system deployed in the architecture you described.

All Moleculer services could be deployed as part of a single pod with one or more containers, or as mu

[2020-05-28 03:17] jellydn commented on #762
Hello @icebob I added the `reproduce` steps. Am I missing anything? Thanks.

[2020-05-28 06:46] icebob commented on #762
No, thanks, I saw, just I should reproduce it in my environment, as well. So this label is for me :)

[2020-05-28 21:04] oliversalzburg opened #764 "INFO key for nodes cannot be found on registry after Redis restart"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

When you're using the Redis discoverer, and redis restarts,

[2020-05-29 18:17] JordanPawlett commented on #101
Mentioned Cards against formality on the discord 'showcase' but thought i might as well drop it in here too! [https://cardsagainstformality.io/](https://cardsagainstformality.io/)

All open sourced, if anyone wants a good fully featured Moleculer example. Written in Typescript, deployed with Kubernetes. Hands down the best JS framework around for event-driven microservices.

![image](https://user-

[2020-05-29 19:38] icebob commented on #762
I can't reproduce because I've got error from clinic:

[code]

[2020-05-29 20:32] icebob commented on #101
Thanks Jordan, good job! I've added it to the site.
@AndreMaz could you add it to the [awesome site under Repositories category](https://github.com/moleculerjs/awesome-moleculer#repositories), as well? Thanks in advance.

[2020-05-30 02:19] jellydn commented on #762
Thanks. Could you try to reproduce on again with this repo? https://github.com/jellydn/moleculer-demo I just tried and reproduced above issue.

[2020-05-31 05:29] m301 commented on #101
We are using it at [TIKAJ](https://www.tikaj.com/), to service-based security intelligence all done in nodejs and golang.

![TIKAJ-Round](https://user-images.githubusercontent.com/16584558/83345177-d031c580-a32d-11ea-9c99-835e902c8807.png)

[2020-05-31 10:37] icebob commented on #101
Great @m301, I've added your logo to the site.

[2020-06-01 07:21] abhisheksinha1601 commented on #101
Hi @icebob
We are using Moleculer at [Doubtnut](https://doubtnut.com/). Great work!!

![alt text](https://lh3.googleusercontent.com/5B_9zOP40F5NKiGB9LCd2aI39aWt6HeQV2D74QO8ohGqMq9Y583dsvUUO4neZxVE5g=s180-rw "Doubtnut")

[2020-06-01 10:18] icebob commented on #101
Hi @abhisheksinha1601, good job! I've added your logo to the site, thanks!

[2020-06-02 00:50] fouber opened #765 "Create a large number of services dynamically, the services are lost after 10 minutes"
Hi, guys

My project needs to dynamically create multiple services to provide some resident services. When I create more than 200 services, these services start to be disconnected irregularly. I receive such a lot of warnings from other nodes:

[code]

When I call the action of these services, it has a timeout error.

I saw this description in the documentation for the latest version (v0.14.7):

I

[2020-06-02 12:20] intech commented on #765
@fouber local discovery depends on the transport used. Which one are you using?
Try using redis discovery for testing.

[2020-06-02 12:48] fouber commented on #765
@intech

I'm using NATS transporter.

Each time a service is dynamically created, a corresponding node will appear. When the node reaches more than 200, other nodes will receive the disconnected message very frequently, resulting in frequent restart of the service

[2020-06-02 16:24] icebob commented on #765
Try to increment the `heartbeatInterval` and `heartbeatTimeout` options.

[2020-06-03 06:37] ngraef commented on #725
I'm seeing this issue too. I filed https://github.com/DataDog/dd-trace-js/issues/970, but after more investigation I believe the core problem is moleculer [improperly setting IDs on the dd-trace spans](https://github.com/moleculerjs/moleculer/blob/master/src/tracing/exporters/datadog.js#L152). dd-trace's MessagePack encoder [expects the `traceId` and `spanId` to be 8 bytes](https://github.com/Data

[2020-06-03 08:41] icebob commented on #725
Yeah, it can be a problem, btw these 16-byte IDs work earlier. The main problem is that dd-trace has no exported method to create span_id & trace_id from an existing UUID and the private ID generation method in dd_trace always changes between versions. And I can't always rewrite this part in the exporter...
I mean, I can fix it for the current latest version of dd-trace, but it doesn't mean it wil

[2020-06-03 10:03] icebob commented on #725
@ngraef could you try it with the master, please?
It shows tracing for me
![image](https://user-images.githubusercontent.com/306521/83623874-2ef77900-a592-11ea-9b41-d57e3956d756.png)

[2020-06-03 14:14] rochdev commented on #725
I don't think this covers everything. Even if we were to expose everything that is needed by Moleculer, how will spans created by Moleculer interact with spans created by Datadog? For example, we usually automatically set the parent of a span based on the span that is currently active in the current execution context. This can only be done if spans are created while they are active, and not after

[2020-06-03 20:35] icebob commented on #725
@rochdev Yeah, this is currently a problem. The moleculer spans & datadog spans are not connected.
The problem is that Moleculer is a full complex framework with a built-in tracing solution which monitors all services (actions, events, custom spans...etc). So you can't create a dd-agent instrument for this, similar for express or redis where sufficient wrap some methods and the tracing will work.

[2020-06-03 22:30] rideddy84 commented on #725
I have the same problems. If making a perfect fix for this isn't easy, it would be better not producing unhandled exception.

[code]

[code]

[2020-06-03 23:04] rochdev commented on #725
@icebob Any way you can simply create spans using the existing API? Unless I'm misunderstanding something I think our public API already offers what you need, as long as it's possible to let `dd-trace` pick the IDs.

[2020-06-04 07:40] fouber commented on #765
I finally got to the root of the problem. My service had a serious memory leak that caused it to exceed the pM2 single-process memory limit and was killed. The killed node fails to report its disconnect status in time, resulting in a timeout for the service call

Thank you so much for your replies @intech @icebob . What a great project moleculer is!

[2020-06-04 07:40] #765 closed

[2020-06-04 08:56] IstenesImre commented on #762
@jellydn

[code]

debug.log:

[code]

[2020-06-04 16:59] icebob commented on #725
@rochdev could you show example how can I do that with dd-trace?

[2020-06-04 22:10] erfanium opened #766 "using secure JSON parser"
https://github.com/moleculerjs/moleculer/blob/8c728a3feea0c67cea34b77df1009ce97aed2d99/src/serializers/json.js#L49

It's better to use https://www.npmjs.com/package/secure-json-parse

[2020-06-04 23:54] rochdev commented on #725
@icebob You mentioned several operations that are traced above. If you can link me to the code of one of them and also to how it's currently traced I can try to do it using only our public interface if at all possible. If not, it will at least give me a better idea of how tracing works in Moleculer and what could be done to improve the interoperability.

[2020-06-05 07:05] icebob commented on #766
Thanks, but I don't plan to change it, because serializer is used for inside transportation between nodes and doesn't parse data from "evil" users.

Nevertheless, if somebody needs it, it takes only 5 minutes to create a SafeJsonSerializer with this lib and set in broker options.

[2020-06-05 07:05] #766 closed

[2020-06-05 08:39] #722 closed

[2020-06-05 11:40] erfanium commented on #766
@icebob How can I fix this from API gateway side? I read the API-Gateway codes, but seems it uses the core JSON parser.

[2020-06-05 14:05] srosset81 opened #767 "Stacktrace is not included in EventLegacy tracing"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed
- [X] I'm reporting the issue to the correct repository

## Current Behavior

I'm using moleculer-sentry package. To make it work, I setup